
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head th:replace="common/trail :: common-trail" />



  <body>
  
  		<div th:replace="common/trail :: navbar1"/>

		<!-- Only Admin Can See detail -->
		<div sec:authorize="hasAnyAuthority('Admin')">
		
	
		   <div class="#">
		  
		                    <div class="row" style="padding-top:  100px; padding-left: 30px">
		                                      
                            <div class="col-md-8 ">
                                
                                <div class="">    
                                <div th:if="${msg}">
   								 <span th:text="${msg}"></span>
 											 </div> </div>
 											 
                                                <div class="row" style="padding-left: 50px;"> 
                                                    <div class="col-md-5  shadow p-3 mb-5 bg-white rounded" style="padding-right: 15px ; width: 180px">
                         
                                                     <ul>  
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a th:href="@{Event}">Home</a>
                                                        </li>  
      
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a  th:href="@{Category}">Add Category</a></li>
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a th:href="@{Testimonial}">Add Testimonial</a></li>
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a th:href="@{Consaltant}">Add Consalantant</a></li>
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a th:href="@{Event}">Add Event</a></li>
                                                          
                                                      
                                                        
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a th:href="@{TutorialAdd}">Upload Tutorial</a></li>
                                                
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a th:href="@{addUploadQuestion}">Upload Question</a></li>
                                                       
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a href="">Add Master Trainer</a></li>
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a href="">Add Quality Reviweer</a></li>
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a href="">Add Domain Reviweer</a></li>
            
                                                         
                                                     </ul> 
                                                    </div>
                                                    <div class="col-md-1">          
                                                    </div>  
                                                    <div class="col-md-5  shadow p-3 mb-5 bg-white rounded"  style="padding-left: 30px" >
                                                       <ul> 
                                                        
                                                       <!--  <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a th:href="@{show_category}">Show Category</a></li> -->
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a th:href="@{show_testimonial}">Show Testimonial</a></li>
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a th:href="@{show_consalantant}">Show Consalantant</a></li>
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a th:href="@{show_Event}">Show Event</a></li> 
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a href="">Show Language</a></li>
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevroon-circle-right"></i><a href="@{}">Show Upload Question</a></li>
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a th:href="@{adminShowMasterTrainer}">Show Master Trainer</a></li>
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a th:href="@{adminShowQualityreviweer}">Show Quality Reviweer</a></li>
                                                        <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a th:href="@{adminShowDomainReviweer}">Show Domain Reviweer</a></li>
                                                        
                                                        </ul>
                                                </div>

                            </div> 
                        
              </div>
      </div> 

 </div>
 
 
 <div class="#">
        <div class="row"  style="padding-left: 80px; padding-right: 50px">
        
    						 <div class="col-4 shadow p-3 mb-5sdaasdas bg-white rounded">
                                          <ul>              
        
                                   				<li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a href="/approveRole">Approve Role</a></li>            
                                               
                                                <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a href="">Approve Tutorial</a></li>            
                                                <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a href="">Approve Consalantant</a></li>
                                                         
                                                <li style="font-size: 25px; color: deepskyblue"> <i class="fas fa-chevron-circle-right"></i><a href="">Approve Testimonial</a></li>
                                                            
                                               
                                       	</ul>
                       		</div>                                          
      </div>
 
 </div>
 
</div>



<div class="button-group" sec:authorize="">



	isAuthenticated() =<span sec:authentication="name"> </span> 
			

     <!--  -->
   	<div class="#">
   		
   		<div class="row"  style="padding-top: 160px; padding-left: 950px">
   			
   			
   		<div class="col-4 shadow p-3 mb-5 bg-white rounded">
	   		
	   		 <div>
	   		 			   <ul>	 
					     		<li>	<span>	<a  th:href="@{/addMeAsContributer}"> Add me as Contributer </a></span>	</li>	
								<li>	<span>	<a  th:href="@{/addMeAsDomainRevieweer}"> Add me as Domain Reviewer</a>	</span>	</li>	
								<li>	<span>	<a  th:href="@{/addMeAsQualityRevieweer}">Add me as as Quality Reviewer</a> </span></li>
								<li>	<span>	<a  th:href="@{/addMeAsMasterTrainer}">Add me as as Master Trainer</a> </span>  </li>
						 
						  </ul>

	    	</div>

   			</div>
   			
   			<div class="col-4 ">
   			

   			</div>
			   			<div class="col-4">
			   			
			   			</div>
   			
   	
   			</div>
   		
   		</div>
   	
	</div>


<div sec:authorize="hasAnyAuthority('DomainReviweer')">

		<H4 style="padding-left: 50px ;color: gray;">Welcome to Domain Reviweer</H4>
		
		
			<div class="#">
	<div class="" style="padding-left: 50px; padding-top: 100px">
	
	<div class="row">
		  <div class="col-2">
		    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
		      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Review Tutorial	</a>
		      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Feedback Form</a>
		        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Feedback Form</a>
		    </div>
		  </div>
		  <div class="col-10">
		    <div class="tab-content" id="v-pills-tabContent">..
		    
		      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
		      
		    		
  
		      </div>
		      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
		      
		      
		      
		    		<div class="container">
		    		
		    		<div class="">
		    		
		    		 <div class="h4  text-xs-center" style="color: chocolate; padding-top: 8px; padding-left: 300px;" >View  Tutorial</div>
		    		
		    		<div class=" col-md-12" style="padding-left: 10px">
		    		
	


          	     <div>
					        <h2>Tutorial List</h2>
					        
					        <table class="table table-striped">
					            <tr>
					                <th>Name</th>
					                <th>Language</th>
					          	    <th>Image</th>
					                <th >View</th>
					                <th>Edit</th>
					                <th>Delete</th>
					            </tr>
					            	<tr th:each="tutorials : ${tutorials}" style=""> 
						            	<td th:text="${tutorials.topicname}">Name</td>
						       			 <td th:text="${tutorials.language}">Language</td>
						               
						                <td>
				
						                  	 <iframe width="330" height="215" th:src="${tutorials.video}" frameborder="0"
						   					 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true">	 
						   			
						   			 		</iframe>
						   			 		
						                </td>  
						                
						                
					               <!--  <td><a th:href="${'/tutorials/'+ tutorials.id}">View</a></td>
					                <td><a th:href="${'tutorials/edit/' + tutorials.id}">Edit</a></td>
					                
					                <td><a th:href="${'/tutorials/delete/' + tutorials.id}">Delete</a></td>
       -->
					            </tr>
					        </table>
					    </div>
	
												   <button type="submit" class="btn  btn-success">Submit</button>
				
					</div>
				
		    		</div>
		    		
		    		
		    		</div>
		    
		    
		   
		      
		      </div>
		      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

							<div class="container">
		    		
		    		<div class="row shadow p-3 mb-5 bg-white rounded">
		    		 <div class="h4  text-xs-center" style="color: chocolate; padding-top: 8px; padding-left: 300px;" >Feedback form</div>
		    		<div class=" col-md-12" style="padding-left: 100px">
		    		
		    
						    <form action="/feedback" >
						    
								 
									  <div class="form-group ">
									  
								 <label for="nameOfMasterTrainerId">Name</label> 
								 <input type="text" class="form-control w-75" id="nameOfMasterTrainerId" name="nameOfMasterTrainer" required="required"/>
													  
									   </div>
									   
					      		<div class="form-group ">
					      
					               <label for="emailId">Email</label>
							<input type="text" class="form-control w-75" id="emailId" name="email" required="required"/>

							</div>
								 
					<div class="form-group ">
					      
					               <label for="messageId">Enter  Message</label>
					       	
						 <textarea class="form-control w-75"  name="traningInformation" rows="5" id="messageId" style="width: 300px" required="required"></textarea> 
							</div>
						   <button type="submit" class="btn  btn-success">Submit</button>
							</form>
				
					</div>
				
		    		</div>
		    		
		    		
		    		</div>

				</div>
		      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
		    </div>
		  </div>
		</div>
	
	
	</div>
	</div>
</div>

<div sec:authorize="hasAnyAuthority('MasterTrainer')">

						<h4>Welcome to Master Trainer </h4> 	
						
						
 								<div class="">   
                                <div class="align-center" th:if="${msg}" style="color: chocolate; padding-top: 8px; padding-left: 300px;">
   								 <span th:text="${msg}"></span>
 											 </div> </div>
	<div class="#">
	<div class="" style="padding-left: 50px; padding-top: 160px">
	
	<div class="row">
		  <div class="col-3">
		    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Add Training Information</a>
		      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Questionaire	</a>
		      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Feedback Form</a>
		      
		    </div>
		  </div>
		  <div class="col-9">
		    <div class="tab-content" id="v-pills-tabContent">
		      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
		      
		    		<div class="container">
		    		
		    		<div class="row shadow p-3 mb-5 bg-white rounded">
		    		
		    		<span style="color: gray; font-family: cursive; text-shadow: 10px"><H2> </H2></span>
		    		
		    		
		    		  <div class="h4  text-xs-center" style="color: chocolate; padding-top: 8px; padding-left: 300px;" >Add Traning Information</div>
		    		<div class=" col-md-12" style="padding-left: 100px">
		    		
 
 					<p id="demo"></p>
		    
						    <form action="/traninigMasterInformation" method="post" enctype="multipart/form-data">
						    
									  <div class="form-group ">
									    <label for="date">Date </label>
									    <input type="date" class="form-control w-75" name="date" id="date" required="required"/>
									  </div>
  
								 <div class="form-group">
								 	  
									   <label for="categoryName">Select category </label>
									    
                                        <select id="categoryId" class="form-control w-75" name="categoryName"  style="width: 400px" required="required" >
								               
								                        <option selected="selected">Select Category</option>      
								                        <span th:each="category: ${categorys}">
								  								<option th:value="${category.getId()}"><span th:text="${category.categoryname}"></span></option>		
								  						</span>
									  </select>
									  
								 </div>	   
							      <div class="form-group ">
							      
							               <label for="inputTopic">Select Topic</label>
							       				   
							                    <select id="inputTopic" class="form-control w-75" name="inputTopic" style="width:400px" required="required">
							              
							                    </select> 
									</div>
								   
					      <div class="form-group ">
		
					               <label for="inputLanguage">Select Language</label>
					       	
					                    <select id="inputLanguage" class="form-control w-75" name="inputLanguage" style="width:400px" required="required">
					              
					                    </select> 
							</div>
							
					
						
						<div class="form-group">
									    <label for="participants">Participants</label>
									    <input type="number" class="form-control w-75" pattern="[0-9]" id="participants" required="required"/>
					
						 </div>	 
						 
						 <div class="form-group">
						 
						 
									    <label for="traningInformationId">Traning Information</label>
								
                                         <textarea class="form-control w-75"  name="traningInformation" rows="5" id="traningInformationId" style="width: 300px" required="required"></textarea>
	
						 </div>	 
					 
						 <div class="form-group">
									    <label for="state">State</label>
									    <input type="text" class="form-control w-75" name="stateName" id="state" required="required"/>
						 </div>		 
						 
						 	 <div class="form-group">
									    <label for="pinCodeId">PinCode</label>
									    <input type="number" class="form-control w-75" name="pinCode" pattern="[0-9]" id="pinCodeId"   minlength="6"  maxlength="6"  required="required"/>
						 </div>	
							

						  <div class="form-group">
						
						  		 <label for="ParticipantsDe	////atailId">Participants Deatail</label>
						      <input type="file" class="form-control w-75" id="ParticipantsDeatailId" name="ParticipantsDeatail" required="required"/>
				
						    </div>
						    
						    
						    		  
						  <div class="form-group">
						
						  		 <label for="ParticipantsPhoto">Participants Photo</label>
						      <input type="file" class="form-control w-75" id="ParticipantsPhotoId" name="ParticipantsPhoto" required="required"/>
				
						    </div>
						    
						        
						   <button type="submit" class="btn  btn-success"  data-toggle="modal" onclick="myFunction()">Submit</button>
							</form>
				
					</div>

		    		</div>
		    		
		    		
		    		</div>
  
		      </div>
		      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
		      
		      
		      
		    		<div class="container">
		    		
		    		<div class="row shadow p-3 mb-5 bg-white rounded">
		    		
		    		 <div class="h4  text-xs-center" style="color: chocolate; padding-top: 8px; padding-left: 300px;" >Download Question</div>
		    		
		    		<div class=" col-md-12" style="padding-left: 100px">
		    		
		    
						    <form action="/Quetion" method="post">
						    
										    
						 <div class="form-group">
								 	  
									   <label for="categoryName">Select category </label>
									    
                                        <select id="catId" class="form-control w-75" name="categoryname"  style="width: 400px" required="required" >
								               
								                        <option selected="selected">Select Category</option>      
								                        <span th:each="category: ${categorys}">
								  								<option th:value="${category.getId()}"><span th:text="${category.categoryname}"></span></option>		
								  						</span>
									  </select>
								 </div>	   
			 
			 
					 <div class="form-group ">
		
					               <label for="inputLanguage">Select Language</label>
					               
					                    <select id="inputLanguage1" class="form-control w-75" name="inputLanguage" style="width:400px" required="required">
	
	
					                    </select> 
					</div>
					
					 <div class="form-group ">
							 <a class="pdfclass" id="input" target="_blank">Visit W3Schools.com!</a> 
					 
					 </div>
												   <button type="submit" class="btn  btn-success">Submit</button>
								  
							</form>
					</div>
		    		</div>
		    		</div>
		      </div>
		      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

							<div class="container">
		    		
		    		<div class="row shadow p-3 mb-5 bg-white rounded">
		    		 <div class="h4  text-xs-center" style="color: chocolate; padding-top: 8px; padding-left: 300px;" >Feedback form</div>
		    		<div class=" col-md-12" style="padding-left: 100px">
		    		
		    
						    <form action="/feedback" >
						    
								 
									  <div class="form-group ">
									  
								 <label for="nameOfMasterTrainerId">Name</label> 
								 <input type="text" class="form-control w-75" id="nameOfMasterTrainerId" name="nameOfMasterTrainer" required="required"/>
													  	////
									   </div>
									   
					      		<div class="form-group ">
					      
					               <label for="emailId">Email</label>
							<input type="text" class="form-control w-75" id="emailId" name="email" required="required"/>

							</div>
								 
					<div class="form-group ">
					      
					               <label for="messageId">Enter  Message</label>
					       	
						 <textarea class="form-control w-75"  name="traningInformation" rows="5" id="messageId" style="width: 300px" required="required"></textarea>
 
							</div>
								 
								 
					    
						        
						   <button type="submit" class="btn  btn-success">Submit</button>
							</form>
				
					</div>
				
		    		</div>
		    		
		    		
		    		</div>

				</div>
		      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
		    </div>
		  </div>
		</div>
	
	
	</div>
	</div>


<div class="container">
   		
   		<div class="row" style="padding-top: 160px" >
   			
 
   			
   			<div class="col-4 ">
   			

   			</div>
			   			<div class="col-4">
			   			
			   			</div>
   			
   
   			</div>
   		
   		</div>

</div>


<div sec:authorize="hasAnyAuthority('Contributer')">


		 <link rel="stylesheet" href="css/style3.css"/>
 	 	<link rel="stylesheet" href="css/bootstrap.min.css"/> 
 	 	
 	 	
		<h4>hello</h4>

	<div class="container" style="padding-top: 90px">
	
	
	    <div class="row">
	      <div class="col-lg-10 col-xl-9 mx-auto">
	        <div class="card card-signin flex-row my-5">
	       
	          <div class="card-body">
	            <h5 class="card-title text-center">Contributer</h5>
	       <ul>
	           
	   		 <li><a href="/revokeRequest">Revoke Contributer Role</a></li>
	   		 
	   		
	       </ul>     
	        <!--    <form th:action="@{/newUsera}" method="post">
			            
			            
			            
			              <div class="form-group">  
			                     <label for="inputUserame">Add Category</label>     
			              <select id="categoryId" class="form-control " name="categoryName"   required="required" >
								               
								               
								                        <option selected="selected">Select Category</option>      
								                        <span th:each="category: ${categorys}">
								  								<option th:value="${category.getId()}"><span th:text="${category.categoryname}"></span></option>		
								  						</span>
							 </select>
	           
			              
			              <div class="form-group ">
		
					               <label for="inputLanguage">Select Language</label>
					       	
					                    <select id="inputLanguage" class="form-control" name="inputLanguage"  required="required">
					              
					                </select> 
					                    
					                    
						 </div>
						 
						       
			              <div class="form-group ">
		
					               <label for="inputLanguage">Select Topic</label>
					       	
					                    <select id="inputLanguage" class="form-control" name="inputLanguage"  required="required">
					              
					                </select> 
					                    
					                    
						 </div>
			              
		
	          			 </div>
  				 </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>



				

</div>




<div sec:authorize="hasAnyAuthority('QualityReviweer')">

<h4>Welcome to Quality </h4>

<div class="container">

   		<div class="row" style="padding-top: 160px">
		
   		<div class="col-4 shadow p-3 mb-5 bg-white rounded" >	
	   		 <div>
	   		 
	   		 			     <ul>	 
					     				<!-- <a  th:href="@{/addMeAsAdmin}">Add me as Admin</a> -->
								<li>	<span>	<a  th:href="@{/addMeAsDomainRevieweer}"> Add me as Domain Reviewer</a>	</span>	</li>	
								<li>	<span>	<a  th:href="@{/addMeAsQualityRevieweer}">Add me as as Quality Reviewer</a> </span></li>
								<li>	<span>	<a  th:href="@{/addMeAsMasterTrainer}">Add me as as Master Trainer</a> </span>  </li>
							</ul>
		
	    	</div>

   			</div>
   			
   			<div class="col-4 ">
   			

   			</div>
			   			<div class="col-4">
			   			
			   			</div>

   	
   			</div>
   		
   		</div>


</div>
<div th:fragment="body-bottom-scripts"></div>
 </body>
</html>


