<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org">  

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" th:href="@{/s/css/style.css}"/>
  <link rel="stylesheet" th:href="@{/s/css/bootstrap.min.css}"/>
  
</head>
      <header role="banner">
              <div class="top-bar">
                    <a th:herf="@{Admin_Template}">  <img th:src="@{/img/logo.png} "></img></a><span style="color: indianred">Health Nutrition</span>
                <div class="container">
                  <div class="row">
                  </div>
                </div>
              </div>
      </header> 

  <body>
      <div class="#">
        <div class="row" style="padding-top: 130px">
                  <div class="col-4">

                  </div>
                  <div class="col-4 shadow p-3 mb-5 bg-white rounded">
 
                      
                     <div class="h4 text-centre" style="color: chocolate; text-align: center; padding-top: 8px" >EVENTS</div> 
                    
            
            <form class="form-horizontal"  th:action="@{/eventUpdate}" method="post">
                        
                        <span th:each="event : ${events}">
    
      				 <input type="hidden"  name="eventId"  th:value="${event.id}"/>
      				 
   
                          <div class="row" style="padding-top: 30px">
  
                             <div class="row" style="padding-top: 20px">
                                  
                               
                                    <div class="col-5" style="padding-left:35px">
                                                   <label for="event">Event Name</label> 
                                     </div>

                                    <div class="col-7" style="padding-left: 25px">
                                                   <input type="text" class="form-control" id="event" name="eventname" style="width: 300px;" th:value="${event.eventname}"/>

                                     </div>
                              </div>
            
                             <div class="row" style="padding-top: 20px">
                                  
                               
                                    <div class="col-5" style="padding-left:35px">
                                                   <label for="eventdate">Event Date</label> 
                                     </div>

                                    <div class="col-7" style="padding-left: 26px">
                                                   <input type="date" class="form-control" id="eventdate" name="date" style="width: 300px;" th:value="${event.date}"/>

                                     </div>

                              </div>  
                              
  
                                    <div class="row" style="padding-top: 20px">
                                  

                                                <div class="col-5" style="padding-left:35px">
                                                               <label for="eventDescription" style="padding-top: 40px">Enter Description</label> 
                                                 </div>

                                                <div class="col-7">
                                                               <textarea class="form-control" rows="5" id="eventDescription" name="description" style="width: 300px" th:text="${event.description}"></textarea>
                                                 </div>

                                    </div>
                              
                              
                               <div class="row" style="padding-top: 20px">
                                  
                               
                                    <div class="col-5" style="padding-left:35px">
                                                   <label for="venue">Venue Name</label> 
                                     </div>

                                    <div class="col-7" style="padding-left: 25px">
                                                   <input type="text" class="form-control" id="venue" name="venuename" style="width: 300px;" th:value="${event.venuename}"/>
                                     </div>

                              </div>
                              
                              
                               <div class="row" style="padding-top: 20px">
  
                                    <div class="col-5" style="padding-left:35px">
                                                   <label for="contactperson">Contact Person</label> 
                                                   
                                     </div> 
                      
  
                                    <div class="col-7" style="padding-left: 20px">
                                                   <input type="text" class="form-control" id="contactperson" name="contactperson" style="width: 300px;" th:value="${event.contactperson}"/>
                                   
                                     </div>
                              </div>  
                              
                               <div class="row" style="padding-top: 20px">
                                  
                                    <div class="col-5" style="padding-left:35px">
                                                   <label for="contactnumber">Contact Number</label> 
                                     </div>

                                    <div class="col-7" style="padding-left: 20px">
                                                   <input type="text" class="form-control" id="conatctNumber" name="contactnumber" style="width: 300px;" th:value="${event.contactnumber}"/>

                                     </div>

                              </div>
                                  
                               <div class="row" style="padding-top: 20px">
                                  
                               
                                    <div class="col-5" style="padding-left:35px">
                                                   <label for="email">Email Id</label> 
                                        
                                     </div>


                                    <div class="col-7" style="padding-left: 37px">
                                        
                                    	  <input type="text" class="form-control" id="email" name="email" style="width: 300px;" th:value="${event.email}"/>
                                    
                                    </div>

                              </div>
        
                                            <div class="row"> 
                                                  
                                                  <div class=""  style="padding-left: 250px; padding-top: 20px">
                                                            <button type="submit" class="btn btn-success">Submit</button>

                                                  </div>
                                              </div>
                  </div>
                  
                  </span>
                      </form>
            </div>
          </div>
      </div>



<!--footer --> 
      <div class="#">

          <div class="aaic-grbg1 pt-3 py-3 " style="height:300px">
              
              <h3></h3>
              
          </div>     
      </div>
        <script th:src="@{/statics/s/css/all.css}"></script>
         <script th:src="@{/static/s/js/all.js}"></script>
        <script th:src="@{/static/s/css/bootstrap.min.css}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script th:src="@{/static/s/js/bootstrap.min.js}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
