target/
bin/
!.mvn/wrapper/maven-wrapper.jar

src/main/resources/application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
src/main/resources/static/s/Media/content/
.nb-gradle/
logs/
