
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail"></head>

<style>
.fa-user-circle,.fa-comment-alt,.fa-clock{
color : #014F7A;}
#sm_url:hover,#slidName:hover{
background: none!important;}

</style>

<body>
<div th:replace="common/sidebar :: top_header"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 col-lg-2 pr-0">
			<div th:replace="common/sidebar :: contributor_sidebar"></div>
		</div>
		<div class="col-md-9 col-lg-10 p-md-5">
			<div class="card">
				<div class="card-header"><h1 class="title-1">Domain Review</h1></div>
					<div class="card-body">
						<div class="row">
							<div class="col">
								<table class="table table-bordered">
								<thead>
									<tr>
										<th>Category</th>
										<td>
											 <input class="form-control" id="categoryId" th:value="${category}" readonly="readonly"></input>
										</td>
									</tr>
								</thead>
								<thead>
									<tr>
										<th>Topic Name</th>
										<td>
											<input class="form-control" id="topicId"  th:value="${topic}" readonly="readonly"></input>
										</td>
									</tr>
								</thead>
								<thead>
									<tr>
										<th>Language Name</th>
										<td> 
											<input class="form-control" id="lanId" th:value="${language}" readonly="readonly"></input>
										</td>
									</tr>
								</thead>
							</table>
							<input type="hidden" id="tutorialId" th:value="${tutorial.getTutorialId()}" />
							<table class="table table-bordered table-domain table-hover" >
								<thead>
									<tr>
										<th>Sr No</th>
										<th>Component</th>
										<th>Status</th>
										<th>User</th> 
										<th><i class="fas fa-cogs"></i></th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>1</td>
										<td>Outline</td>
										<td><span th:text="${statusOutline}" data-comp="outline"></span></td>
										<td><span th:if="${tutorial.getOutlineUser()}" th:text="${#strings.capitalizeWords(tutorial.getOutlineUser().getFullName())}"></span></td>
										<th>
											<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalOutlineDomain"
												data-whatever="@mdo"> <i class="fas fa-eye"></i>
											</button> 
										</th>
									</tr>
									<tr>
										<td>2</td>
										<td>Script</td>
										<td><span th:text="${statusScript}" data-comp="script"></span></td>
										<td><span  th:if="${tutorial.getScriptUser()}" th:text="${#strings.capitalizeWords(tutorial.getScriptUser().getFullName())}"></span></td>
										<th>
											<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalScriptDomain"
													data-whatever="@mdo"> <i class="fas fa-eye"></i>
											</button>
										</th>
									</tr>
									<tr>
										<td>3</td>
										<td>Video</td>
										<td><span  th:text="${statusVideo}" data-comp="video"></span></td>
										<td><span  th:if="${tutorial.getVideoUser()}" th:text="${#strings.capitalizeWords(tutorial.getVideoUser().getFullName())}"></span></td>
										<th>
											<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalVideoDomain"
												data-whatever="@mdo"><i class="fas fa-eye"></i>
											</button> 
										</th>
									</tr>
									<tr th:if = "${isEnglish}">
										<td>4</td>
										<td>Slide</td>
										<td><span th:text="${statusSlide}" data-comp="slide"></span></td>
										<td><span  th:if="${tutorial.getSlideUser()}" th:text="${#strings.capitalizeWords(tutorial.getSlideUser().getFullName())}"></span></td>
										<th>
											<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalSlideDomain"
												data-whatever="@mdo"><i class="fas fa-eye"></i>
											</button>
										</th>
									</tr>

									<tr th:if = "${isEnglish}">
										<td>5</td>
										<td>Keywords</td>
										<td><span  th:text="${statusKeyword}" data-comp="keyword"></span></td>
										<td><span  th:if="${tutorial.getKeywordUser()}" th:text="${#strings.capitalizeWords(tutorial.getKeywordUser().getFullName())}"></span></td>
										<th>
											<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalKeywordDomain"
												data-whatever="@mdo"> <i class="fas fa-eye"></i>
											</button> 
										</th>
									</tr>
										<tr th:if = "${isEnglish}">
										<td>6</td>
										<td>Pre-Requisite</td>
										<td><span th:text="${statusPreReq}" data-comp="prerequisite"></span></td>
										<td><span  th:if="${tutorial.getPreRequiticUser()}" th:text="${#strings.capitalizeWords(tutorial.getPreRequiticUser().getFullName())}"></span></td>
										<th>
											<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalPreReqDomain"
												data-whatever="@mdo"> <i class="fas fa-eye"></i>
											</button>
										</th>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
</div>
	
<!--  Outline  Modal-->
						<div class="modal fade modal-status" id="modalOutlineDomain" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabelOutlineView"
							aria-hidden="true" data-backdrop="static" data-keyboard="false">
							<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<div class="w-100">
											<h5 class="modal-title" id="exampleModalLabelOutlineView">Domain Review - Outline</h5>
										</div>
										<button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="row">
										<div class="col-12">
										<!-- todo --><div class="alert alert-msg" style="display: none;"></div>
										<div th:if="${tutorial.getOutlineStatus() != 2}"><div class="alert alert-info">Not valid for review</div></div>
										<div class="card mb-2">
  <div class="card-header">
    <span class="font-weight-bold"><span th:text="${category}"></span> | <span th:text="${topic}"></span></span>
  </div>
  <div class="card-body"><span th:utext="${tutorial.getOutline()}"></span></div>
</div>
										<div class="alert d-none w-100 mt-3" role="alert"></div>
										
										<div th:if="${tutorial.getOutlineStatus() == 2}" class="col-12 px-0">
							<div th:replace="common/commonElements :: review_feedback('outline','domain')"></div>
						</div>
																				</div>
										<div class="col-12">
											<div th:replace="common/commonElements :: comment_review(${comOutline})"></div>
										</div>
										</div>
									</div>
									<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
						
						<div class="modal fade modal-status" id="modalKeywordDomain"
							tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabelKeyWordView" aria-hidden="true" data-backdrop="static" data-keyboard="false">

							<div
								class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
								role="document">
								<div class="modal-content">
								 
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabelKeyWordView">Domain Review - Keyword</h5>
										<div class="modal-title"></div>

										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
									<div class="row">
									<div class="col-12">
									<!-- todo --><div class="alert alert-msg d_kw_status" style="display: none;"></div>
									<div class="card mb-2">
  <div class="card-header">
    <span class="font-weight-bold"><span th:text="${category}"></span> | <span th:text="${topic}"></span></span>
  </div>
  <div class="card-body">
  <div th:if="${tutorial.getKeywordStatus() == 2}">
  <div class="border p-2 mb-5">
	<span th:utext="${tutorial.getKeyword()}"></span>
  </div>
  </div>
    <div th:if="${tutorial.getKeywordStatus() != 2}">
    <div class="alert alert-info">Not valid for review</div>
    <div class="border p-2 mb-5">
											<span>No keywords available.</span>
										</div>
    </div>
    
									
										
  </div>
</div>
									
										<div>
										<!-- todo --><div class="alert alert-success w-100 d_c_kw mt-3" role="alert" style="display:none;"></div>
										<div th:if="${tutorial.getKeywordStatus() == 2}" class="col-12 px-0">
										

							<div th:replace="common/commonElements :: review_feedback('keyword','domain')"></div>						
										</div>
									</div>
									
									</div>
									<div class="col-12">
									<div th:replace="common/commonElements :: comment_review(${comKeyword})"></div>
									
									</div>
										
										</div>
									</div>
									<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
										</div>
									

								</div>
							</div>
						</div>


						<div class="modal fade" id="modalVideoDomain" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabelKeyWordView"
							aria-hidden="true" data-backdrop="static" data-keyboard="false">

							<div
								class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
								role="document">
								<div class="modal-content">
								  
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabelKeyWordView">Domain Review - Video</h5>
										<div class="modal-title"></div>

										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
									<div class="row">
									<div class="col-12">
									<div class="alert alert-msg" style="display: none;"></div>
									<div class="card mb-2">
  <div class="card-header">
    <span class="font-weight-bold"><span class="font-weight-bold"><span th:text="${category}"></span> | <span th:text="${topic}"></span></span></span>
  </div>
  <div class="card-body">
    <div th:if="${tutorial.getVideoStatus() != 2}"><div class="alert alert-info">Not valid for review</div></div>
									<div class="form-group mb-3">


											
												<div th:if="${tutorial.getVideo() != null}" class="embed-responsive embed-responsive-16by9 mb-5">
  											<video id='storedVideoId' 
														controls="controls" style="width:100%!important;">
													
													<source th:src="@{/files/}+@{${tutorial.getVideo()}}" type="video/mp4"></source>
													</video>
											</div>
											<table class="table table-bordered">
											<tbody>
											<tr>
												<td>Video Duration</td>
      											<td><span th:text="${FileDurationInSecond}"></span> Seconds</td>
											</tr>
											<tr>
												<td>Video File Size</td>
      											<td><span th:text="${fileSizeInMB}"></span> MB</td>
											</tr>
											<tr>
												<td>Video Width</td>
      											<td><span th:text="${FileWidth}"></span></td>
											</tr>
											<tr>
												<td>Video Height</td>
      											<td><span th:text="${FileHeight}"></span></td>
											</tr>
											
											</tbody>
											</table>

											</div>
  </div>
</div>
									
											<div>
											<div class="alert d_video_cmt" style="display: none;"></div>
											<div th:if="${tutorial.getVideoStatus() == 2}">
											<div th:replace="common/commonElements :: review_feedback('video','domain')"></div>
											</div>
										</div>
									
									</div>
									<div class="col-12">
									<div th:replace="common/commonElements :: comment_review(${comVideo})"></div>
									</div>
									</div>
											
										

									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
									</div>

								</div>
							</div>
						</div>

				<div class="modal fade" id="modalScriptDomain"
							tabindex="-1" role="dialog" data-backdrop="static"
							data-keyboard="false" 
							aria-labelledby="exampleModalLabelscriptStatus"
							aria-hidden="true">

							<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabelscriptStatus">Domain Review - Script</h5>

										<div class="modal-title"></div>

										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
									<div class="row">
									<div class="col-12">
									<div class="alert alert-msg" style="display: none;"></div>
									<div th:if="${tutorial.getScriptStatus() != 2}"><div class="alert alert-danger">Not valid for review.</div></div>
									<div class="alert alert-info" role="alert">
  												<i class="fas fa-external-link-alt"></i> <a th:href="${sm_url}" class="alert-link" style="text-decoration: underline;color: #014F7A;" target="_blank" id="sm_url">Click here to proceed to Script Manager</a>
											</div>
									
										<div class="alert alert-success w-100 d_c_script mt-3" role="alert" style="display:none;"></div>
										<div th:if="${tutorial.getScriptStatus()==2}">
										<div th:replace="common/commonElements :: review_feedback('script','domain')"></div>
										</div>
									</div>
									<div class="col-12">
									<div th:replace="common/commonElements :: comment_review(${comScript})"></div>
																
									</div>
									</div>
										
									</div>
									<div class="modal-footer">
									
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>

								</div>
							</div>
						</div>



<!-- here is code for pre
 -->
<div class="modal fade" id="modalPreReqDomain" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabelKeyWordView"
							aria-hidden="true" data-backdrop="static" data-keyboard="false">

							<div
								class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
								role="document">
								<div class="modal-content">
								
								  
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabelKeyWordView">Domain Review - Prerequisite</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-12">
											<!-- todo --><div class="alert alert-msg d_status" style="display: none;"></div>
											<div th:if="${tutorial.getPreRequisticStatus()!=2}"><div class="alert alert-info">Not valid for review</div></div>
											
											<div class="card mb-2">
  <div class="card-header">
    <span class="font-weight-bold">Selected prerequisite :</span>
  </div>
  <div class="card-body">
  <span></span>
    <div class="form-group mb-3" th:if="${tutorial.getPreRequisticStatus()>0}">

												<div th:if="${tutorial.getPreRequistic()!=null}" class="embed-responsive embed-responsive-16by9 mb-5">
												
							  					<video id='storedDomainPreId' 
														controls="controls" style="width:100%!important;">
													
													<source  th:src="@{/files/}+@{${tutorial.getPreRequistic().getVideo()}}" type="video/mp4"></source>
													
												</video>
												</div>
												
												<div th:unless="${tutorial.getPreRequistic()!=null}" class="alert alert-secondary upload-status" role="alert" >This tutorial has no prerequisite. </div>
												

											</div>
  </div>
</div>

											
											<!-- todo --><div class="alert alert-success w-100 d_c_pre mt-3" role="alert" style="display:none;"></div>
											<div th:if="${tutorial.getPreRequisticStatus()==2}">
											<div th:replace="common/commonElements :: review_feedback('prerequisite','domain')"></div>
											
										</div>
											</div>
											<div class="col-12">
											<div th:replace="common/commonElements :: comment_review(${comPreReq})"></div>
												
											</div>
										</div>

											

									</div>
									<div class="modal-footer">
									
									
									<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
									
									</div>

								</div>
							</div>
						</div>

						<div class="modal fade" id="modalSlideDomain" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabeSlideStatus"
							aria-hidden="true" data-backdrop="static"
							data-keyboard="false">

							<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabeSlideStatus">Domain Review - Slide</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
									<div class="row">
									<div class="col-12">
									<div th:if="${tutorial.getSlideStatus() != 2}"><div class="alert alert-info">Not valid for review</div></div>
									<!-- todo --><div class="alert alert-msg" style="display: none;"></div>
									<!-- todo --><div class="alert alert-info" role="alert">
  <div th:if="${tutorial.getSlideStatus()}">
											
												
												<span id="scriptIdDomain"> 
											<a class="alert-link sm_url" target="_blank" id="slidName"
											th:href="@{/files/}+@{${tutorial.getSlide()}}" style="text-decoration: underline;color: #014F7A;">
												
												<i class="fas fa-external-link-alt"></i> Click to download slides for <span class="font-weight-bold"><span th:text="${category}"></span> | <span th:text="${topic}"></span></span></a>
										</span>
											
											</div>
  
</div>
									
									<!-- todo --><div class="alert alert-success w-100 d_c_slide mt-3" role="alert" style="display:none;"></div>
									<div th:if="${tutorial.getSlideStatus()==2}">
									<div th:replace="common/commonElements :: review_feedback('slide','domain')"></div>
																			</div>
									</div>
									<div class="col-12">
									<div th:replace="common/commonElements :: comment_review(${comSlide})"></div>
																</div>
									
									
									</div>
									<div th:unless="${tutorial.getSlideStatus()}" class="alert alert-secondary upload-status" role="alert">
									  No Slide has been added yet.
									</div>
									

										

									</div>
									<div class="modal-footer">
									
									
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												
									</div>

								</div>
							</div>
						</div>


	<div th:replace="common/trail :: body-bottom-scripts"></div>
	
	
	<script th:inline="javascript">
		var projectPath='[(@{/})]';
		var filep='[(@{/files/})]';
		
	</script>
	
</body>
</html>

