
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head th:replace="common/trail :: common-trail"></head>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid px-0">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div class="card">
					<div class="card-header">
						<h4>Tutorial</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-12">

								<form th:action="@{/submitTutorial}" method="post">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Category</th>
												<td><input class="form-control" id="categoryId"
													name="categoryName" th:value="${category}"
													readonly="readonly"></input></td>

											</tr>
										</thead>

										<thead>
											<tr>

												<th>Topic</th>
												<td><input class="form-control" id="topicId"
													name="categoryName" th:value="${topic}" readonly="readonly"></input>

												</td>
											</tr>



										</thead>
										<thead>
											<tr>
												<th>Language</th>
												<td><input class="form-control" id="lanId"
													name="languageName" th:value="${language}"
													readonly="readonly"></input></td>
												<input type="hidden" id="tutorialId"
													th:value="${tutorial.getTutorialId()}" />
											</tr>
										</thead>

										

									</table>

									<table class="table table-bordered"
										style="background: #FAD0C9FF">

										<thead>
											<tr>

												<th>Sr No</th>
												<th>Component</th>
												<th>Status</th>
												<th>User</th>
												<th><i style="color: purple; width: 30px"
													class="fas fa-cogs"></i></th>

											</tr>
										</thead>

										<tbody>
											<tr>
												<td>1</td>
												<td>Outline</td>
												<td><span th:each="statusOutline : ${statusOutline}">
														<span style="color: green;" th:text="${statusOutline}">Pending</span>
												</span></td>
												<td>
												<span style="color: green;" th:if="${tutorial.getOutlineUser()}" th:text="${tutorial.getOutlineUser().getUsername()}"></span>
												</span></td>
												
												<th>
													<button type="button" class="btn btn-info"
														data-toggle="modal" data-target="#outlineViewModelDomain"
														data-whatever="@mdo">
														<i class="fas fa-eye"></i>
													</button> 
												</th>

											</tr>
											<tr>

												<td>2</td>
												<td>Script</td>
												<td><span th:each="statusScript :${statusScript}">
														<span style="color: green;" th:text="${statusScript}">Pending</span>
												</span></td>
												<td>
												<span style="color: green;" th:if="${tutorial.getScriptUser()}" th:text="${tutorial.getScriptUser().getUsername()}"></span>
												</span></td>
												
												<th>
													  <span><button
															type="button" class="btn btn-info" data-toggle="modal"
															data-target="#scriptStatusAccept">
															<i class="fas fa-eye"></i>
														</button> </span>
												</th>

											</tr>

											<tr th:if = "${otherLan}">

												<td>3</td>
												<td>Slide</td>
												<td><span th:each="statusSlide: ${statusSlide}">
														<span style="color: green;" th:text="${statusSlide}">Pending</span>
												</span></td>
												<td>
												<span style="color: green;" th:if="${tutorial.getSlideUser()}" th:text="${tutorial.getSlideUser().getUsername()}"></span>
												</span></td>
												
												<th>
													 
													<button type="button" class="btn btn-info"
														data-toggle="modal" data-target="#slideAcceptOrNeedImp"
														data-whatever="@mdo">
														<i class="fas fa-eye"></i>

													</button> <!--   </span> -->
												</th>

											</tr>

											<tr>

												<td>4</td>
												<td>Video</td>
												<td><span th:each="statusVideo : ${statusVideo}">
														<span style="color: green;" th:text="${statusVideo}">Pending</span>
												</span></td>
												<td>
												<span style="color: green;" th:if="${tutorial.getVideoUser()}" th:text="${tutorial.getVideoUser().getUsername()}"></span>
												</span></td>

												
												<th>
													<button type="button" class="btn btn-info"
														data-toggle="modal" data-target="#videoViewIdDomain"
														data-whatever="@mdo">
														<i class="fas fa-eye"></i>
													</button> 
												</th>


											</tr>

											<tr th:if = "${otherLan}">
												<td>5</td>
												<td>Keywords</td>
												<td><span th:each=" statusKeyword: ${statusKeyword}">
														<span style="color: green;" th:text="${statusKeyword}">Pending</span>
												</span></td>
												<td>
												<span style="color: green;" th:if="${tutorial.getKeywordUser()}" th:text="${tutorial.getKeywordUser().getUsername()}"></span>
												</span></td>
												
												<th>
													<button type="button" class="btn btn-info"
														data-toggle="modal"
														data-target="#keywordModaleViewInQuality"
														data-whatever="@mdo">
														<i class="fas fa-eye"></i>
													</button> 

												</th>

											</tr>

											<tr th:if = "${otherLan}">
												<td>6</td>
												<td>Prerequisite</td>
												<td><span class="status-contri"
													th:text="${statusPreReq}"></span></td>
												<td>
												<span style="color: green;" th:if="${tutorial.getPreRequiticUser()}" th:text="${tutorial.getPreRequiticUser().getUsername()}"></span>
												</span></td>
												
												<th>
													<button type="button" class="btn btn-info"
														data-toggle="modal" data-target="#PreViewQualityId"
														data-whatever="@mdo">
														<i class="fas fa-eye"></i>
													</button>
												</th>

											</tr>

										


										</tbody>
									</table>

									<span th:each="mesComment : ${CommentMsg}"> <span
										style="color: green;"
										th:if="${mesComment.getComponenenetDeatail()=='Video'}">

											<div class="alert alert-danger">

												<i style="width: 30px; height: 25px" class="fas fa-comment"></i>
												<strong style="color: green; text-transform: uppercase;">
													<span style="color: green;"
													th:text="${mesComment.getComponenenetDeatail()}"></span>
												</strong><br></br> &nbsp;&nbsp;&nbsp; <i class="fas fa-arrow-right"></i><span
													style="color: green;"
													th:text="${mesComment.getCommentInfo()}"> </span>

											</div>
									</span> <span style="color: green;"
										th:if="${mesComment.getComponenenetDeatail()=='Outline'}">

											<div class="alert alert-danger">

												<i style="width: 30px; height: 25px" class="fas fa-comment"></i>

												<strong style="color: green; text-transform: uppercase;">
													<span style="color: green;"
													th:text="${mesComment.getComponenenetDeatail()}"></span>
												</strong><br></br> &nbsp;&nbsp;&nbsp; <i class="fas fa-arrow-right">
												</i> <span style="color: green;"
													th:text="${mesComment.getCommentInfo()}">Pending</span>

											</div>

									</span> <span style="color: green;"
										th:if="${mesComment.getComponenenetDeatail()=='Script'}">

											<div class="alert alert-danger">

												<i style="width: 30px; height: 25px" class="fas fa-comment"></i>
												<strong style="color: green; text-transform: uppercase;"><span
													style="color: green;"
													th:text="${mesComment.getComponenenetDeatail()}"></span></strong><br></br>

												&nbsp;&nbsp;&nbsp; <i class="fas fa-arrow-right"> </i> <span
													style="color: green;"
													th:text="${mesComment.getCommentInfo()}">Pending</span>

											</div>

									</span> <!--   </div> --> <span style="color: green;"
										th:if="${mesComment.getComponenenetDeatail()=='Slide'}">

											<div class="alert alert-danger">

												<i style="width: 30px; height: 25px" class="fas fa-comment"></i>

												<strong style="color: green; text-transform: uppercase;"><span
													style="color: green;"
													th:text="${mesComment.getComponenenetDeatail()}"></span></strong><br></br>

												&nbsp;&nbsp;&nbsp; <i class="fas fa-arrow-right"> </i> <span
													style="color: green;"
													th:text="${mesComment.getCommentInfo()}">Pending</span>

											</div>

									</span> <span style="color: green;"
										th:if="${mesComment.getComponenenetDeatail()==keyword}">

											<div class="alert alert-warning">

												<i style="width: 30px; height: 25px" class="fas fa-comment"></i>

												<strong style="color: green; text-transform: uppercase;"><span
													style="color: green;"
													th:text="${mesComment.getComponenenetDeatail()}"></span></strong> <span
													style="color: green;"
													th:text="${mesComment.getCommentInfo()}">Pending</span>

											</div>

									</span> 

									</span>


								</form>
							</div>
						</div>

						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>


		<div style="display: flex;">
			
			<div class="row" style='width: 100%;'>
				<div class="col-lg-10 col-lg-9 mx-auto">
												
							<div class="modal fade" id="scriptStatusAccept" tabindex="-1"
								role="dialog" aria-labelledby="exampleModalLabel"
								aria-hidden="true" data-backdrop="static" data-keyboard="false">
								<div
									class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
									role="document">
									<div class="modal-content">
										 <div th:if="${tutorial.getScriptStatus()!=3}"></div> 
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabelscriptStatus">Quality Review - Script</h5>

											<div style="color: green; padding-left: 20px"
												id="saveCommentScript"></div>


											<div class="modal-title"></div>

											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
											
												<div class="col-12">
												<div th:if="${tutorial.getScriptStatus()!=3}" class="alert alert-info ">Not valid for review</div>
													<div class="alert alert-msg" style="display: none;"></div>
													<div th:if="${tutorial.getScriptStatus()!=0}" class="border border-secondary p-3 mb-3" >
														<span id="scriptIdQuality"
															th:each="scriptpath : ${tutorial}"> <a
															target="_blank" id="cat" name="categoryName"
															th:href="@{/files/}+@{${scriptpath.getScript()}}"> <span
																> View script
																
																</span>
														</a>

														</span>
													</div>
													<div th:if="${tutorial.getScriptStatus()==3}">
													
														<form class="form-horizontal" th:action="@{/addkeyword}"
															 method="post">
															<div class="form-group">
																<select id="scriptAccept" class="form-control">
																	<option value="0">Select</option>
																	<option value="1">Accept</option>
																	<option value="2">Need Improvement</option>

																</select>

															</div>

															<div id="scriptNeedImprovement" style="display: none;">
																<label for="msgScriptQuality">Comments</label>
																<textarea class="form-control" name="msgScriptQuality"
																	id="msgScriptQuality" rows="10" required="required"
																	placeholder="Add your comments here."></textarea>

															</div>
														</form>





													</div>

												</div>

													<div class="col-12">
														<div th:if="${not #lists.isEmpty(comScript)}">
															<h6 class="border-bottom">Comments:</h6>
															<div th:each="comment : ${comScript}"
																class="border-bottom">
																<p class="my-0"><strong><i class="fas fa-user mr-2"></i><span th:text="${comment.getUser().getFullName()}"></span></strong></p>
											    <p class="my-0"><small><i class="far fa-clock mr-2"></i><span th:text="${comment.getDateAdded()}"></span></small></p>
											    <p class="my-0 text-muted" ><span th:text="${comment.getComment()}"></span></p>

															</div>

														</div>
													</div>



											</div>
											<div class="modal-footer">
												<div th:if="${tutorial}">
													<div th:if="${tutorial.getScriptStatus() == 3}">
														<button id="scriptAcceptOrNeedToImprovemenet"
															type="button" class="btn btn-success">Submit</button>
													</div>
													<div th:unless="${tutorial.getScriptStatus() == 3}">
														<button id="scriptAcceptOrNeedToImprovemenet"
															type="button" class="btn btn-success" disabled="disabled">Submit</button>
													</div>
												</div>
												<div th:unless="${tutorial}">
													<button id="scriptAcceptOrNeedToImprovemenet" type="button"
														class="btn btn-success">Submit</button>
												</div>

												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Close</button>
											</div>

										</div>
									</div>
								</div>
							</div>

							<!-- script End -->



							<div class="modal fade" id="videoViewIdDomain" tabindex="-1"
								role="dialog" aria-labelledby="exampleModalLabelKeyWordView"
								aria-hidden="true" data-backdrop="static" data-keyboard="false">

								<div
									class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
									role="document">
									<div class="modal-content">
										  
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabelKeyWordView">Quality Review - Video</h5>
											<div class="modal-title"></div>

											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-12">
												<div th:if="${tutorial.getVideoStatus()!=3}"><div class="alert alert-info">Not valid for review</div></div>
													<div class="alert alert-msg" style="display: none;"></div>
													<div th:if="${tutorial.getVideo()!=null}" class="embed-responsive embed-responsive-16by9 mb-5">
														<video id='storedVideoIdDomain' controls="controls"
															style="width: 100% !important;">
															
															
															<source th:src="@{/files/}+@{${tutorial.getVideo()}}"
																type="video/mp4"></source>
														</video>
													</div>
													<div> Video Duration : <span th:text="${FileDurationInSecond}"/> Seconds </div> 
													<div> Video File Size : <span th:text="${fileSizeInMB}"/> MB </div>
													<div> Video Width : <span th:text="${FileWidth}"/> </div> 
													<div> Video Height : <span th:text="${FileHeight}"/>  </div>
													<div th:if="${tutorial.getVideoStatus() == 3}">
														<form class="form-horizontal"
															th:action="@{/addOutlineStataus}"
															 method="post">

															<div class="form-group">

																<select id="videoQualitAceept" class="form-control">

																	<option value="0">Select</option>
																	<option value="1">Accept</option>
																	<option value="2">Need Improvement</option>

																</select>

															</div>

															<div id="NeedImprovement" style="display: none;">
																<label for="msgVideoQuality">Comments: </label>
																<textarea class="form-control" name="msgVideoQuality"
																	id="msgVideoQuality" rows="10" required="required"></textarea>


															</div>
															<br />

														</form>


													</div>

												</div>

												<div class="col-12">
													<div th:if="${not #lists.isEmpty(comVideo)}">
														<h6 class="border-bottom">Comments:</h6>
														<div th:each="comment : ${comVideo}"
															class="border-bottom">
															<p class="my-0">
																<strong><span
																	th:text="${comment.getUser().getFullName()}"></span></strong>
															</p>
															<p class="my-0">
																<small><span
																	th:text="${comment.getDateAdded()}"></span></small>
															</p>
															<p class="my-0 text-muted">
																<span th:text="${comment.getComment()}"></span>
															</p>

														</div>

													</div>
												</div>
											</div>


										</div>
										<div class="modal-footer">
											<div th:if="${tutorial}">
												<div th:if="${tutorial.getVideoStatus() == 3}">
													<button id="VideoAcceptOrNeedToImprovemenetByQuality"
														type="button" class="btn btn-success">Submit</button>
												</div>
												<div th:unless="${tutorial.getVideoStatus() == 3}">
													<button id="VideoAcceptOrNeedToImprovemenetByQuality"
														type="button" class="btn btn-success" disabled="disabled">Submit</button>

												</div>
											</div>
											<div th:unless="${tutorial}">
												<button id="VideoAcceptOrNeedToImprovemenetByQuality"
													type="button" class="btn btn-success">Submit</button>
											</div>

											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>


										</div>

									</div>
								</div>
							</div>

							<div class="modal fade" id="PreViewQualityId" tabindex="-1"
								role="dialog" aria-labelledby="exampleModalLabelKeyWordView"
								aria-hidden="true" data-backdrop="static" data-keyboard="false">

								<div
									class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
									role="document">
									<div class="modal-content">
										 
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabelKeyWordView">Quality Review - Prerequisite</h5>
											<div class="modal-title"></div>

											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-12">
												<div th:if="${tutorial.getPreRequisticStatus()!=3}"><div class="alert alert-info">Not valid for review</div></div>
												<div class="alert alert-msg" style="display: none;"></div>
																							<div class="form-group mb-3">
												<div th:if="${tutorial.getPreRequistic()!=null}" class="embed-responsive embed-responsive-16by9 mb-5">
														<video id='storedPreId' controls="controls"
															style="width: 100% !important;">
															
															
															<source th:src="@{/files/}+@{${tutorial.getPreRequistic().getVideo()}}"
																type="video/mp4"></source>
														</video>
													</div>

												

											</div>
											<div>
												<div th:if="${tutorial.getPreRequistic()==null}"
												
												class="alert alert-secondary upload-status" role="alert">
												This tutorial has no prerequisite
												
												
												</div>
												<div th:if="${tutorial.getPreRequisticStatus()==3}">
												<form class="form-horizontal" th:action="@{/addkeyword}"
													 method="post">

													<div class="form-group">

														<select id="preAcceptQuality" class="form-control">

															<option value="0">Select</option>
															<option value="1">Accept</option>
															<option value="2">Need Improvement</option>

														</select>

													</div>

													<div id="preNeedImprovementQuality" style="display: none">

														<label for="preCommentMsgTest">Comments: </label>
														<textarea class="form-control" name="preCommentMsgTest"
															id="preCommentMsgTest" rows="10" required="required"></textarea>

													</div>
													<br />
												</form>
												</div>
											</div>
												</div>
												<div class="col-12">
												<div th:if="${not #lists.isEmpty(comPreReq)}">
									<h6 class="border-bottom">Comments: </h6>
											    <div th:each="comment : ${comPreReq}" class="border-bottom"> 
											    <p class="my-0"><strong><i class="fas fa-user mr-2"></i><span th:text="${comment.getUser().getFullName()}"></span></strong></p>
											    <p class="my-0"><small><i class="far fa-clock mr-2"></i><span th:text="${comment.getDateAdded()}"></span></small></p>
											    <p class="my-0 text-muted" ><span th:text="${comment.getComment()}"></span></p>
											    
											    </div>
									
									</div>
												
												</div>
											</div>


										</div>
										<div class="modal-footer">
											<div th:if="${tutorial}">
												<div th:if="${tutorial.getPreRequisticStatus() == 3}">
													<button id="preAcceptOrNeedToImprovemenetByQuality"
														type="button" class="btn btn-success">Submit</button>
												</div>
												<div th:unless="${tutorial.getPreRequisticStatus() == 3}">
													<button id="preAcceptOrNeedToImprovemenetByQuality"
														type="button" class="btn btn-success" disabled="disabled">Submit</button>

												</div>
											</div>
											<div th:unless="${tutorial}">
												<button id="preAcceptOrNeedToImprovemenetByQuality"
													type="button" class="btn btn-success">Submit</button>
											</div>

											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
										</div>

									</div>
								</div>
							</div>

						

							<!-- outline review -->

							<div class="modal fade modal-status" id="outlineViewModelDomain"
								tabindex="-1" role="dialog"
								aria-labelledby="exampleModalLabelOutlineView"
								aria-hidden="true" data-backdrop="static" data-keyboard="false">
								

								<div
									class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
									role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabelOutlineView">Quality Review - Outline</h5>

											<div style="color: green; padding-left: 20px"
												id="commentOutlineByQuality"></div>

											<div class="modal-title"></div>

											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-12">
												<div th:if="${tutorial.getOutlineStatus() != 3}"><div class="alert alert-info">Not valid for review</div></div>
													<div class="alert alert-msg" style="display: none;"></div>
													<div class="border border-info p-2 mb-5">
														<span th:utext="${tutorial.getOutline()}"></span>
													</div>
													<div th:if="${tutorial.getOutlineStatus() == 3}">
														<form class="form-horizontal" th:action="@{/}"
															 method="post">

															<div class="form-group">

																<select id="outlineQualitAceept"
																	class="form-control select-review-feedback">

																	<option value="0">Select</option>
																	<option value="1">Accept</option>
																	<option value="2">Need Improvement</option>

																</select>

															</div>

															<div id="NeedImprovement" class="textarea-comment"
																style="display: none">
																<label for="msgQualitytOutline">Comments</label>
																<textarea class="form-control" name="msgQualitytOutline"
																	id="msgQualitytOutline" rows="10" required="required">
								 </textarea>

															</div>


															

														</form>

													</div>
												</div>

												<div class="col-12">
													<div th:if="${not #lists.isEmpty(comOutline)}">
														<h6 class="border-bottom">Comments:</h6>
														<div th:each="comment : ${comOutline}"
															class="border-bottom">
															<p class="my-0"><strong><i class="fas fa-user mr-2"></i><span th:text="${comment.getUser().getFullName()}"></span></strong></p>
											    <p class="my-0"><small><i class="far fa-clock mr-2"></i><span th:text="${comment.getDateAdded()}"></span></small></p>
											    <p class="my-0 text-muted" ><span th:text="${comment.getComment()}"></span></p>

														</div>

													</div>

												</div>
											</div>





										</div>
										<div class="modal-footer">
											<div th:if="${tutorial}">
												<div th:if="${tutorial.getOutlineStatus() == 3}">
													<button id="submitQualityOutlineStatus" type="button"
														class="btn btn-success">Submit</button>
												</div>
												<div th:unless="${tutorial.getOutlineStatus() == 3}">
													<button id="submitQualityOutlineStatus" type="button"
														class="btn btn-success" disabled="disabled">Submit</button>
												</div>
											</div>
											<div th:unless="${tutorial}">
												<button id="submitQualityOutlineStatus" type="button"
													class="btn btn-success">Submit</button>
											</div>


											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
											

										</div>

									</div>
								</div>
							</div>


							<div class="modal fade" id="slideAcceptOrNeedImp"
								data-backdrop="static" data-keyboard="false" tabindex="-1"
								role="dialog" aria-labelledby="exampleModalLabelSlideView"
								aria-hidden="true">

								<div
									class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
									role="document">
									<div class="modal-content">

										
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabelSlideView">Quality Review - Slide</h5>
											<div style="color: green; padding-left: 20px"
												id="statusSlideByQuality"></div>

											<div class="modal-title"></div>

											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-12">
												<div th:if="${tutorial.getSlideStatus() != 3}"><div class="alert alert-info">Not valid for review</div></div>
													<div class="alert alert-msg" style="display: none;"></div>
													<div th:if="${tutorial.getSlide()!=null}" class="border border-secondary p-3 mb-3">
														<span id="slideIdQuality"
															th:each="slidepath : ${tutorial}"> <a
															target="_blank" id="cat" name="categoryName"
															th:href="@{/files/}+@{${slidepath.getSlide()}}"> <span
																>View slides</span>
														</a>
														</span>
													</div>

													<div th:if="${tutorial.getSlideStatus() == 3}">
														<form class="form-horizontal" th:action="@{/addkeyword}"
															 method="post">

															<div class="form-group">

																<select id="slideAcceptByQuality" class="form-control">


																	<option value="0">Select</option>
																	<option value="1">Accept</option>
																	<option value="2">Need Improvement</option>

																</select>

															</div>

															<div id="slideNeedToImp" style="display: none;">
																<label for="msgScriptDomain">Comments</label>
																<textarea class="form-control" name="slideCommentMsg"
																	id="slideCommentMsg" rows="10" required="required"
																	placeholder="Enter your comments here.">
								 </textarea>

															</div>

														</form>


													</div>


												</div>

												<div class="col-12">
													<div th:if="${not #lists.isEmpty(comSlide)}">
														<h6 class="border-bottom">Comments:</h6>
														<div th:each="comment : ${comSlide}"
															class="border-bottom">
															<p class="my-0"><strong><i class="fas fa-user mr-2"></i><span th:text="${comment.getUser().getFullName()}"></span></strong></p>
											    <p class="my-0"><small><i class="far fa-clock mr-2"></i><span th:text="${comment.getDateAdded()}"></span></small></p>
											    <p class="my-0 text-muted" ><span th:text="${comment.getComment()}"></span></p>

														</div>

													</div>

												</div>
											</div>




										</div>
										<div class="modal-footer">
											<div th:if="${tutorial}">
												<div th:if="${tutorial.getSlideStatus() == 3}">
													<button id="slideAcceptOrNeedToImprovemenetByQuality"
														type="button" class="btn btn-success">Submit</button>
												</div>
												<div th:unless="${tutorial.getSlideStatus() == 3}">
													<button id="slideAcceptOrNeedToImprovemenetByQuality"
														type="button" class="btn btn-success" disabled="disabled">Submit</button>

												</div>
											</div>
											<div th:unless="${tutorial}">
												<button id="slideAcceptOrNeedToImprovemenetByQuality"
													type="button" class="btn btn-success">Submit</button>
											</div>

											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
										</div>

									</div>
								</div>
							</div>
							<!-- View keyword into textbox -->

							<div class="modal fade modal-status"
								id="keywordModaleViewInQuality" tabindex="-1" role="dialog"
								aria-labelledby="exampleModalLabelKeyWordView"
								aria-hidden="true" data-backdrop="static" data-keyboard="false">

								<div
									class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
									role="document">
									<div class="modal-content">

										
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabelKeyWordView">Quality Review - Keyword</h5>
											<div class="modal-title"></div>

											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-12">
													
													<div th:if="${tutorial.getKeywordStatus()!=3}"><div class="alert alert-info">Not valid for review</div></div>
													<div class="alert alert-msg" style="display: none;"></div>
													<div th:if="${tutorial.getKeyword() != null}" class="border border-info p-2 mb-5">
														<span th:utext="${tutorial.getKeyword()}"></span>
													</div>
													<div th:if="${tutorial.getKeywordStatus()==3}">
														<form class="form-horizontal"
															th:action="@{/addOutlineStataus}"
															 method="post">

															<div class="form-group">

																<select id="keywordQualitAceept" class="form-control">

																	<option value="0">Select</option>
																	<option value="1">Accept</option>
																	<option value="2">Need Improvement</option>

																</select>

															</div>

															<div id="NeedImprovementKeyword" style="display: none;">
																<label for="msgkeywordQuality">Comments</label>
																<textarea class="form-control" name="msgkeywordQuality"
																	id="msgkeywordQuality" rows="10" required="required"
																	placeholder="Add comments here."></textarea>


															</div>
															<br />

															

														</form>
													</div>

													<div class="col-12">
														<div th:if="${not #lists.isEmpty(comKeyword)}">
															<h6 class="border-bottom">Comments:</h6>
															<div th:each="comment : ${comKeyword}"
																class="border-bottom">
																<p class="my-0"><strong><i class="fas fa-user mr-2"></i><span th:text="${comment.getUser().getFullName()}"></span></strong></p>
											    <p class="my-0"><small><i class="far fa-clock mr-2"></i><span th:text="${comment.getDateAdded()}"></span></small></p>
											    <p class="my-0 text-muted" ><span th:text="${comment.getComment()}"></span></p>

															</div>

														</div>

													</div>
												</div>




											</div>

											


										</div>
										<div class="modal-footer">
											<div th:if="${tutorial}">
												<div th:if="${tutorial.getKeywordStatus() == 3}">
													<button id="KeyWordAcceptOrNeedToImprovemenetByQuality"
														type="button" class="btn btn-success">Submit</button>
												</div>
												<div th:unless="${tutorial.getKeywordStatus() == 3}">
													<button id="KeyWordAcceptOrNeedToImprovemenetByQuality"
														type="button" class="btn btn-success" disabled="disabled">Submit</button>

												</div>
											</div>
											<div th:unless="${tutorial}">
												<button id="KeyWordAcceptOrNeedToImprovemenetByQuality"
													type="button" class="btn btn-success">Submit</button>
											</div>
											<span></span>
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>

										</div>

									</div>
								</div>
							</div>


				</div>
			</div>
		</div>
		


	</div>

	
	

<div th:replace="common/trail :: body-bottom-scripts"></div>
	<script th:inline="javascript">
    
		var projectPath='[(@{/})]';
		var filep='[(@{/files/})]';
		
	</script>
</body>
</html>

