
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail"></head>
<style>
.nav-carousel{
border-right: 5px solid orange;
font-size:0.9rem;
/* text-decoration: underline; */
}
.nav-carousel a{
color: #044F7A!important;
font-weight:bold!important;
}
</style>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div>
					<div class="alert alert-success" role="alert"
						th:if="${success_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${success_msg}"></span>
							</div>
						</div>
					</div>
					<div class="alert alert-danger" role="alert" th:if="${error_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${error_msg}"></span>
							</div>
						</div>
					</div>
				</div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="home-tab"
						data-toggle="tab" href="#add" role="tab" aria-controls="home"
						aria-selected="true">Add</a></li>
					<li class="nav-item"><a class="nav-link" id="profile-tab"
						data-toggle="tab" href="#view" role="tab" aria-controls="profile"
						aria-selected="false">View</a></li>


				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active py-3" id="add"
						role="tabpanel" aria-labelledby="home-tab">
						<div class="card">
							<div class="card-header">
								<h4>Add Carousel</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6">
										<form th:action="@{/addCarousel}" method="post"
											enctype="multipart/form-data">
											
											
											  <div class="form-group">
											  <label for="event_name_carousel">Event/Workshop Name *</label>
											    <input class="form-control" type="text"  id="event_name_carousel" name="eventName" required>
											    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
											  </div>
											  <div class="form-group">
											<label for="desc_carousel">Short Description *</label>
											    <textarea class="form-control" rows="3" id="desc_carousel" name="eventDesc" maxlength="100" required></textarea>
											    <small>Character limit : 100</small>
											  </div>
											  <div class="form-group">

											    <label for="img_carousel">Upload Carousel image *</label><small>(.jpg or .png format only)</small>
											    <input type="file" class="form-control-file" id="img_carousel" name="file" required onchange="validate_file_size(this,500000)">
											    <small>Max file size : 500 kB <br>Suggested Dimension : 600 x 400</small>

											  </div>
  

											
											<button type="submit" class="btn  btn-success">Submit</button>
										</form>

									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="tab-pane fade py-3" id="view" role="tabpanel"
						aria-labelledby="profile-tab">
						<table class="table table-striped" id="myTable">
						
							</div>
							<thead>
								<tr>
									<th scope="col">Event Name</th>
									<th scope="col">Short Description</th>
									<th scope="col">Poster</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cara : ${carousels}">
							      <td scope="row"><span th:text = "${cara.getEventName()}"></span></td>
							      <td><span th:text = "${cara.getDescription()}"></span></td>
						
							      <td><img id="imagesource" th:src="@{/files/}+@{${cara.getPosterPath()}}"
										style="width: 150px; height: 100px" />
								  </td>
								
							    </tr>

							</tbody>
						</table>
					</div>



				</div>

			</div>


		</div>

	</div>
	<div th:replace="common/trail :: body-bottom-scripts"></div>
	<script type="text/javascript">
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>

	<script th:inline="javascript">
		var projectPath='[(@{/})]';
	</script>
</body>

</html>

