
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail (pageTitle='Citation - Admin - Health And Nutrition')"></head>
<style>
.nav-citation{
border-right: 5px solid orange;
font-size:0.9rem;
/* text-decoration: underline; */
}
.nav-citation a{
color: #044F7A!important;
font-weight:bold!important;
}
</style>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div>
					<div class="alert alert-success" role="alert"
						th:if="${success_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${success_msg}"></span>
							</div>
						</div>
					</div>
					<div class="alert alert-danger" role="alert" th:if="${error_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${error_msg}"></span>
							</div>
						</div>
					</div>
				</div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="home-tab"
						data-toggle="tab" href="#add" role="tab" aria-controls="home"
						aria-selected="true">Add</a></li>
					<li class="nav-item"><a th:if="${viewSection !=false}" class="nav-link" id="profile-tab"
						data-toggle="tab" href="#view" role="tab" aria-controls="profile"
						aria-selected="false">View</a></li>


				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active py-3" id="add"
						role="tabpanel" aria-labelledby="home-tab">
						<div class="card">
							<div class="card-header">
								<h4>Add Citation</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6">
										<form th:action="@{/addCitation}" method="post"
											enctype="multipart/form-data">
											
											
											<div class="form-group">
											<label for="categoryforCitation">Select Category * </label> <select
												id="categoryforCitation" class="form-control"
												name="categoryforCitation" required="required" >
	
												<option value="0">Select any one category</option>
												
													<option 
													th:each="category: ${categories}"
													th:value="${category.getCategoryId()}" th:text="${category.getCatName()}">
															</option>
											
											</select>
										</div>
	
										<div class="form-group">
											<span>To select all topics press ctrl + A keys. </span>
											<br>
											<label for="topicforCitation">Select Topic * </label> 
											<select
												id="topicforCitation" class="form-control" name="topicforCitation"
												required="required" size="15" multiple="multiple">
												
											</select>
										</div>

											<div class="form-group">
											<label for="citation" class="col-form-label"><span>Add
													Citation : </span><span class="text-muted">(Characters limit : 2500) *</span></label>
											<textarea class="form-control editor" name="citation"
												id="citation" rows="15" maxlength="2500" required="required">		 
										     </textarea>
										</div>
										
											
											<button type="submit" class="btn  btn-success">Submit</button>
										</form>

									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="tab-pane fade py-3" id="view" role="tabpanel"
						aria-labelledby="profile-tab">
						<table class="table table-striped" id="myTable" data-order='[[ 0, "desc" ]]'>
						
							</div>
							<thead>
								<tr>
									<th scope="col">Category</th>
									<th scope="col">Topic</th>
									<th scope="col">Citation</th>
									 <th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tut : ${citationTuorials}">
								  <td scope="row">
      							 <span th:text="${ tut.getConAssignedTutorial().getTopicCatId().getCat().getCatName()}"></span>
       
      							</td>
							      <td><span th:text = "${ tut.getConAssignedTutorial().getTopicCatId().getTopic().getTopicName()}"></span></td>
							      <td><span th:utext = "${tut.getCitation()}"></span></td>
						
							     
					
								   <td><a th:href="@{${'/citation/edit/' +  tut.getTutorialId()}}">Edit</a></td>
								
							    </tr>

							</tbody>
						</table>
					</div>



				</div>

			</div>


		</div>

	</div>
	<script th:src="@{js/jquery-3.3.1.js}"></script>
	<script th:src="@{/js/ckeditor.js}"></script>
	<div th:replace="common/trail :: body-bottom-scripts"></div>
	<!-- IMPORTANT This version of jquery is needed for ckeditor -->
	
	<script type="text/javascript">
$(document).ready( function () {
    $('#myTable').DataTable();
} );



</script>

	<script th:inline="javascript">
		var projectPath='[(@{/})]';
		var editor;
	ClassicEditor
    .create(document.querySelector('#citation'), {
        height: '300px' 
    })
	    .then( newEditor => {
	       editor = newEditor;
	    } )
	    .catch( error => {
	        console.error( error );
	    } );
	
	
	



		
	</script>
</body>

</html>

