
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail"></head>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div class="card">
					<div class="card-header">
						<h1 class="title-1">Review video :</h1>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-6">
								<!-- todo -->
								<div class="alert alert-msg" style="display: none;"></div>

								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Category</th>
											<td><input class="form-control" id="categoryId" name="categoryName" th:value="${category}" readonly="readonly"></input></td>
										</tr>
									</thead>
									<thead>
										<tr>
											<th>Topic</th>
											<td><input class="form-control" id="topicId" name="categoryName" th:value="${topic}" readonly="readonly"></input></td>
										</tr>
									</thead>
									<thead>
										<tr>
											<th>Language</th>
											<td><input class="form-control" id="lanId" name="languageName" th:value="${language}" readonly="readonly"></input></td>
											<input type="hidden" id="tutorialId" th:value="${tutorial.getTutorialId()}" />
										</tr>
									</thead>
								</table>
								<form class="form-horizontal">
									<div class="form-group">
										<div class="embed-responsive embed-responsive-16by9 mb-5">
											<video id='storedVideoId' controls="controls" style="width: 100% !important;">
												<source th:src="@{/files/}+@{${tutorial.getVideo()}}" type="video/mp4"></source>
											</video>
										</div>
										<table class="table table-bordered">
											<tbody>
												<tr>
													<td>Video Duration</td>
													<td><span th:text="${FileDurationInSecond}"></span>Seconds</td>
												</tr>
												<tr>
													<td>Video File Size</td>
													<td><span th:text="${fileSizeInMB}"></span> MB</td>
												</tr>
												<tr>
													<td>Video Width</td>
													<td><span th:text="${FileWidth}"></span></td>
												</tr>
												<tr>
													<td>Video Height</td>
													<td><span th:text="${FileHeight}"></span></td>
												</tr>
											</tbody>
										</table>

										<div class="row">
											<div class="col-md-12">
											<span data-comp="video"></span>
												<!-- todo --><div class="alert a_v_cmt" style="display: none;"></div>
												<!-- <div th:replace="common/commonElements :: review_feedback('video','admin-rev')"></div> -->
<!-- 												<div class="card">
													<div class="card-header">
														<span class="font-weight-bold">Review Feedback :</span>
													</div>
													<div class="card-body">
														<form class="form-horizontal" th:action="@{/addkeyword}"
															method="post">

															<div class="form-group">

																<select id="VideoAcceptAdmin" class="form-control">

																	<option value="0">Select</option>
																	<option value="1">Accept</option>
																	<option value="2">Need Improvement</option>

																</select>
															</div>
															<div id="videoNeedImprovement" style="display: none;">
																<label for="msgVideoCommentByAdmin"><span
																	class="font-weight-bold">Add your comment below
																		: </span></label>
																<textarea class="form-control"
																	name="msgVideoCommentByAdmin"
																	id="msgVideoCommentByAdmin" rows="3"
																	required="required"></textarea>

															</div>
															<br>
															<div th:if="${tutorial}">
																<div th:if="${tutorial.getVideoStatus() == 1}">
																	<button id="videoAcceptOrNeedToImprovemenetByAdmin"
																		type="button" class="btn btn-success">Submit</button>
																</div>
																<div th:unless="${tutorial.getVideoStatus() == 1}">
																	<button id="videoAcceptOrNeedToImprovemenetByAdmin"
																		type="button" class="btn btn-success"
																		disabled="disabled">Submit</button>
																</div>
															</div>
															<div th:unless="${tutorial}">
																<button id="videoAcceptOrNeedToImprovemenetByAdmin"
																	type="button" class="btn btn-success">Submit</button>
															</div>
														</form> 

													</div>
												</div> -->
											</div>
											<!-- <div>
												<div th:replace="common/commonElements :: comment_review(${comVideo})"></div>
											</div> -->
										</div>
									</div>
								</form>
							</div>
							<div class="col-lg-6">
							<div th:replace="common/commonElements :: review_feedback('video','admin-rev')"></div>
							<div th:replace="common/commonElements :: comment_review(${comVideo})"></div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="common/trail :: body-bottom-scripts"></div>
	<script th:inline="javascript">
    	var projectPath='[(@{/})]';		
	</script>
	
</body>


</html>

