
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail (pageTitle='Create Package - Admin - Health And Nutrition')"></head>
<style>
.nav-create_package{
border-right: 5px solid orange;
font-size:0.9rem;
/* text-decoration: underline; */
}
.nav-create_package a{
color: #044F7A!important;
font-weight:bold!important;
}

 .weekTitleTable {
        background-color: #f8f9fa; /* Light gray background */
        color: #333; /* Dark text color */
    }

    .weekTitleTable th {
        background-color: #007bff; /* Blue header background */
        color: white; /* White header text */
    }

    .weekTitleTable td {
        background-color: #ffffff; /* White cell background */
    }

    .weekTitleTable tr:nth-child(even) td {
        background-color: #f2f2f2; /* Light gray for even rows */
    }
    
    .tutorialTopicTable {
        background-color: #f8f9fa; /* Light gray background */
        color: #333; /* Dark text color */
    }

    .tutorialTopicTable th {
        background-color: #007bff; /* Blue header background */
        color: white; /* White header text */
    }

    .tutorialTopicTable td {
        background-color: #ffffff; /* White cell background */
    }

    .tutorialTopicTable tr:nth-child(even) td {
        background-color: #f2f2f2; /* Light gray for even rows */
    }
</style>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div>
					<div class="alert alert-success" role="alert"
						th:if="${success_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${success_msg}"></span>
							</div>
						</div>
					</div>
					<div class="alert alert-danger" role="alert" th:if="${error_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${error_msg}"></span>
							</div>
						</div>
					</div>
				</div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="home-tab"
						data-toggle="tab" href="#add" role="tab" aria-controls="home"
						aria-selected="true">Add</a></li>
					<li class="nav-item"><a th:if="${viewSection !=false}" class="nav-link" id="profile-tab"
						data-toggle="tab" href="#view" role="tab" aria-controls="profile"
						aria-selected="false">Training Modules View</a></li>
						
					 <li class="nav-item"><a th:if="${viewSection !=false}" class="nav-link" id="topicView-tab" data-toggle="tab" 
					 href="#hstview" role="tab" aria-controls="hstview" aria-selected="false">Health Spoken View</a></li>
   


				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active py-3" id="add"
						role="tabpanel" aria-labelledby="home-tab">
						<div class="card">
							<div class="card-header">
								<h4>Create Package of Tutorials</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-8">
							
										<form th:action="@{/createPackage}" method="post"
											enctype="multipart/form-data" id="inputForm">
											<div id="rawData">
												
											</div>
											
											  
											 
											  
											  <div class="form-group">
													<label for="packageContainerId"><b>Select Package *</b></label> <select id="packageContainerId"
														class="form-control package_input" name="packageContainerId" required="required">

															<option value='0'>Select Package</option>
															<option value='-1'>Enter New Package</option>
															<option th:each="packageItr: ${packageList}" th:value="${packageItr.getPackageId()}" th:text="${packageItr.getPackageName()}">
														</option>
								
													</select>

											</div>
							
							

											<div class="form-group" id="enterNewPackageContainerName">

													<label for="packageName"><b>Package</b></label> <input type="text"
													class="form-control" id="packageName" name="packageName"
														 placeholder="Enter Package name" />

											</div>
											
											
							
														
											
											 <div class="form-group">
													<label for="languageId"><b>Select Language *</b></label> <select id="languageIdforAssignTutorial"
														class="form-control language-input" name="languageId" required="required">

															<option value='0'>Select Language</option>
															
															<option th:each="lan: ${languages}" th:value="${lan.getLanId()}" th:text="${lan.getLangName()}">
														</option>
								
													</select>

											</div>
											<div class="container">
											<div class="row">
											<div class="col-md-4">
											<div class="form-group">
											<label for="categoryforPackage">Select Category * </label> <select
												id="categoryforPackage" class="form-control"
												name="categoryforPackage" required="required" >
	
												<option value="0">Select any one category</option>
												
													<option 
													th:each="category: ${categories}"
													th:value="${category.getCategoryId()}" th:text="${category.getCatName()}">
															</option>
											
										   </select>
										   </div>
										   </div>
											
											<div class="col-md-8">
											<div class="form-group">
											<span>To select all topics press ctrl + A keys. </span>
											<br>
											<label for="tutorialforPackage">Select Topic * </label> 
											<select
												id="tutorialforPackage" class="form-control" name="tutorialforPackage"
												required="required" size="15" multiple="multiple">
												
										   </select>
										   </div>
												
										  </div>
											
										</div>
										</div>
					
											
										 <input type="hidden" id="lengthofweek" name="lengthofweek"  th:value="${weekList.size()}"/>	
										
									<div th:each="week,iter: ${weekList}" th:id="${'fileInputDiv' + iter.index}" th:style="${'display: ' + (iter.first ? 'block' : 'none')}" >
									
									<div class="container">
										
								        <div class="row">
								            <div class="col-md-4">
								              
								               <div class="form-group">
		               	                 		<label th:if="${iter.index == 0}" th:for="${'weekId' + iter.index}">Select Week </label>
												<select th:id="${'weekId' + iter.index}" class="form-control week-select" name="weekName" th:data-index="${iter.index}">
			  									<option value="0">Select Week</option>
			  									<option th:each="weekitr : ${weekList}" th:value="${weekitr.getWeekId()}" th:text="${weekitr.getWeekName()}"></option>
												</select>
		  									</div>
								            
								            </div>
								            
								            <div class="col-md-4">
										      
										        <div class="form-group">
												<label th:if="${iter.index == 0}"  th:for="${'video' + iter.index}">Video*  </label>
												<select th:id="${'videoId' + iter.index}" class="form-control video-select" name="videoName"  th:data-index="${iter.index}">
												 <option value="0">Select Video</option>	</select>
												</div>
												
								            </div>
								            
								            <div class="col-md-4">
												
								            <div class="form-group">

												<label th:if="${iter.index == 0}" th:for="${'title' + iter.index}">Title</label> <input type="text"
												class="form-control title-input" th:id="${'titleId' + iter.index}" name="title" th:data-index="${iter.index}" />

											</div>
												
								            </div>
								        </div>
								    </div>
									
									

									

									
									<br>
									</div>									  
											<br>
																        
									        
											
											<button type="submit" class="btn  btn-success"  style="float:left;  margin-left:15px; margin-right:40px;">Submit</button>
										</form>
										
									
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="tab-pane fade py-3" id="view" role="tabpanel"
						aria-labelledby="profile-tab">
						<table class="table table-striped" id="myTable"  data-order='[[ 0, "desc" ]]'>
						
							
							<thead>
								<tr>
									<th scope="col">Date Added</th>
									<th scope="col">Package</th>
									<th scope="col">Language</th>
									<th scope="col">Enable/Disable</th>
									<th scope="col">WeekTitleVideo</th>
									
									 
								</tr>
							</thead>
							<tbody>
								<tr th:each="temp : ${packLanList}">
								 <td scope="row"><span th:text = "${temp.getDateAdded()}"></span></td>
								 <td><span th:text = "${temp.getPackageContainer().getPackageName()}"></span></td>
							      <td><span th:text = "${temp.getLan().getLangName()}"></span></td>
							       <td>
	  		
						   			<div th:if="${temp.isStatus()}">
						   				<a class="disablePackageLanguage" th:value="${temp.getPackageLanId()}" title="Click to Disable Package-Language"><i class="fas fa-times-circle" th:id="${temp.getPackageLanId()}" style="color:red"></i></a>
						   			</div>
						   			<div th:unless="${temp.isStatus()}">
						   				<a class="enablePackageLanguage" th:value="${temp.getPackageLanId()}" title="Click to Enable Package-Language"><i class="fas fa-check-circle" th:id="${temp.getPackageLanId()}" style="color:green"></i> </a>
						   			</div>
						   		
						  			</td>
							
							      <td>
									    <div th:if="${temp.getAllWeekTitle() != null}">
						                    <table class="table table-striped weekTitleTable" th:id="${'weekTitleTable' + temp.getPackageLanId() }">
												<thead>
													<tr>
														<th scope="col">Week </th>
														<th scope="col">File Name</th>
														<th scope="col">Title</th>
														
													</tr>
												</thead>
												<tbody>
						                        <tr th:each="weektitleTemp : ${temp.getAllWeekTitle()}">
						                            <td><span th:text="${weektitleTemp.getWeek().getWeekName()}"></span></td>
						                            <td><span th:text="${weektitleTemp.getVideoResource().getFileName()}"></span></td>
						                            <td><span th:text="${weektitleTemp.getTitle()}"></span></td>
						                        </tr>
						                        </tbody>
						                    </table>
						                </div>
								  </td>
							     
								  
							    </tr>

							</tbody>
						</table >
						</div>
						
						<div class="tab-pane fade py-3" id="hstview" role="tabpanel" aria-labelledby="topicView-tab">
						<table class="table table-striped" id="TutorialTable"  data-order='[[ 0, "desc" ]]'>
						
							
							<thead>
								<tr>
									<th scope="col">Date Added</th>
									<th scope="col">Package</th>
									<th scope="col">Language</th>
									
									<th scope="col">Tutorial</th>
									
									 
								</tr>
							</thead>
							<tbody>
								<tr th:each="temp : ${packLanList}">
								 <td scope="row"><span th:text = "${temp.getDateAdded()}"></span></td>
								 <td><span th:text = "${temp.getPackageContainer().getPackageName()}"></span></td>
							      <td><span th:text = "${temp.getLan().getLangName()}"></span></td>
							      
							
							      <td>
									    <div th:if="${temp.getPackLanTutorialResource() != null}">
						                    <table class="table table-striped tutorialTopicTable" th:id="${'tutorialtable' + temp.getPackageLanId() }">
												<thead>
													<tr>
														
														<th scope="col">Topic</th>
														
													</tr>
												</thead>
												<tbody>
						                        <tr th:each="tempTutorial : ${temp.getPackLanTutorialResource()}">
						                            
						                            <td><span th:text="${tempTutorial.getTutorial().getConAssignedTutorial().getTopicCatId().getTopic().getTopicName()}"></span></td>
						                        </tr>
						                        </tbody>
						                    </table>
						                </div>
								  </td>
							     
								  
							    </tr>

							</tbody>
						</table >
						</div>
						
					</div>



				</div>

			</div>


		</div>

	</div>
	<div th:replace="common/trail :: body-bottom-scripts"></div>
	<script type="text/javascript">
$(document).ready( function () {
    $('#myTable').DataTable();
    $('.weekTitleTable').each(function() {
				$(this).DataTable();
			});
     $('#enterNewPackageContainerName').hide();
      $('#enterNewWeekName').hide();
      
     
      $('#TutorialTable').DataTable();
       $('.tutorialTopicTable').each(function() {
				$(this).DataTable();
			});
   
} );

var divid = 0;

function addListener(divid) {
	var weekSelect = document.getElementById("weekId" + (divid - 1));
	if (weekSelect === null) {
		console.log("divid=", divid);
		return;
	}
	weekSelect.addEventListener("change", function() {
	  var selectedWeek = weekSelect.value;
	  if (selectedWeek !== "") {
	    addRow(divid);
	  }
	});
	
}

function addRow(divid) {
	var fileInputDiv = document.getElementById("fileInputDiv" + divid);
	if (fileInputDiv == null) {
		console.log("none", divid);
		return;
	}
    fileInputDiv.style.display = "block";
    divid += 1;
    addListener(divid);
}

function setRequired(divid) {
	var languageName = document.getElementById("languageNameId" + divid).value;
	var video = document.getElementById("video" + divid);
	var title = document.getElementById("title" + divid);
	video.required = (value != "");
	title.required = (value != "");
	return false;
}

addRow(divid);


</script>

	<script th:inline="javascript">
	
		var projectPath='[(@{/})]';
	</script>
</body>

</html>
