
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail (pageTitle='Video Resource - Admin - Health And Nutrition')"></head>
<style>
.nav-video_resource{
border-right: 5px solid orange;
font-size:0.9rem;
/* text-decoration: underline; */
}
.nav-video_resource a{
color: #044F7A!important;
font-weight:bold!important;
}
 :root {
  --plyr-color-main: #ff9033;
   
}
  .plyr__controls__item plyr__volume{
    margin-bottom: 25px;
    padding-bottom:25px;
  }
</style>
<body>
	 <script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div>
					<div class="alert alert-success" role="alert"
						th:if="${success_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${success_msg}"></span>
							</div>
						</div>
					</div>
					<div class="alert alert-danger" role="alert" th:if="${error_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${error_msg}"></span>
							</div>
						</div>
					</div>
				</div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="home-tab"
						data-toggle="tab" href="#add" role="tab" aria-controls="home"
						aria-selected="true">Add</a></li>
					<li class="nav-item"><a class="nav-link" id="profile-tab"
						data-toggle="tab" href="#view" role="tab" aria-controls="profile"
						aria-selected="false">View</a></li>


				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active py-3" id="add"
						role="tabpanel" aria-labelledby="home-tab">
						<div class="card">
							<div class="card-header">
								<h4>Add Video Resource</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6">
							
										<form th:action="@{/addVideoResource}" method="post"
											enctype="multipart/form-data" id="inputForm">
											<div id="rawData">
												
											</div>
											
										
											<br>
																        
									         <div class="form-group"  id=csv_file_div >
											<label th:for="add_csv_file">Upload CSV File *</label>
											
											<input type="file" class="form-control" th:id="add_csv_file" name="add_csv_file"  accept=".csv" onchange="validate_file_size(this,50000000)"
											  / >
											<small> (Only csv format of max filesize 50 MB)</small > 
	
											</div>

											
											<button type="submit" class="btn  btn-success">Submit</button>
										</form>
										<br> <br>
										<div class="mb-3" style="align-content: center; " ><i class="fas fa-file-download mr-3 fa-lg" style="float: left;"> </i> 
										<a name="samplecsvdownload" target="_blank" th:href="@{/files/}+@{${sample_csv_file}}"
										id="samplecsvdownload" style="font-size: large; position: relative; float: left;"> <h6>Download Sample CSV File</h6></a>
							</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="tab-pane fade py-3" id="view" role="tabpanel"
						aria-labelledby="profile-tab">
						<table class="table table-striped" id="myTable">
						
							</div>
							<thead>
								<tr>
									<th scope="col">Date Added</th>
									<th scope="col">FileName</th>
									<th scope="col">Session</th>
									<th scope="col">Language</th>
									<th scope="col">Video</th>
									<th scope="col">Thumbnail</th>
									 
								</tr>
							</thead>
							<tbody>
								<tr th:each="videoResource : ${videoResourceList}">
								 <td scope="row"><span th:text = "${videoResource.getDateAdded()}"></span></td>
								 <td><span th:text = "${videoResource.getFileName()}"></span></td>
								  <td><span th:text = "${videoResource.getSessionName()}"></span></td>
							     <td><span th:text = "${videoResource.getLan().getLangName()}"></span></td>
							      <td>
							      	<div th:if="${videoResource.getVideoPath() != 'null'}"
												style="width: 400px;">
												<video controls="controls" style="width: 100%;" th:poster="@{/files/}+@{${videoResource.getThumbnailPath()}}">
													<source th:src="@{/files/}+@{${videoResource.getVideoPath()}}"
														type="video/mp4" />
													Your browser does not support HTML video.
												</video>
											</div>
								  </td>
								  
								  <td>
							      	<div th:if="${videoResource.getThumbnailPath() != 'null'}"
												style="width: 300px;">
										<img id="imagesource1" th:src="@{/files/}+@{${videoResource.getThumbnailPath()}}"
										style="width: 200px; height: 200px" />
												
											</div>
								  </td>
								  
							    </tr>

							</tbody>
						</table >
					</div>



				</div>

			</div>


		</div>

	</div>
	<div th:replace="common/trail :: body-bottom-scripts"></div>
	<script type="text/javascript">
$(document).ready( function () {
    $('#myTable').DataTable();
     $('#enterNewPackageName').hide();
   
} );
</script>

	<script th:inline="javascript">
	
		var projectPath='[(@{/})]';
		  		
var isPlaying = [];
				
				var videos = document.querySelectorAll('video');
				for(var i=0; i<videos.length; i++){
				  	videos[i].addEventListener('play', function(){pauseAll(this)}, true);
				}
				
				

				function pauseAll(elem){
					var videos2 = document.querySelectorAll('video');
					for(var i=0; i<videos2.length; i++){
				                if(videos2[i] == elem) continue;
				                if(videos2[i].played.length > 0 && !videos2[i].paused){
				                  videos2[i].pause();
				                }
				        }
				  }
				
				
				
				
				   // Functions to play the video with/without sound
					function playMutedVideoMouseOver(event) {
						var video = event.target;
					 	var flag=0;
					 	for (var j = 0; j < videos.length; j++){
							 if(!videos[j].paused && !videos[j].muted)
					 			flag=flag+1;
						 }
					 	if(flag==0){
					 	video.play();
					 	video.muted = true;
						}
					 
					}
				   

					function playUnmutedVideoOnClick(event) {
					 var video = event.target;
					 video.muted = false;
					 video.play();
					}
					
					function pauseWithMutedVideoMouseOut(event) {
						 var video = event.target;
							if(video.muted){
								video.pause();
								//video.muted=!video.muted;
							}
						 
						}
						
					
				
					 
					
					
		
		
		
		 var controls =
[
'play-large', // The large play button in the center
// 'restart', // Restart playback
// 'rewind', // Rewind by the seek time (default 10 seconds)
'play', // Play/pause playback
//'fast-forward', // Fast forward by the seek time (default 10 seconds)
'progress', // The progress bar and scrubber for playback and buffering
'current-time', // The current time of playback
//'duration', // The full duration of the media
'mute', // Toggle mute
'volume', // Volume control
'captions', // Toggle captions
'settings', // Settings menu
'pip', // Picture-in-picture (currently Safari only)
'airplay', // Airplay (currently Safari only)
'download', // Show a download button with a link to either the current source or a custom URL you specify in your options
'fullscreen' // Toggle fullscreen
];

//const player = new Plyr('.vid1',{controls});

//var videos = document.querySelectorAll('video');

for(var i=0; i<videos.length; i++){
	
	const player = new Plyr(videos[i],{controls});	
	
	
	   
}
		

	</script>
</body>

</html>
