
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail (pageTitle='Assign Tutorial - Admin - Health And Nutrition')"></head>
<style>
.nav-assign_tutorial{
border-right: 5px solid orange;
font-size:0.9rem;
/* text-decoration: underline; */
}
.nav-assign_tutorial a{
color: #044F7A!important;
font-weight:bold!important;
}
</style>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div>
					<div class="alert alert-success" role="alert"
						th:if="${success_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${success_msg}"></span>
							</div>
						</div>
					</div>
					<div class="alert alert-danger" role="alert" th:if="${error_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${error_msg}"></span>
							</div>
						</div>
					</div>
				</div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="home-tab"
						data-toggle="tab" href="#add" role="tab" aria-controls="home"
						aria-selected="true">Add</a></li>
					<li class="nav-item"><a class="nav-link" id="profile-tab"
						data-toggle="tab" href="#view" role="tab" aria-controls="profile"
						aria-selected="false">View</a></li>


				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active py-3" id="add"
						role="tabpanel" aria-labelledby="home-tab">
						<div class="card">
							<div class="card-header">
								<h4>Assign Tutorial to Week And Package</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6">
							
										<form th:action="@{/assignTutorial}" method="post"
											enctype="multipart/form-data" id="inputForm">
											<div id="rawData">
												
											</div>
											
											  
											 
											  
											  <div class="form-group">
													<label for="packageContainerId"><b>Select Package *</b></label> <select id="packageContainerId"
														class="form-control" name="packageContainerId" required="required">

															<option value='0'>Select Package</option>
															<option value='-1'>Enter New Package</option>
															<option th:each="packageItr: ${packageList}" th:value="${packageItr.getPackageId()}" th:text="${packageItr.getPackageName()}">
														</option>
								
													</select>

											</div>
							
							

											<div class="form-group" id="enterNewPackageContainerName">

													<label for="packageName"><b>Package</b></label> <input type="text"
													class="form-control" id="packageName" name="packageName"
														 placeholder="Enter Package name" />

											</div>
											
											 <div class="form-group">
													<label for="weekId"><b>Select Week *</b></label> <select id="weekId"
														class="form-control" name="weekId" required="required">

															<option value='0'>Select Week</option>
															<option value='-1'>Enter New Week</option>
															<option th:each="weekItr: ${weekList}" th:value="${weekItr.getWeekId()}" th:text="${weekItr.getWeekName()}">
														</option>
								
													</select>

											</div>
							
							

											<div class="form-group" id="enterNewWeekName">

													<label for="weekName"><b>Week</b></label> <input type="text"
													class="form-control" id="weekName" name="weekName"
														 placeholder="Enter Week name" />

											</div>

											<div class="form-group" id="title">

													<label for="title"><b>Title *</b></label> <input type="text"
													class="form-control" id="title" name="title"
														 placeholder="Enter Title" required="required" />

											</div>

									
											
											 <div class="form-group">
													<label for="languageId"><b>Select Language *</b></label> <select id="languageIdforAssignTutorial"
														class="form-control" name="languageId" required="required">

															<option value='0'>Select Language</option>
															
															<option th:each="lan: ${languages}" th:value="${lan.getLanId()}" th:text="${lan.getLangName()}">
														</option>
								
													</select>

											</div>
					
											
											<div class="form-group">
											<span>To select all videoes press ctrl + A keys. </span>
											<br>
											<label for="videoResourceIds">Select Video * </label> 
											<select
												id="videoResourceIds" class="form-control" name="videoResourceIds"
												required="required" size="15" multiple="multiple">
												
											</select>
										</div>

											  
											<br>
																        
									        
											
											<button type="submit" class="btn  btn-success">Submit</button>
										</form>
										
									
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="tab-pane fade py-3" id="view" role="tabpanel"
						aria-labelledby="profile-tab">
						<table class="table table-striped" id="myTable"  data-order='[[ 0, "desc" ]]'>
						
							
							<thead>
								<tr>
									<th scope="col">Date Added</th>
									<th scope="col">Package</th>
									<th scope="col">Title</th>
									<th scope="col">Week</th>
									<th scope="col">Language</th>
									<th scope="col">Video</th>
									 
								</tr>
							</thead>
							<tbody>
								<tr th:each="tut : ${tutorials}">
								 <td scope="row"><span th:text = "${tut.getDateAdded()}"></span></td>
								 <td><span th:text = "${tut.getPackageContainer().getPackageName()}"></span></td>
							      <td><span th:text = "${tut.getTitle()}"></span></td>
							      <td><span th:text = "${tut.getWeek().getWeekName()}"></span></td>
							      <td><span th:text = "${tut.getVideoResource().getLan().getLangName()}"></span></td>
							    
							      <td>
									
							      	<div th:if="${tut.getVideoResource().getVideoPath() != 'null'}"
												style="width: 400px;">
												<video controls="controls" style="width: 100%;">
													<source th:src="@{/files/}+@{${tut.getVideoResource().getVideoPath()}}"
														type="video/mp4" />
													Your browser does not support HTML video.
												</video>
											</div>
										<span th:text = "${tut.getVideoResource().getFileName()}">	
										
								  </td>
								  
							    </tr>

							</tbody>
						</table >
						</div>
					</div>



				</div>

			</div>


		</div>

	</div>
	<div th:replace="common/trail :: body-bottom-scripts"></div>
	<script type="text/javascript">
$(document).ready( function () {
    $('#myTable').DataTable();
     $('#enterNewPackageContainerName').hide();
      $('#enterNewWeekName').hide();
   
} );
</script>

	<script th:inline="javascript">
	
		var projectPath='[(@{/})]';
	</script>
</body>

</html>
