
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail"></head>
<style>
.nav-assign-contri{
border-right: 5px solid orange;
font-size:0.9rem;
}
.nav-assign-contri a{
color: #044F7A!important;
font-weight:bold!important;
}
</style>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div>
					<div class="alert alert-success" role="alert"
						th:if="${success_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${success_msg}"></span>
							</div>
						</div>
					</div>
					<div class="alert alert-danger" role="alert" th:if="${error_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${error_msg}"></span>
							</div>
						</div>
					</div>
				</div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="home-tab"
						data-toggle="tab" href="#add" role="tab" aria-controls="home"
						aria-selected="true">Add</a></li>
					<li class="nav-item"><a class="nav-link" id="profile-tab"
						data-toggle="tab" href="#view" role="tab" aria-controls="profile"
						aria-selected="false">View</a></li>

				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active py-3" id="add"
						role="tabpanel" aria-labelledby="home-tab">
						<div class="card">
							<div class="card-header">
								<h4>Assign Contributor</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6">
										<form class="form-horizontal"
											th:action="@{/assignTutorialToContributor}" method="post">
											<div class="form-group">

												<label for="inputUserame">Select User *</label> <select
													id="contributorId" class="form-control"
													name="contributorName" required="required">
													<option selected="selected">Select User</option>


													<option th:each="contributor: ${userByContributors}"
														th:value="${contributor.getUsername()}"
														th:text="${#strings.capitalizeWords(contributor.getFullName())}"></option>

												</select>
											</div>
											<div class="form-group">
												<label for="lanId">Select Language *</label> <select id="lanId"
													class="form-control" name="languageName"
													required="required">
													<option>Select Language</option>
												</select>
											</div>
											<div class="form-group">
												<label for="catgoryByContributor">Select Category *</label> <select
													id="catgoryByContributor" class="form-control"
													name="contributorCategory" required="required">
													<option>Select Category</option>
												</select>
											</div>


											<div class="form-group">
												<label for="catgoryByContributor">Select Topic * <span class="text-muted">(For multiple topic selection, press Ctrl key)</span></label> <select
													id="assignTopic" class="form-control select selectpicker"
													name="inputTopic" required="required" multiple="multiple">
												</select>

											</div>
											<button id="submitContribution" type="submit"
												class="btn btn-success">Submit</button>
											&nbsp;&nbsp;&nbsp;
										</form>

									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="tab-pane fade py-3" id="view" role="tabpanel"
						aria-labelledby="profile-tab">
						<table class="table table-striped" id="myTable">
  <thead>
    <tr>
      
      <th scope="col">Category</th>
      <th scope="col">Topic</th>
      <th scope="col">Language</th>
      <th scope="col">Full Name</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="user : ${userByContributorsAssigned}">
      <td><span  th:text="${user.getTopicCatId().getCat().getCatName()}"> </span></td>
	  <td><span  th:text="${user.getTopicCatId().getTopic().getTopicName()}"></span></td>
	  <td><span  th:text="${user.getLan().getLangName()}"></span></td>
	  <td><div th:each="usr :${user.getMultiUserAssigned()}" th:text = "${usr.getUser().getFullName()}"></div></td>
    </tr>
  
  </tbody>
</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="common/trail :: body-bottom-scripts"></div>
	<script type="text/javascript">
	var projectPath='[(@{/})]';
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
</body>
</html>

