<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<html>
<head>
<head th:replace="common/trail :: common-trail (pageTitle='Contents - Health And Nutrition')"></head>
<body>
<section th:replace="index.html :: header-bar"></section>
  <nav th:replace="index.html :: navbar"></nav>
<div class="container">
<div id="search-bar" class="container-lg mb-3 mt-5">
<form th:action="@{/cdContentInfo}" class="form-inline" style="width:100%;" method="POST">
<div class="row" style="width: 100%;">
<div class="col-md-4 mb-4">
            <select class="custom-select d-block w-100" id="categoryname" name="categoryName">
              <option>Select Category</option>
              <option th:each="category : ${categories}"><span th:text="${category.getCatName()}">Title ...</span></option>
            </select>
            <div class="invalid-feedback">
              Please select a valid foss.
            </div>
</div>

<div class="col-md-4 mb-4">
<select class="custom-select d-block w-100" id="inputL" name="lan">
              <option >Select Language</option>
              <option th:each="language : ${languages}"><span th:text="${language.getLangName()}">Title ...</span></option> 
            </select>
            <div class="invalid-feedback">
              Please provide a valid language.
            </div>
</div>
          <div class="col-md-4 mb-4" style="width: 100%;">
           <button type="submit" class="btn btn-outline-info" style="height: 38px;width: 100%;margin:0;background:#1C7871;color:#fff;"> Submit </button>
          </div>
</div>
</form>
          
</div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Total Video</th>
      <th scope="col">Language</th>
      <th scope="col">Size</th>
      <th scope="col">Rate</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td><span th:text="${categoryName}"/></td>
      <td><span th:text="${totalVideo}"/></td>
      <td><span th:text="${lanName}"/></td>
      <td><span th:text="${value}"/> MB</td>
      <td><span th:text="${rate}"/></td>
    </tr>
  </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>