<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail (pageTitle='Download Resources  - Health And Nutrition')">
<title> Download Resources - Health And Nutrition</title>
</head>
<style>
.nav-brochure{
border-right: 5px solid orange;
font-size:0.9rem;
}
.nav-brochure a{
color: #044F7A!important;
font-weight:bold!important;
}
</style>
<body>
	<header class="pt-3 mb-5" id="top-fixed-banner">
	<section th:replace="index.html :: header-bar"></section>
  <nav th:replace="index.html :: navbar"></nav>
  </header>
	<div class="container-fluid">
		<h1 class="text-center" style="color: #014F7A;font-size:1.5rem;">Download-Resources</h1>
		<br>
		<div class="row">
			
			<div class="col">
				<div>
					<div class="alert alert-success" role="alert"
						th:if="${success_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${success_msg}"></span>
							</div>
						</div>
					</div>
					<div class="alert alert-danger" role="alert" th:if="${error_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${error_msg}"></span>
							</div>
						</div>
					</div>
				</div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
  
</ul>

  
  				<div class="card">
					
					<div th:if="${downloadSection ==false}" class="card-body">
						<form class="form-horizontal"
											th:action="@{/downloads}" method="post">
						<div class="row">
							
								
											<div class="form-group col-md-4 mb-3" style="width:100%; height: 50%;">

												<label for="resourceCategoryId">Select Category *</label> <select
													id="resourceCategoryId" class="form-control"
													name="resourceCategoryName" required="required">
													<option value="0" selected="selected">Select Category</option>


													<option th:each="category: ${categories}" th:value="${category.getCategoryId()}" th:text="${category.getCatName()}">
												</option>

												</select>
												
											</div>
											
										
											
											<div class="form-group col-md-4 mb-3" style="width:100%; height: 50%;">
												<label for="languageResourceId">Select Language  <span class="text-muted">(For multiple language selection, press Ctrl key)</span></label> <select
													id="languageResourceId" class="form-control select selectpicker"
													name="languageResourceName"  size="13" multiple="multiple">
												</select>
												
											</div>

											<div class="form-group col-md-4 mb-3" style="width:100%; height: 100%">
												<label for="topicResourceId">Select Topic  <span class="text-muted">(For multiple topic selection, press Ctrl key)</span></label> <select
													id="topicResourceId" class="form-control select selectpicker"
													name="topicResourceName"  size="13" multiple="multiple">
												</select>
											
											</div>
											

									</div>
									<div class="row" style="align-content: center; margin-left: 33% ">
										<div class=" form-group col" required="required" >
										<br>
											<h6>No of available Tutorials for selected Langauges and Topics: <h6 id="tutorialCountId"></h6></h6>	
										<br>	
										<h6>Download Scriptfiles in the format</h6>
										<input type="radio" id="odt" name="scriptfiles" value="odt" checked >
										<label for="odt">odt</label><br>
										
										</div>
										</div>
									<button type="submit" class="btn  btn-success" style="margin-left: 33%;">Submit</button>
									
								</form>


					</div>
					
					<div th:if="${downloadSection !=false}" class="card-body">
						<div class="mb-3" style="align-content: center; margin-left: 20%; " ><i class="fas fa-file-download mr-3 fa-lg" style="float: left;"> </i> 
							<a name="scriptzipdownload" target="_blank" th:href="@{/files/}+@{${zipUrl}}"
																	id="scriptzipdownload" style="font-size: large; position: relative; float: left;"> <h5>Download the Script Resources</h5></a>
							</div>
					</div>
				
  </div>
  <div class="tab-pane fade py-3" id="view" role="tabpanel" aria-labelledby="profile-tab">
  	<div id="Success" style="display: none; color: green; font-size: 16px; text-align: center">Changes Updated Successfully</div>
	<div id="Failure" style="display: none; color: green; font-size: 16px; text-align: center">Please Try Again</div>
 </div>
  

  


			</div>


		</div>

	</div>
	
	
<div th:replace="common/trail :: body-bottom-scripts"></div>
<script>
var projectPath='[(@{/})]';


</script>
</body>

</html>