
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail"></head>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div>
					<div class="alert alert-success" role="alert"
						th:if="${success_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${success_msg}"></span>
							</div>
						</div>
					</div>
					<div class="alert alert-danger" role="alert" th:if="${error_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${error_msg}"></span>
							</div>
						</div>
					</div>
				</div>

				
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active py-3" id="add"
						role="tabpanel" aria-labelledby="home-tab">
						<div class="card">
							<div class="card-header">
								<h4>Update Trainee</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6">
										<form class="form-horizontal" th:action="@{/updateTrainee}"
											method="post" enctype="multipart/form-data">
											<div class="form-group">

												<label for="event">E-mail</label> <input type="email"
													class="form-control" id="event" name="email"
													required="required" th:value="${trainee.getEmail()}" />
											</div>
									
											<div class="form-group">

												<label for="eventdate">Age</label> <input type="number"
													class="form-control" id="eventdate" name="age"
													required="required" th:value="${trainee.getAge()}"/>

											</div>
											
											 
  											<input type="hidden"  name="traineeId"  th:value="${trainee.getTrainingId()}"/>

											<div class="form-group">

												<label for="endDate">Aaadhar</label> <input type="number"
													class="form-control" id="endDatee" name="aadhar"
													required="required" th:value="${trainee.getAadhar()}" />

											</div>


											<div class="form-group">
												<label for="endDate">Gender</label> <input type="text"
													class="form-control" id="endDatee" name="gender"
													required="required" th:value="${trainee.getGender()}" />

											</div>
											<div class="form-group">
												<label for="venue">Name</label> <input type="text"
													class="form-control" id="venue" name="name"
													required="required" th:value="${trainee.getName()}"/>
											</div>
											<div class="form-group">
												<label for="contactperson">Organization</label> <input
													type="text" class="form-control" id="contactperson"
													name="org" required="required" th:value="${trainee.getOrganization()}"/>
											</div>
											<div class="form-group">
												<label for="contactnumber">Contact Number</label> <input
													type="number" class="form-control" id="conatctNumber"
													name="contactnumber" required="required" th:value="${trainee.getPhone()}" />
											</div>
											
											<button type="submit" class="btn a-btn">Submit</button>
										</form>
									</div>
								</div>
							</div>
						</div>


					</div>
			
				</div>
			</div>
		</div>
	</div>

	<div th:replace="common/trail :: body-bottom-scripts"></div>
	<script type="text/javascript">
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
	<script th:inline="javascript">
		var projectPath='[(@{/})]';
	</script>
</body>
</html>

 

 