<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


	<head th:replace="common/trail :: common-trail (pageTitle='Project-Reports - Health And Nutrition')">

		<title>Project-Reports - Health And Nutrition</title>

	</head>

	<body>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.7/plyr.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
		<section id="loginSectionofTutorial">
			<div class="px-md-3">
				<div class="row header-top pt-2">
					<div class="col-sm-6 d-flex justify-content-center justify-content-md-start">

					</div>
					<div class="col-sm-6 d-flex justify-content-center justify-content-md-end">
						<div>
							<p class="d-inline-block">
								<span class="top-banner"> <a sec:authorize="isAnonymous()" th:href="@{/login}">Login
										| New User</a> <a sec:authorize="isAuthenticated()" th:href="@{/dashBoard}">My
										Account</a>
								</span>
							</p>
							<p sec:authorize="isAuthenticated()" class="d-inline-block"><span class="top-banner"><a
										th:href="@{/logout}">Logout</a></span></p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<nav th:replace="index.html :: navbar"></nav>
		<div id="projectReportContainer" class="container">
			<div th:replace="common/commonItemsProjectReport :: search_bar"></div>

		</div>
		<main id="projectReportPage" class=" p-4">
			<section id="p-report">


				<div class="row" id="OriginalMaodeRow">
					<div class="col-md-8 p-2">


					</div>

				</div>

			</section>

		</main>
		<br><br>
		<br><br>



		<footer class="footer" style="margin-bottom:0px; margin-top:100px;">
			<div class="container">

				<div class="row" height="50%">
					<div class="col text-center justify-content" style=" padding-top:12px; height:50%;">
						<p> <i class="fas fa-map-marker-alt contact-icon"></i> Spoken Tutorial Project,<br>
							TCS Lab,Behind CAD Centre,<br>
							IIT Bombay, Powai,<br>
							Mumbai - 400076
						</p>
					</div>

					<div class="col text-center" style=" padding-top:12px; height:50%;">

						<p><a href="mailto:health@spoken-tutorial.org"><i
									class="fas fa-envelope contact-icon mr-2"></i><span style="color:white;">
									health@spoken-tutorial.org</span> </a></p>
						<p><a href="tel:02225764229"><i class="fas fa-phone-alt contact-icon mr-2"></i><span
									style="color:white;">022 2576 4229 </span> </a></p>

					</div>

					<div class="col  text-center " style="padding-top:10px; height:50%;">
						<a href="https://www.iitb.ac.in/" target="_blank"> <img th:src="@{/image/iitb-logo.png}"
								width="50%" height="50%" alt="IITB"> </img>
							<p class="text-centre"><span style="color:white;">Developed at IIT-Bombay</span></p>
						</a>

					</div>

					<div class="col   justify-content " style="padding-top:5px; height:30%; ">

						<p><a href="https://www.youtube.com/channel/UCmyV3lKT1Gs1AfgtV8pp__Q"
								class="fab fa-youtube fa-1x" style="color: #ed302f;" target="_blank"> <span
									style="color:white; font-size: 14px;">ST Health YouTube Channel</span></a></p>
						<p><a href="https://www.youtube.com/user/SpokenTutorialIITB" class="fab fa-youtube fa-1x"
								style="color: #ed302f;" target="_blank"> <span style="color: white; font-size: 14px;">ST
									YouTube Channel</span> </a> </p>
						<p><a href="https://www.facebook.com/SpokenTutorial.org" class="fab fa-facebook-f fa-1x"
								style="color: #3b5998;" target="_blank"> <span style="color: white; font-size: 14px;">
									ST Facebook Page</span> </a></p>
						<p><a href="https://www.linkedin.com/company/spokentutorial?original_referer="
								class="fab fa-linkedin-in fa-1x" style="color: #0082ca;" target="_blank"> <span
									style="color:white; font-size: 14px;">ST LinkedIn Page</span> </a> </p>



					</div>

				</div>

			</div>

		</footer>



		<style>
			@keyframes spin {
				0% {
					transform: rotate(0deg);
				}

				100% {
					transform: rotate(360deg);
				}
			}



			#imageSlider .carousel-inner {
				min-height: 80vh;
				background: #fff;
			}


			#imageSlider .carousel-item {
				text-align: center;
			}


			.carousel-img {
				max-width: 100%;
				max-height: 80vh;
				width: auto;
				height: auto;
				object-fit: contain;
				display: inline-block;
			}



			.carousel-control-prev,
			.carousel-control-next {
				width: 8%;
			}

			.carousel-control-prev-icon,
			.carousel-control-next-icon {
				background-color: black;
				border-radius: 50%;
				width: 42px;
				height: 42px;
				background-size: 60% 60%;
			}



			.carousel-indicators li {
				background-color: #bbb;
			}

			.carousel-indicators .active {
				background-color: #000;
			}



			@media (max-width: 768px) {
				.carousel-img {
					max-height: 60vh;
				}

				.carousel-control-prev-icon,
				.carousel-control-next-icon {
					width: 36px;
					height: 36px;
				}
			}

			.state-title {
				color: #0d6efd;
				font-weight: 600;
			}

			.meta-title {
				color: #000;
				font-weight: 500;
			}
		</style>


		<div th:replace="common/trail :: body-bottom-scripts"></div>


		<div class="modal fade" id="shareModalPR" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title">Share File</h5>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<div class="modal-body">


						<div th:if="${fileTypeString == 'Pdf' or fileTypeString == 'Image'}">
							<input type="text" class="form-control shareLink" readonly th:value="${shareUrl != null}
                             ? @{${baseUrl} + '/shared-Project-Report/'
                                 + ${stateName} + '/'
                                 + ${fileTypeString} + '/'
                                 + ${districtName} 
                                 + '?token=' + ${token}}
                             : ''">
						</div>


						<div th:if="${fileTypeString == 'Doc' or fileTypeString == 'Excel'}">


							<div th:if="${usr != null and authorizedUsr}">
								<input type="text" class="form-control shareLink" readonly th:value="${shareUrl != null}
                                 ? @{${baseUrl} + '/shared-project-report-file/'
                                     + ${stateName} + '/'
                                     + ${fileTypeString} + '/'
                                     + ${districtName} 
                                     + '?token=' + ${token}}
                                 : ''">
							</div>

						</div>

					</div>

					<div class="modal-footer">
						<button type="button" id="copyShareLinkPR" class="btn btn-primary">
							Copy Link
						</button>
					</div>

				</div>
			</div>
		</div>


		<div class="modal fade" id="docExcel" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" th:replace="common/commonItemsProjectReport :: model_title">
						</h5>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<div th:if="${usr == null}" class="login-box">
						<div th:replace="common/commonItemsProjectReport :: pr_login">
						</div>

					</div>
					<div th:if="${usr != null and !authorizedUsr}">
						<h5 class="text-danger px-3 pt-3">You are not authorized to access Doc or Excel files.</h5>
						<br>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="viewModalPR" tabindex="-1">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title" th:replace="common/commonItemsProjectReport :: model_title">
						</h5>


						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<div class="modal-body">
						<div th:if="${fileTypeString == 'Pdf'}">
							<th:block th:each="stat, iter : ${fileNames}">
								<span th:text="'Pdf ' + (${iter.index} + 1) + ': '"></span>
								<a th:href="@{/project-reports/view-share/{state}/{district}/{fileType}/{token}/{page}/{fileName}(state=${stateName},district=${districtName},fileType=${fileTypeString},token=${token},page=${iter.index},fileName=${stat})}"
									target="_blank">
									Click here to view
								</a>
								<br />
							</th:block>
						</div>


						<div th:if="${fileTypeString == 'Doc' or fileTypeString == 'Excel'}">


							<div th:if="${usr != null and authorizedUsr}">
								<h6 class="px-3 pt-3">
									Doc and Excel files cannot be viewed. Please download them.
								</h6>

							</div>





						</div>

					</div>



					<div th:if="${fileTypeString == 'Image'}" id="imageSlider" class="carousel slide"
						data-ride="carousel" data-keyboard="true" data-touch="true">


						<ol class="carousel-indicators">
							<th:block th:each="x, i : ${fileNames}">
								<li th:data-target="'#imageSlider'" th:data-slide-to="${i.index}"
									th:classappend="${i.index == 0} ? 'active'">
								</li>
							</th:block>
						</ol>


						<div class="carousel-inner">
							<th:block th:each="x, i : ${fileNames}">
								<div class="carousel-item" th:classappend="${i.index == 0} ? ' active'">

									<img th:src="@{/project-reports/view-share/{state}/{district}/{fileType}/{token}/{page}/{fileName}
					                (state=${stateName},
					                 district=${districtName},
					                 fileType=${fileTypeString},
					                 token=${token},
					                 page=${i.index},
					                 fileName=${x})}" class="carousel-img" alt="Preview Image">


								</div>
							</th:block>
						</div>


						<a class="carousel-control-prev" href="#imageSlider" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon"></span>
						</a>
						<a class="carousel-control-next" href="#imageSlider" role="button" data-slide="next">
							<span class="carousel-control-next-icon"></span>
						</a>

					</div>

				</div>
			</div>
		</div>






		<script th:inline="javascript">
			var projectPath = '[(@{/})]';

		</script>

		<script th:if="${shareUrl != null 
               and action == 'share' 
               and ((fileTypeString == 'Pdf' or fileTypeString == 'Image')
                    or ((fileTypeString == 'Doc' or fileTypeString == 'Excel') and authorizedUsr))}">
						$(document).ready(function () {
							$('#shareModalPR').modal('show');
						});
					</script>


		<script th:if="${(fileTypeString == 'Doc' or fileTypeString == 'Excel') and !authorizedUsr}">
			$(document).ready(function () {
				$('#docExcel').modal('show');
			});
		</script>



		<script th:if="${action == 'view'
               
		               and fileNames != null
		               and fileNames.size() > 0
		               and ((fileTypeString == 'Pdf' or fileTypeString == 'Image')
                   	   or ((fileTypeString == 'Doc' or fileTypeString == 'Excel') and authorizedUsr))}">
						$(document).ready(function () {
							$('#viewModalPR').modal('show');
						});
					</script>


		<script>
			document.getElementById("formProjectReport").addEventListener("submit", function (event) {
				event.preventDefault();

				let state = document.getElementById("stateNamePR").value;
				let district = document.getElementById("districtNamePR").value;
				let file = document.getElementById("inputFileTypePR").value;
				let action = document.querySelector('input[name="action"]:checked');

				let errorBox = document.getElementById("formErrorPR");


				function showError(message) {
					errorBox.textContent = message;
					errorBox.classList.remove("d-none");
					errorBox.scrollIntoView({behavior: "smooth"});

					setTimeout(() => {
						errorBox.classList.add("d-none");
					}, 8000);
				}


				if (state === "0") {
					showError("Please select State");
					return false;
				}

				if (district === "0") {
					showError("Please select District");
					return false;
				}

				if (file === "0") {
					showError("Please select File Type");
					return false;
				}

				if (!action) {
					showError("Please select an Action (View / Download / Share)");
					return false;
				}


				errorBox.classList.add("d-none");
				this.submit();
			});
		</script>


		<input type="hidden" id="usrValue" th:value="${usr != null}">
		<input type="hidden" id="authorizedUsrValuePR" th:value="${authorizedUsr}">
		<input type="hidden" id="fileTypeStringPR" th:value="${fileTypeString}">

	</body>

</html>