<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<html>
<head>
<head th:replace="common/trail :: common-trail (pageTitle='Promo Video - Health And Nutrition')">
</head>
<style>
#tutorials_filter input{
	width: 400px!important;
}
.share-button {
            background-color: rgb(255, 255, 255);
           
            border: none;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 2px 1px;
            cursor: pointer;
            border-radius: 4px;
            position: relative;
   
        }
        .share-button:hover::after {
          
		    position: absolute;
		    top: -30px;
		    left: 50%;
		    transform: translateX(-50%);
		    background-color: #333;
		    color: #fff;
		    padding: 5px 10px;
		    border-radius: 4px;
		    white-space: nowrap;
		    z-index: 1000;
		    opacity: 0.9;
		    font-size: 12px;
		    line-height: 1.2;
		    pointer-events: none;
        } 
        
 
          

</style>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.7/plyr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
<section th:replace="index.html :: header-bar" ></section>
<nav th:replace="index.html :: navbar"></nav>

<div class="container">
<div id="search-bar" class="container-lg mb-3 mt-5">

 
     <h1 class="text-center laptop-only"> <span style="color: #014F7A;font-size:2rem; border-bottom: 2px solid orange;">Promo Video</span></h1><br>
    <div class="container-lg">
    	<div class="row">
    <div class="col-md-12 ">
   
    <div th:if="${enabledPromoVideo}" class="card  pt-3" style="width: 100%;" >
            <div  class="card-image text-center" style="margin-left:15px; margin-right:15px;">
            <div  id="promoVideoViewSource" style="width:100%;">
            <video  class="promoVideoView" th:if="${promoVideoFile!= 'null' and foundVideo }" controls="controls" style="width:100%;" >
			  <source th:src="@{/files/}+@{${promoVideoFile}}" type="video/mp4" />
 				Your browser does not support HTML video.
			</video>
            </div>
           </div>
            <div class="card-content  " >
              <div class="content">
              <div style="float:left; padding-top: 15px; margin-left:15px; margin-right:40px;">
				 
               <h5 th:if="${foundVideo}" th:text="${promoVideo.getTitle()}"> </h5>
                 <span th:text="${allLanguageNames}"></span>
                
              </div>
             <script th:inline="javascript">
              var promoVideos = /*[[${PromoVideos}]]*/ null;
      
              </script>
                
              <div class="form-group" style="float:left; padding-top: 15px; margin-left:15px; margin-right:40px;">
								<label for="languageId1"><h6>Select Language</h6></label> <select id="languageIdViewPage"
									class="form-control" name="languageName" required="required">
										<option  th:value="${language.getLanId()}" th:text="${language.getLangName()}"></option>
										<option th:each="lan: ${languages}" th:value="${lan.getLanId()}" th:text="${lan.getLangName()}">
												</option>
								
								</select>

							</div>
							
				<div id="promoVideoViewPageId" style="float:left; padding-top: 15px; margin-left:5px; margin-right:40px;"> 
				<a  id="promoVideoViewPageUrl" th:href="@{'/promoVideoView/'+ ${langName} + '/' }" style="display: none;"> View </a>
				<button id="copyButtonViewPage" class="share-button" data-clipboard-target="#promoVideoViewPageUrl" title="Copy to clipboard"> Copy <i style="font-size:14px" class="fa">&#xf0c5;</i> </button>
				 </div>	
              </div>
              
                  	
            </div>
          </div>
          <div th:unless="${foundVideo}">
			  <p>No Video found for the language: <span th:text="${langName}"></span></p>
			  
		  </div>
    </div>
    </div>
    <br>
    </div>
  



</div>
</div>

 <br><br><br><br><br><br><br><br><br><br><br><br>
	 
	  <footer class="footer" style="margin-bottom:0px;">
	  <div class="container" >
	  
	  <div class="row"  height="50%" >
	   <div class="col text-center justify-content" style=" padding-top:12px; height:50%;"> <p> <i class="fas fa-map-marker-alt contact-icon" ></i> Spoken Tutorial Project,<br>
			TCS Lab,Behind CAD Centre,<br>
			IIT Bombay, Powai,<br>
			Mumbai - 400076
   			</p> 
   	 </div>
	  
	  <div class="col text-center" style=" padding-top:12px; height:50%;"> 
	
	  		<p><a href="mailto:health@spoken-tutorial.org"><i class="fas fa-envelope contact-icon mr-2"></i><span style="color:white;"> health@spoken-tutorial.org</span> </a></p>
		    <p><a href="tel:02225764229"><i class="fas fa-phone-alt contact-icon mr-2"></i><span style="color:white;">022 2576 4229 </span> </a></p>
	  
	   </div>
	   
	  <div class="col  text-center " style="padding-top:10px; height:50%;">
		  <a href="https://www.iitb.ac.in/" target="_blank"> <img th:src="@{/image/iitb-logo.png}" width="50%" height="50%"  alt="IITB" > </img>	
    	  <p class="text-centre"><span  style="color:white;">Developed at IIT-Bombay</span></p></a>
	  
	  </div>
	  
	  <div class="col   justify-content " style="padding-top:5px; height:30%; ">
		   	
		    <p><a href="https://www.youtube.com/channel/UCmyV3lKT1Gs1AfgtV8pp__Q" class="fab fa-youtube fa-1x" style="color: #ed302f;"  target="_blank"> <span  style="color:white; font-size: 14px;">ST Health YouTube Channel</span></a></p>
		    <p><a href="https://www.youtube.com/user/SpokenTutorialIITB" class="fab fa-youtube fa-1x" style="color: #ed302f;" target="_blank"> <span  style="color: white; font-size: 14px;">ST YouTube Channel</span>  </a> </p>
		    <p><a href="https://www.facebook.com/SpokenTutorial.org" class="fab fa-facebook-f fa-1x" style="color: #3b5998;" target="_blank"> <span  style="color: white; font-size: 14px;"> ST Facebook Page</span> </a></p>
    		<p><a href="https://www.linkedin.com/company/spokentutorial?original_referer=" class="fab fa-linkedin-in fa-1x" style="color: #0082ca;" target="_blank">  <span  style="color:white; font-size: 14px;">ST LinkedIn Page</span> </a>  </p>
    		
    		<!-- <a href="#" class="fa fa-instagram"></a>    -->	
   			
	  </div>
	 
	  </div>
	  
	  </div>
	
    </footer>
 	
	
<div th:replace="common/trail :: body-bottom-scripts"></div>
<style>
  :root {
  --plyr-color-main: #ff9033;
  --plyr-video-control-color: #ffffff;
}
.plyr__control[data-plyr="download"] svg {
  fill:#ffffff; /* change to your desired color */
}

 

 </style>
<script>
		var projectPath='[(@{/})]';		
		//var videos = document.querySelectorAll('video');
			
		
			 var controls =
[
    'play-large', // The large play button in the center
    //'restart', // Restart playback
    //'rewind', // Rewind by the seek time (default 10 seconds)
    'play', // Play/pause playback
   // 'fast-forward', // Fast forward by the seek time (default 10 seconds)
    'progress', // The progress bar and scrubber for playback and buffering
    'current-time', // The current time of playback
   // 'duration', // The full duration of the media
    'mute', // Toggle mute
    'volume', // Volume control
    'captions',  // Toggle captions
    'settings', // Settings menu
    'pip', // Picture-in-picture (currently Safari only)
    'airplay', // Airplay (currently Safari only)
    'download', // Show a download button with a link to either the current source or a custom URL you specify in your options
    'fullscreen' // Toggle fullscreen
];

  const player = new Plyr('.promoVideoView',{controls});
			
	</script>

</body>
</html>