<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>

	<!-- <div th:replace="common/header :: navbar" /> -->
	<div th:replace="common/header :: c_header"></div>

	<div class="container">
		<div class="row " style="margin-top: 60px;text-align:center">
			<div th:if="${Success}" class="alert alert-success" th:text="${Sucesss}">Password updated successfully</div>
			<div th:if="${Error}" class="alert alert-danger" th:text="${Error}">Please Try Again.</div>
				
			<form th:action="@{/resetPassword}" method="post">

			<div class="container">

				<input type="password" id="password" class="form-control mb-4"
					placeholder="Password" name="Password" required />

				<!-- Password -->
				<input type="password" id="passwordConf" class="form-control mb-4"
					placeholder="Confirm" name="Confirm" required />

			</div>


			<input type="hidden" name="token" th:value=${resetToken}>
			<button class="btn btn-primary btn-login" type="submit">Submit</button>

		</form>
	
		</div>
	</div>
	<!-- end of container -->


	<div th:replace="common/header :: body-bottom-scripts" />
	
		<script th:inline="javascript">
    
		var projectPath='[(@{/})]';
		
	</script>
</body>
</html>