<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<style>
body{
		padding-top:0;
	}
	.top-bar{
	border-bottom: 2px solid #014F7A;
}

</style>

<body>

	<!-- <div th:replace="common/header :: navbar" /> -->
	<!-- <div th:replace="common/header :: c_header"></div> -->
	<div th:replace="common/header :: c_header"></div>

	<div class="container ">
		<div class="row " style="margin-top: 60px;text-align:center">
		<div class="col-md-6">
		<div th:if="${Success}" class="alert alert-success" th:text="${Success}">Password updated successfully.</div>
			<div th:if="${Error}" class="alert alert-danger" th:text="${Error}">Please Try Again.</div>
		</div>
			
		</div>
			<form th:action="@{/resetPassword}" method="post">

			
			<div class="row">
			<div class="col-md-6">
			<div class="row">
			<div class="col-md-12 ">
			<div class="form-group text-left">
    <label for="password">Enter New Password</label>
    <input type="password" id="password" class="form-control mb-4"
					placeholder="Password" name="Password" required />
  </div>
			</div>
			<div class="col-md-12">
			<div class="form-group text-left">
    <label for="passwordConf" >Confirm New Password</label>
    <input type="password" id="passwordConf" class="form-control mb-4"
					placeholder="Confirm" name="Confirm" required />
  </div>
			</div>
			<div class="col-md-12 text-left">
			<input type="hidden" name="token" th:value=${resetToken}>
			<button class="btn btn-primary btn-login " type="submit">Submit</button>
			</div>
			</div>
			</div>
			
			
			</div>
			
  

				

				<!-- Password -->
				
</form>
			


			

		
	
		
	</div>
	<!-- end of container -->


	<div th:replace="common/header :: body-bottom-scripts" />
	
		<script th:inline="javascript">
    
		var projectPath='[(@{/})]';
		
	</script>
</body>
</html>