
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head th:replace="common/trail :: common-trail">

	<meta charset="utf-8"/>
		 <meta name="viewport" content="width=device-width, initial-scale=1"/>
		 <link rel="stylesheet" th:href="@{css/style3.css}"/>
 	 	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/> 

</head>
  <body>
  		
  		<!-- <div th:replace="common/header :: c_header"></div> -->
  		
  		
  		<div style="display:flex;">
  		<div th:replace="common/sidebar :: contributor_sidebar"></div>

	    <div class="row" style='width:100%;'>
	      <div class="col-lg-10 col-xl-9 mx-auto">
	        <div class="card card-signin flex-row a-card">
	       
	          <div class="card-body">
	           <h5 class="card-title text-center a-card-title">
    			<div class="">    
                               
                                <div th:if="${msgSuccefull}">
   								 <span th:text="${msgSuccefull}"></span>
 									 </div> </div>
 									 
 									 
 									 
 									 </h5>
    <h5 class="card-title text-center" style="color:maroon; font-size: 30px">  Revoke Language </h5>
	         	          	       <form class="form-horizontal"  th:action="@{/revokeSubmition}" method="post"  enctype="multipart/form-data" onsubmit="return submitForm()(this);">

				<div class="form-group">  
	 
	                        <label for="languageId">Language Name</label> 
	                        
                     <select id="languageId" class="form-control" name="languageName"  required="required" >
								               
								                    <option selected="selected" >Select Language</option>  
								                    
								                        <span th:each="language: ${languages}" >
								  								<option th:value="${language.getLanguage().languageName}"><span  th:text="${language.getLanguage().languageName}"></span></option>		
								  						</span>
					</select>	 						 
					<span style="color: red;" th:if="${msg}"> Please enter language.</span>
											
												 
					<span style="color: red;" th:if="${msg1}">
										Choose another language.</span>
	 						 	
						</div>
	
                        <button id="revokeId" type="submit" value="showAlert"  class="btn btn-success">Revoke</button>&nbsp;&nbsp;&nbsp;
 
 
 
             </form>
         	
					<script>
					function submitForm() {
						  /* return confirm('Do you really want to submit the form?'); */
						  
						  /* alert("Submit form succefully"); */
						}
					</script>
  				 
          </div>
        </div>
      </div>
    </div>
  </div>
 
			<div th:fragment="body-bottom-scripts">

        	 <script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
       		 <script th:src="@{/static/js/jquery.slim.min}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
			
				<script th:src="@{/js/jquery.min.js}"></script>
			    <script th:src="@{/s/js/jquery-3.2.1.min.js}"></script>
			    <script th:src="@{/s/js/popper.min.js}"></script>
			    <script th:src="@{/s/js/bootstrap.min.js}"></script>
			    <script src="@{/s/js/owl.carousel.min.js}"></script>
			    <script src="@{/s/js/bootstrap-datepicker.js}"></script>
			    <script src="@{/s/js/jquery.timepicker.min.js}"></script>
			    <script src="@{/s/js/jquery.waypoints.min.js}"></script>
			    <script src="@{/s/js/main.js}"></script>
			    <script src="@{/js/ajaxSupport.js}"></script>
			
			</div>
			
				<script th:inline="javascript">
    
		var projectPath='[(@{/})]';
		
	</script>
 </body>
</html>
 
 