<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/trail :: common-trail (pageTitle=' Project Report Download - Health And Nutrition')">
    <title>Project Report Download - Health And Nutrition</title>

   
</head>

<body>


  
<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.7/plyr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
<section th:replace="index.html :: header-bar" ></section>
<nav th:replace="index.html :: navbar"></nav>

<div class="container my-4">

    <h3 class="text-center resource-title mb-4">
        Project Report
    </h3>

    <!-- Alerts -->
    <div class="row justify-content-center">
        <div class="col-lg-8">

            <div class="alert alert-success text-center"
                 role="alert"
                 th:if="${success_msg}">
                <span th:text="${success_msg}"></span>
            </div>

            <div class="alert alert-danger text-center"
                 role="alert"
                 th:if="${error_msg}">
                <span th:text="${error_msg}"></span>
            </div>

        </div>
    </div>

    
    <div class="row justify-content-center"
         th:if="${(fileTypeString == 'Doc' or fileTypeString == 'Excel')
                 or (fileTypeString == 'Pdf' and isZipFile)
                 or (fileTypeString == 'Image' and isZipFile)}">

        <div class="col-12 col-md-10 col-lg-8">

            <div class="card shadow-sm mb-4">
                <div class="card-body">

                   
                    <div class="mb-3 text-center text-md-left">

					    <span class="badge badge-primary meta-badge mr-2 mb-2 d-inline-block"
					          th:if="${stateName != null}"
					          th:text="'State : ' + ${#strings.capitalizeWords(#strings.replace(stateName,'_',' '))}">
					    </span>
					
					    <span class="badge badge-info meta-badge mr-2 mb-2 d-inline-block"
					          th:if="${districtName != null}"
					          th:text="'District : ' + ${#strings.capitalizeWords(#strings.replace(districtName,'_',' '))}">
					    </span>
					
					    <span class="badge badge-secondary meta-badge mb-2 d-inline-block"
					          th:if="${fileTypeString != null}"
					          th:text="'📁 : ' + ${#strings.capitalizeWords(#strings.replace(fileTypeString,'_',' '))}">
					    </span>
					
					</div>


                    
                    <div class="row mb-3">
                        <div class="col-12 col-md-6">
                            <strong>File Name:</strong>
                            <div th:text="${fileName}"></div>
                        </div>

                        <div class="col-12 col-md-6 mt-2 mt-md-0">
                            <strong>File Size:</strong>
                            <div th:text="${fileSizeInMb}"></div>
                        </div>
                    </div>

                   
                    <div class="text-center text-md-right">
                        <a name="prdownload_"
                           class="btn btn-outline-primary btn-lg"
                           target="_blank"
                            th:href="@{/downloadProjectReport(fileType=${fileTypeString}, token=${token})}"
                           th:id="'prdownload_' + ${fileTypeString.toLowerCase()}">
                            <i class="fas fa-file-download mr-2"></i>
                            Download
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>

   
    <div class="row">
        <div class="col text-center">
            <div id="Success" class="text-success d-none">
                Changes Updated Successfully
            </div>

            <div id="Failure" class="text-danger d-none">
                Please Try Again
            </div>
        </div>
    </div>

</div>


<footer class="footer" style="margin-bottom:0px; margin-top:200px;">
			<div class="container">

				<div class="row" height="50%">
					<div class="col text-center justify-content" style=" padding-top:12px; height:50%;">
						<p> <i class="fas fa-map-marker-alt contact-icon"></i> Spoken Tutorial Project,<br>
							TCS Lab,Behind CAD Centre,<br>
							IIT Bombay, Powai,<br>
							Mumbai - 400076
						</p>
					</div>

					<div class="col text-center" style=" padding-top:12px; height:50%;">

						<p><a href="mailto:health@spoken-tutorial.org"><i
									class="fas fa-envelope contact-icon mr-2"></i><span style="color:white;">
									health@spoken-tutorial.org</span> </a></p>
						<p><a href="tel:02225764229"><i class="fas fa-phone-alt contact-icon mr-2"></i><span
									style="color:white;">022 2576 4229 </span> </a></p>

					</div>

					<div class="col  text-center " style="padding-top:10px; height:50%;">
						<a href="https://www.iitb.ac.in/" target="_blank"> <img th:src="@{/image/iitb-logo.png}"
								width="50%" height="50%" alt="IITB"> </img>
							<p class="text-centre"><span style="color:white;">Developed at IIT-Bombay</span></p>
						</a>

					</div>

					<div class="col   justify-content " style="padding-top:5px; height:30%; ">

						<p><a href="https://www.youtube.com/channel/UCmyV3lKT1Gs1AfgtV8pp__Q"
								class="fab fa-youtube fa-1x" style="color: #ed302f;" target="_blank"> <span
									style="color:white; font-size: 14px;">ST Health YouTube Channel</span></a></p>
						<p><a href="https://www.youtube.com/user/SpokenTutorialIITB" class="fab fa-youtube fa-1x"
								style="color: #ed302f;" target="_blank"> <span style="color: white; font-size: 14px;">ST
									YouTube Channel</span> </a> </p>
						<p><a href="https://www.facebook.com/SpokenTutorial.org" class="fab fa-facebook-f fa-1x"
								style="color: #3b5998;" target="_blank"> <span style="color: white; font-size: 14px;">
									ST Facebook Page</span> </a></p>
						<p><a href="https://www.linkedin.com/company/spokentutorial?original_referer="
								class="fab fa-linkedin-in fa-1x" style="color: #0082ca;" target="_blank"> <span
									style="color:white; font-size: 14px;">ST LinkedIn Page</span> </a> </p>



					</div>

				</div>

			</div>

		</footer>

<div th:replace="common/trail :: body-bottom-scripts"></div>

 <style>
        .nav-tr {
            border-right: 5px solid orange;
            font-size: 0.9rem;
        }

        .nav-tr a {
            color: #044F7A !important;
            font-weight: bold !important;
        }

        .resource-title {
            color: #014F7A;
            font-size: 1.6rem;
            font-weight: 600;
        }

       .meta-badge {
		    font-size: 1rem;   
		    padding: 0.45rem 0.75rem;
		    font-weight: 500;
		}

    </style>

<script th:inline="javascript">
    var projectPath = /*[[@{/}]]*/ '/';
</script>

</body>
</html>
