<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<html>
<head>
<head th:replace="common/trail :: common-trail"></head>
<body>
<section>
	<div class="px-md-3">
	<div class="row header-top pt-2">
	<div class="col-sm-6 d-flex justify-content-center justify-content-md-start">
	<div><p> <a href="tel:1800-267-7782"> <span class="contact-num top-banner p-2"><i class="fas fa-phone-alt mr-2"></i>Helpline : 1800-267-7782</span></a></p></div>
	</div>
	<div class="col-sm-6 d-flex justify-content-center justify-content-md-end">
	<div><p class="d-inline-block"><span class="top-banner">
		<a sec:authorize="isAnonymous()" th:href="@{/login}">Login | New
		User</a> <a sec:authorize="isAuthenticated()"
		th:href="@{/dashBoard}">My Account</a> 
		</span></p>
	    <p class="d-inline-block"><span class="top-banner"><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></span></p></div>
	</div>
	</div>
	</div>
	</section>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a th:href="@{/}"> <img th:src="@{/image/logo.png}" href="www.google." alt="Smiley face" height="50" width="50"> </img></a>
								<span style="color: black;font-size: 2rem;" class="ml-3">Spoken <span style="color: orange;font-size: 2rem;">Tutorials</span> </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNavBar">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="#search-bar">Home <span class="sr-only">(current)</span></a>
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About Us
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#parallax-1">About</a>
    <a class="dropdown-item" href="#parallax-2">Consultants</a>
    <a class="dropdown-item" href="#events">Events</a>
    <a class="dropdown-item" href="#testimonial">Testimonials</a>
  </div>
</div>
      <a class="nav-item nav-link " href="#contact" tabindex="-1">Contact Us</a>
    </div>
  </div>
</nav>
<div class="container">
<div id="search-bar" class="container-lg mb-3 mt-5">
<div class="row" style="width: 100%;">
<div class="col-md-4 mb-4">
            <select class="custom-select d-block w-100 catStat" name="categoryName">
              <option>Select Category</option>
              <option th:each="category : ${categories}"><span th:text="${category.getCatName()}">Title ...</span></option>
            </select>
            <div class="invalid-feedback">
              Please select a valid foss.
            </div>
</div>

<div class="col-md-4 mb-4">
<select class="custom-select d-block w-100 lanStat" name="lan">
              <option >Select Language</option>
              <option th:each="language : ${languages}"><span th:text="${language.getLangName()}">Title ...</span></option> 
            </select>
            <div class="invalid-feedback">
              Please provide a valid language.
            </div>

          
</div>
</div>

<div id="statBox">
	<p>Total Number of tutorials  <span th:text="${tutTotal}"/></p>
	<p>Total Number of Categories <span th:text="${catTotal}"/></p>
	<p>Total Number of Langauges <span th:text="${lanTotal}"/></p>
</div>

<div id="onChangedataStat">
</div>

		
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script th:src="@{/js/ajaxSupport.js}"></script>
<div th:replace="common/trail :: body-bottom-scripts"></div>
<script th:inline="javascript">
		var projectPath='[(@{/})]';
	</script>
</body>
</html>