
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">


<head th:replace="common/trail :: common-trail">


		<meta charset="utf-8"/>
		 <meta name="viewport" content="width=device-width, initial-scale=1"/>
		 <link rel="stylesheet" th:href="@{/css/style3.css}"/>
 	 	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/> 
		<link rel="stylesheet" type="text/css" th:href="@{/datatables.css}"/>
	
	
</head>

 
<body>
	<div style="display: flex;">
		<div th:replace="common/sidebar :: contributor_sidebar"></div>

		 <div class="row" style='width: 100%;'>
			<div class="col-lg-10 col-xl-9 mx-auto">
				<div class="card card-signin flex-row a-card">

					<div class="card-body">
					
					

						<!-- <form class="form-horizontal" th:action="@{/addConsaltant}"
							method="post" enctype="multipart/form-data"
							onsubmit="return submitForm(this);">  -->
  
  		
  		
				<div class="container" style="padding-top: 120px">   	
          	    <div>
					        <h2>TESTIMONIAL LIST</h2>
					        <table id="tableId" class="table table-striped">
					         <thead>
					         
					            <tr>
					                <th>Id</th>
					                <th>Name</th>
					                <th>Description</th>
					          	    <th>Video</th>
					                <th>Edit</th>
					                <th>Disable</th> 
					                          
					            </tr>
					            
					            </thead>
					            <tbody>
					            	<tr th:each="testimonial : ${testimonials}" style="">
					                <td th:text="${testimonial.getTestimonialId()}"></td>  
					                <td th:text="${testimonial.getName()}"></td>
					               
					                <td th:text="${testimonial.getDescription()}"></td>
					                <td>
					              			
									  <iframe width="330" height="215" th:src="@{/files/}+@{${testimonial.getFilePath()}}" frameborder="0"
						   					 allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true">
						         		 
						   		 </iframe>		
				     			 		
					                </td> 
					
					                <td><a th:href="@{${'/testimonial/edit/' + testimonial.getTestimonialId()}}">Edit</a></td>
					                <td><a onclick="submitForm()" th:href="@{${'/testimonial/delete/' + testimonial.getTestimonialId()}}">Disable</a></td>  
		
					            </tr>
					            
					            </tbody>
					        </table>
					    </div>
			</div> 
			
			
				<script src="/js/jquery.min.js"></script>
		 	<script type="text/javascript" charset="utf8" src="/datatables.js"></script>
		 
			<script>
			
			
			$(document).ready( function () {
			    $('#tableId').DataTable();
			} );
			
			</script>
 
 
 	<script>
					function submitForm() {
						  return confirm('Do you really want to Delete Recored');
						  
						  alert("Delete Recored succefully");
						}
					</script>
			<div th:fragment="body-bottom-scripts">

        	 <script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
       		 <script th:src="@{/static/js/jquery.slim.min}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
			
			
			
			</div>
 </body>
						</form>
					</div>
				</div>
			<div th:fragment="body-bottom-scripts">

		<script src="static/js/bootstrap.bundle.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
		<script
			src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>


	</div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
    
		var projectPath='[(@{/})]';
		
	</script>
</body>
 
</html>
 
 