<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail (pageTitle='Tutorials - Health And Nutrition')">
</head>
<body>
 <script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
  <section th:replace="index.html :: header-bar"></section>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a th:href="@{/}"> <img th:src="@{/image/logo.png}" href="www.google." alt="Smiley face" height="50" width="50"> </img></a>
								<span style="color: black;font-size: 2rem;" class="ml-3">Spoken <span style="color: orange;font-size: 2rem;">Tutorial </span><span style="border-bottom:2px solid orange;">Health & Nutrition Project</span> </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNavBar">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" th:href="@{/}" >Home <span class="sr-only">(current)</span></a>
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About Us
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" th:href="@{/#about}">About</a>
    <a class="dropdown-item" th:href="@{/#consultants}">Consultants</a>
    <a class="dropdown-item" th:href="@{/#events}">Events</a>
    <a class="dropdown-item" th:href="@{/#promoVideo}">Promo Videos</a>
    <a class="dropdown-item" th:href="@{/#testimonial}">Testimonials</a>
    <a class="dropdown-item" th:href="@{/#researchPaper}">Research Papers</a>
    <a class="dropdown-item" th:href="@{/#brochure}">Brochures</a>
  </div>
</div>
      <a class="nav-item nav-link " href="#contact" tabindex="-1">Contact Us</a>
    </div>
  </div>
</nav>
<div class="container">
<div th:replace="common/commonElements :: search_bar"></div>
</div>
<main id="tutorial_list">
	<div th:each="tutorial : ${tutorials}" class="row t-wrapper mt-3">
		<div class="col-md-6" >
		<div style="width: 100%; margin: auto;">
			<video th:id="${'storedVideoId' + tutorial.getTutorialId()}" 
				  controls style="width:100%!important;" class="vid1">
				<source th:src="@{/files/}+@{${tutorial.getVideo()}}" type="video/mp4"></source>
			</video>
			</div>
		</div>
		<div class="col-md-6">
		<a th:href="@{'/tutorialView/'+ ${tutorial.getConAssignedTutorial().getTopicCatId().getCat().getCatName()} + '/' +${tutorial.getConAssignedTutorial().getTopicCatId().getTopic().getTopicName()} +'/'+${tutorial.getConAssignedTutorial().getLan().getLangName()}}" style="color: black;text-decoration: none;">
			<h4 style="color: #014F7A;font-size: 1rem;text-decoration: underline;" th:text="${tutorial.getConAssignedTutorial().getTopicCatId().getTopic().getTopicName()}"></h4>
			<h6 style="color: #014F7A;font-size: 1rem;">
			<span th:text="${tutorial.getConAssignedTutorial().getTopicCatId().getCat().getCatName()}"></span>
			<span>(</span><i th:text="${tutorial.getConAssignedTutorial().getLan().getLangName()}" class=""></i><span>)</span>
			
			</h6>
				<!-- <p th:utext="${tutorial.getOutline()}" class="mx-0"> </p> -->
				<p th:utext="${#strings.abbreviate(tutorial.getOutline(),600)}" class="mx-0"></p>
				
			
		</a>
		</div>
	</div>
	
	
</main>

	<nav aria-label="Page navigation example" class="navbar fixed-bottom navbar-brand" style="left: auto; right: 5px">
		  <ul class="pagination pagination-sm ">
		  
		  
		    <li th:if ="${currentPage != 0}" class="page-item" aria-label="First"><a class="page-link"   th:href="@{'/tutorials?categoryName='+${category}+'&topic='+${topic}+'&lan='+${language}+'&page='+${0}}"> &laquo</a></li>
		    <li th:if ="${currentPage != 0}" class="page-item" aria-label="Previous"><a class="page-link"   th:href="@{'/tutorials?categoryName='+${category}+'&topic='+${topic}+'&lan='+${language}+'&page='+${currentPage -1}}"> &lt</a></li>
		    <li th:classappend = "${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(firstPage,lastPage)}" class="page-item"><a class="page-link" th:href="@{'/tutorials?categoryName='+${category}+'&topic='+${topic}+'&lan='+${language}+'&page='+${i-1}}"><span th:text="${i}"/></a></li>
		    <li th:if ="${currentPage+1 != totalPages}" class="page-item" aria-label="Next"><a class="page-link" th:href="@{'/tutorials?categoryName='+${category}+'&topic='+${topic}+'&lan='+${language}+'&page='+${currentPage +1 }}">&gt</a></li>
		    <li th:if ="${currentPage+1 != totalPages}" class="page-item" aria-label="Last"><a class="page-link"   th:href="@{'/tutorials?categoryName='+${category}+'&topic='+${topic}+'&lan='+${language}+'&page='+${totalPages-1}}"> &raquo</a></li>
		  </ul>
		</nav>

		
<div th:replace="common/trail :: body-bottom-scripts"></div>
<style>
  :root {
  --plyr-color-main: #ff9033;
   
}
  .plyr__controls__item plyr__volume{
    margin-bottom: 25px;
    padding-bottom:25px;
  }
</style>


<script>
		var projectPath='[(@{/})]';
		 
var isPlaying = [];
		
		var videos = document.querySelectorAll('video');
		for(var i=0; i<videos.length; i++){
			if(i==0){
				videos[i].play();
				videos[i].muted=true;
			}
			
		  	videos[i].addEventListener('play', function(){pauseAll(this)}, true);
		    videos[i].addEventListener('mouseover', playMutedVideoMouseOver);
		    videos[i].addEventListener('click', playUnmutedVideoOnClick);
		    videos[i].addEventListener('mouseout', pauseWithMutedVideoMouseOut);
		    
		    
		    isPlaying.push(false);
		    
		    videos[i].addEventListener("touchstart", function() {
		      var index = Array.from(videos).indexOf(this);
		      var flagCheck=0;
			 	for (var j = 0; j < videos.length; j++){
					 if(!videos[j].paused && !videos[j].muted)
						 flagCheck=flagCheck+1;
				 }
			 	
			 	if(flagCheck==0){
			 		if (!isPlaying[index]) {
				        videos[index].play();
				        videos[index].muted=true;
				        isPlaying[index] = true;
				      }
			 		}
		   		 });

		     videos[i].addEventListener("touchend", function() {
		      	var index = Array.from(videos).indexOf(this);
		      	if (isPlaying[index]) {
		        	videos[index].pause();
		        	isPlaying[index] = false;
		     		 }
		   		 });
		   
			}
		
		

		function pauseAll(elem){
		        
			for(var i=0; i<videos.length; i++){
		                if(videos[i] == elem) continue;
		                if(videos[i].played.length > 0 && !videos[i].paused){
		                  videos[i].pause();
		                }
		        }
		  }
		
		
		
		
		   // Functions to play the video with/without sound
			function playMutedVideoMouseOver(event) {
				var video = event.target;
			 	var flag=0;
			 	for (var j = 0; j < videos.length; j++){
					 if(!videos[j].paused && !videos[j].muted)
			 			flag=flag+1;
				 }
			 	if(flag==0){
			 	video.play();
			 	video.muted = true;
				}
			 
			}
		   

			function playUnmutedVideoOnClick(event) {
			 var video = event.target;
			 video.muted = false;
			 video.play();
			}
			
			function pauseWithMutedVideoMouseOut(event) {
				 var video = event.target;
					if(video.muted){
						video.pause();
						//video.muted=!video.muted;
					}
				 
				}
				
			
		
			 
			
			
		
	/*	window.addEventListener('load', videoScroll);
		window.addEventListener('scroll', videoScroll);

		 function videoScroll() {
			
		  if ( videos.length > 0) {
		    var windowHeight = window.innerHeight;
	 
		  for (var i = 0; i < videos.length; i++) {

		      var thisVideos = videos[i],
		          videoHeight = thisVideos.clientHeight,
		          videoClientRect = thisVideos.getBoundingClientRect().top;
				
		      
		    	  if ( videoClientRect <= ( (windowHeight) - (videoHeight*.5) ) && videoClientRect >= ( 0 - ( videoHeight*.5) ) ) {
		    		  thisVideos.play();
		    		  thisVideos.muted=true;
				      } else {
				    	  thisVideos.pause();
				      }
		    	  
		    	  break;
		      
		    }
		  }

		} */
		
		
		 var controls =
			 [
			     'play-large', // The large play button in the center
			    // 'restart', // Restart playback
			    // 'rewind', // Rewind by the seek time (default 10 seconds)
			     'play', // Play/pause playback
			    
			     'progress', // The progress bar and scrubber for playback and buffering
			     'current-time', // The current time of playback
			    
			     'mute', // Toggle mute
			    'volume', // Volume control
			    
			     //'settings', // Settings menu
			    // 'pip', // Picture-in-picture (currently Safari only)
			     'airplay', // Airplay (currently Safari only)
			     'download', // Show a download button with a link to either the current source or a custom URL you specify in your options
			     'fullscreen' // Toggle fullscreen
			 ];

		for(var i=0; i<videos.length; i++){
		
			const player = new Plyr(videos[i],{controls});	
			
			
			   
		}
</script>
</body>
</html>