<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail">
</head>
<style>
.nav-brochure{
border-right: 5px solid orange;
font-size:0.9rem;
}
.nav-brochure a{
color: #044F7A!important;
font-weight:bold!important;
}
</style>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div>
					<div class="alert alert-success d-none" role="alert" id="msg-success" >
						
					</div>
					<div class="alert alert-danger d-none" role="alert" id="msg-error" >
						
					</div>
				</div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#add" role="tab" aria-controls="home" aria-selected="true">Unpublish</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#view" role="tab" aria-controls="profile" aria-selected="false">View</a>
  </li>

  
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active py-3" id="add" role="tabpanel" aria-labelledby="home-tab">
  				<div class="card">
					<div class="card-header">
						<h1 class="title-1">Unpublish Tutorial</h1>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<form>
								<div class="form-group">
									<label for="#select-category">Select Category</label>
									<select id="select-category" class="form-control select-category">
									<option value="0">Select Category</option>
									<option th:each="category : ${categories}" th:value="${category.getCategoryId()}" th:text="${category.getCatName()}"></option>
									</select>
								</div>
								<div class="form-group">
								<label for="#select-topic">Select Topic</label>
								<select id="select-topic" class="form-control select-topic" disabled="disabled">
								<option value="0">Select Topic</option>
								
								</select>
								</div>
									<div class="form-group">
									<label for="#select-language">Select Language</label>
									<select id="select-language" class="form-control select-language" disabled="disabled">
									<option value="0">Select Language</option>
									</select>
									</div>
									<div class="border border-secondary p-2">
										<label>Select Components</label>
										<div class="form-group form-check">
										<input type="checkbox" class="form-check-input" id="check-all" checked="checked" data-comp="all"><label for="check-all">All</label>
										</div>
										<div class="d-flex" id="components">
										<div class="form-group form-check mr-2">
										<input type="checkbox" class="form-check-input" id="check-outline" value="Outline" data-comp="outline"><label for="check-outline">Outline</label>
										</div>
										<div class="form-group form-check mr-2">
										<input type="checkbox" class="form-check-input" id="check-script" value="Script" data-comp="script"><label for="check-script">Script</label>
										</div>
										<div class="form-group form-check mr-2">
										<input type="checkbox" class="form-check-input" id="check-slide" value="Slide" data-comp="slide"><label for="check-slide">Slide</label>
										</div>
										<div class="form-group form-check mr-2">
										<input type="checkbox" class="form-check-input" id="check-video" value="Video" data-comp="video"><label for="check-video">Video</label>
										</div>
										<div class="form-group form-check mr-2">
										<input type="checkbox" class="form-check-input" id="check-keyword" value="Keyword" data-comp="keyword"><label for="check-keyword">Keyword</label>
										</div>
										<div class="form-group form-check mr-2">
										<input type="checkbox" class="form-check-input" id="check-prerequisite" value="prerequisite" data-comp="prerequisite"><label for="check-prerequisite">Prerequisite</label>
										</div>
										</div>
									</div>
									<button class="btn btn-primary mt-2" id="btn_unpublish" disabled="disabled">Submit</button>
									
									
								</form>

							</div>
							<div class="col-md-6">
							<table class="table table-bordered d-none" id="table_status">
							<caption id="topic_name"></caption>
  <thead>
    <tr class="table-info">
      <th scope="col">Component</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Outline</th>
      <td id="outline"></td>
    </tr>
    <tr>
      <th scope="row">Script</th>
      <td id="script"></td>
    </tr>
    <tr>
      <th scope="row">Slide</th>
      <td id="slide"></td>
    </tr>
    <tr>
      <th scope="row">Keyword</th>
      <td id="keyword"></td>
    </tr>
    <tr>
      <th scope="row">Video</th>
      <td id="video"></td>
    </tr>
    <tr>
      <th scope="row">Prerequisite</th>
      <td id="prerequisite"></td>
    </tr>
   
  </tbody>
</table>
							</div>
						</div>

					</div>
				</div>
  </div>
  <div class="tab-pane fade py-3" id="view" role="tabpanel" aria-labelledby="profile-tab">
  <table class="table table-bordered" id="table_unpublished_tutorials">
							
  <thead>
    <tr class="table-info">
      <th scope="col">Category</th>
      <th scope="col">Topic</th>
      <th scope="col">Language</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="tutorial: ${tutorials}">
    <td th:text="${tutorial.getConAssignedTutorial().getTopicCatId().getCat().getCatName()}">Outline</td>
      <td th:text="${tutorial.getConAssignedTutorial().getTopicCatId().getTopic().getTopicName()}">Outline</td>
      <td th:text="${tutorial.getConAssignedTutorial().getLan().getLangName()}">Outline</td>
      
    </tr>
   
   
  </tbody>
</table>
  </div>
</div>
			</div>
		</div>
	</div>
<div th:replace="common/trail :: body-bottom-scripts"></div>
<script>
var projectPath='[(@{/})]';
$(document).ready( function () {
    $('#myTable').DataTable();
    $('#table_unpublished_tutorials').DataTable();
    
} );

let check_all = document.getElementById('check-all'); 
let comp_checkboxes = document.querySelectorAll('.form-check-input');
let components = document.getElementById('components');
let checkboxes = components.querySelectorAll('.form-check-input');
check_all.addEventListener('change',function(){
	comp_checkboxes.forEach(elem => {
		if(check_all.checked) elem.checked = true;
		else elem.checked = false;
	});
});
checkboxes.forEach(elem => {
	elem.addEventListener('change',function(e){
		if(e.target.id != "check-all") check_all.checked = false;
	});
});
</script>
</body>

</html>

