
<!-- Author: Alok Kumar -->
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail"></head>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div>
					<div class="alert alert-success" role="alert"
						th:if="${success_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${success_msg}"></span>
							</div>
						</div>
					</div>
					<div class="alert alert-danger" role="alert" th:if="${error_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${error_msg}"></span>
							</div>
						</div>
					</div>
				</div>


				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active py-3" id="edit"
						role="tabpanel" aria-labelledby="home-tab">
						<div class="card">
							<div class="card-header">
								<h4>Update Brochure</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6">
										<form class="form-horizontal" th:action="@{/updateBrochure}"
											method="post" enctype="multipart/form-data">
											
											<input type="hidden"  name="brochureId"  th:value="${brouchure.getId()}"/>
											
											
							<!--  
										
										<div class="form-group">
										<label for="MasterCategoryId">Select Category *</label> <select
											id="MasterCategoryId" class="form-control"
											name="categoryName" required>

											<option value=0> Select any Category</option>
											
												<option 
												th:each="category: ${categories}"
												th:value="${category.getCategoryId()}" th:text="${category.getCatName()}">
														</option>
										
										</select>
									</div>
									
									
									<div class="form-group">
										<label for="inputTopic">Select Topic *</label> <select
											id="inputTopic" class="form-control" name="inputTopicName"
											required="required">
												
										</select>
									</div>
									<div class="form-group">
										<label for="languageNameId">Select Language *</label> <select
											id="languageNameId" class="form-control" name="languageyName"
											required="required">
												
												<option th:each="lan: ${languages}" th:value="${lan.getLanId()}" th:text="${lan.getLangName()}"></option>
										
										</select>
									</div>
									
										-->	
											
											 
  											
											<div class="form-group">

										<label for="title">Title *</label> <input type="text"
											class="form-control" id="title" name="title"
											 required="required" th:value="${brouchure.getTitle()}"/>
		
											</div>
											
										<div class="form-group"  id="lanForWebFile">
										<label for="title"><h6>Web files available for the languages: </h6></label>
										<span id="webLan" th:each="filesofBro: ${filesOfBroList}"> 
										<b><span class="webLanClass"  th:if="${filesofBro.getWebPath() != ''}" th:text="${filesofBro.getLan().getLangName()}"></span></b>
										</span>
		
										</div>
										
										<div class="form-group" id="lanForPrintFile" >
										<label for="title"><h6>Print files available for the languages: </h6></label>
										<span th:each="filesofBro: ${filesOfBroList}"> 
										<b><span class="webPrintClass" th:if="${filesofBro.getPrintPath() != ''}" th:text="${filesofBro.getLan().getLangName()}" ></span></b>
										</span>
		
										</div>
											
											



										
<div th:each="lanouter,iter: ${languages}" th:id="${'fileInputDiv' + iter.index}" th:style="${'display: ' + (iter.first ? 'block' : 'none')}" >
<div class="form-group" style="float:left; width:20%; ">
<label th:for="${'languageNameId' + iter.index}">Select Language </label>
<select th:id="${'languageNameId' + iter.index}" class="form-control" name="languageName" >
<option value="0">Select ...</option>
<option th:each="lan : ${languages}" th:value="${lan.getLanId()}" th:text="${lan.getLangName()}"></option></select>
 </div>

<div class="form-group" style="float:left;  width:35%; margin-left:15px; margin-right:15px;">
	<label th:for="${'brouchure' + iter.index}">Brochure for web  </label>
	<input type="file" class="form-control" th:id="${'brouchure' + iter.index}" name="brouchure" accept=".jpeg,.jpg,.png,.pdf"  onchange="validate_file_size(this,734003200)"/>
	<small> (.jpg or .png or .pdf only)</small> 
	<small>Max file size : 700 MB</small>
</div>

<div class="form-group" style="float:left;  width:35%; margin-right:30px;">
	<label th:for="${'brouchurePrint' + iter.index}">Brochure for print </label>
	<input type="file" class="form-control" th:id="${'brouchurePrint' + iter.index}" name="brouchurePrint" accept=".jpeg,.jpg,.png,.pdf"  onchange="validate_file_size(this,734003200)"/>
	<small> (.jpg or .png or .pdf only)</small>
	<small>Max file size : 700 MB</small>
</div>
</div>
<br>
											
											<div class="form-group">

											
											<label><input type="checkbox" id="overwrite" name="overwrite" 
											  th:value="${brouchure.getId()}"  checked/> Do you want to replace?</label>
										
											</div>
											
											<div id="pVersion"></div>
											
											<h6 id="pVersionbeforeJS">Primary Version: <span th:text="${brouchure.getPrimaryVersion()}"></span></h6>
											
											
											<!-- <div class="form-group">

										<label for="primaryVersion">Primary Version </label> <input type="number"
											class="form-control" id="primaryVersion" name="primaryVersion"
											 th:value="${brouchure.getPrimaryVersion()}" readonly />
										
									</div> -->
											

											<button type="submit" class="btn a-btn">Submit</button>
										</form>
<br>
<br>
<div class="form-group" style="float:left; width:20%; ">
               	     <label>Select Language </label>
										<select id="languageforBro">
	  										<option value="">Select ...</option>
	  										<option th:each="lan : ${languages}" th:text="${lan.getLangName()}"></option>
										</select>
  </div>
<table class="table table-striped" id="myTable" data-order='[[ 0, "desc" ]]'>								
<thead>
    <tr>
      <th scope="col">Date Added</th>
      <th scope="col">Files</th>
      <th scope="col">Language</th>
      <th scope="col">Brouchure_Version</th>
      
    </tr>
  </thead>
  <tbody>
     <tr th:each="file1 : ${newfilesList}">
      <td scope="row">
       <span th:text="${file1.getDateAdded()}"></span>
      </td>
     
      <td> <img style="width: 150px; height: 100px" th:if="${file1.getWebPath().toLowerCase().endsWith('.pdf')}" th:src="@{/files/}+@{${file1.getThumbnailPath()}}"></img>
      									<img th:unless="${file1.getWebPath().toLowerCase().endsWith('.pdf')}" id="imagesource" th:src="@{/files/}+@{${file1.getWebPath()}}"
											style="width: 150px; height: 100px" />
										<br>
										<a th:href="@{/files/}+@{${file1.getWebPath()}}" target="_blank"> View</a> &nbsp;&nbsp;
										<a th:if="${file1.getPrintPath()!=null and file1.getPrintPath()!=''}" th:href="@{/files/}+@{${file1.getPrintPath()}}"
													download >Download</a>
										<a th:unless="${file1.getPrintPath()!=null and file1.getPrintPath()!='' }" th:href="@{/files/}+@{${file1.getWebPath()}}" download >Download</a>
					                </td>
	 	<td> <span th:text="${file1.getLan().getLangName()}"> </span></td>
	   <td><span th:text="${file1.getVersion().getBroVersion()}"></span></td>
    </tr>
   
  </tbody>
</table>
									</div>

								</div>
								
							</div>
						</div>


					</div>
			
				</div>
			</div>
		</div>
	</div>

	<div th:replace="common/trail :: body-bottom-scripts"></div>
<script>
var projectPath='[(@{/})]';
$(document).ready( function () {
	
   var table= $('#myTable').DataTable();
    $('#languageforBro').on('change', function(){
	       table.search(this.value).draw();   
	    });
	    
	$('#showOneMoreRow1').hide();   
    
} );

var divid = 0;

function addListener(divid) {
	var languageSelect = document.getElementById("languageNameId" + (divid - 1));
	if (languageSelect === null) {
		console.log("divid=", divid);
		return;
	}
	languageSelect.addEventListener("change", function() {
	  var selectedLanguage = languageSelect.value;
	  if (selectedLanguage !== "") {
	    addRow(divid);
	  }
	});
	
}

function addRow(divid) {
	var fileInputDiv = document.getElementById("fileInputDiv" + divid);
	if (fileInputDiv == null) {
		console.log("none", divid);
		return;
	}
    fileInputDiv.style.display = "block";
    divid += 1;
    addListener(divid);
}

console.log("none");

addRow(divid);



var checkbox = document.getElementById('overwrite');
var divWeb = document.getElementById('lanForWebFile');
var divPrint = document.getElementById('lanForPrintFile');
var webClassElements = document.getElementsByClassName('webLanClass');
var printClassElements = document.getElementsByClassName('printLanClass');
var webClassArray = Array.from(webClassElements);
var printClassArray = Array.from(printClassElements);


checkbox.addEventListener('change', function () {
 
  var displayStyle = this.checked ? 'block' : 'none';
 
  divWeb.style.display = displayStyle;
  divPrint.style.display = displayStyle;
  
});

</script>
</body>
</html>

 

 