
<!-- Author: Alok Kumar -->
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail"></head>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div>
					<div class="alert alert-success" role="alert"
						th:if="${success_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${success_msg}"></span>
							</div>
						</div>
					</div>
					<div class="alert alert-danger" role="alert" th:if="${error_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${error_msg}"></span>
							</div>
						</div>
					</div>
				</div>

				
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active py-3" id="add"
						role="tabpanel" aria-labelledby="home-tab">
						<div class="card">
							<div class="card-header">
								<h4>Update Brouchure</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6">
										<form class="form-horizontal" th:action="@{/updateBrochure}"
											method="post" enctype="multipart/form-data">
											
											<input type="hidden"  name="brochureId"  th:value="${brouchure.getId()}"/>
											
											
							<!--  
										
										<div class="form-group">
										<label for="MasterCategoryId">Select Category *</label> <select
											id="MasterCategoryId" class="form-control"
											name="categoryName" required>

											<option value=0> Select any Category</option>
											
												<option 
												th:each="category: ${categories}"
												th:value="${category.getCategoryId()}" th:text="${category.getCatName()}">
														</option>
										
										</select>
									</div>
									
									
									<div class="form-group">
										<label for="inputTopic">Select Topic *</label> <select
											id="inputTopic" class="form-control" name="inputTopicName"
											required="required">
												
										</select>
									</div>
									<div class="form-group">
										<label for="languageNameId">Select Language *</label> <select
											id="languageNameId" class="form-control" name="languageyName"
											required="required">
												
												<option th:each="lan: ${languages}" th:value="${lan.getLanId()}" th:text="${lan.getLangName()}"></option>
										
										</select>
									</div>
									
										-->	
											
											 
  											
											<div class="form-group">

										<label for="title">Title *</label> <input type="text"
											class="form-control" id="title" name="title"
											 required="required" th:value="${brouchure.getTitle()}"/>
										
											</div>
											
									
											<div class="form-group">
												<label for="Image" style="padding-top: 8px">Brouchure Web File </label> <input type="file" style="padding-right: 50px"
													class="form-control-file " id="Image"
													name="Image" placeholder="uploadFile" 
													accept=".jpg, .jpeg ,.png, .pdf" onchange="validate_file_size(this,1024000)" />

											</div>
											
											<div class="form-group">
												<label for="ImagePrint" style="padding-top: 8px">Brouchure Print File </label> <input type="file" style="padding-right: 50px"
													class="form-control-file " id="ImagePrint"
													name="ImagePrint" placeholder="uploadFile" 
													accept=".jpg, .jpeg ,.png, .pdf" onchange="validate_file_size(this,512000000)" />

											</div>
											
											<div class="form-group">

											
											<input type="checkbox" id="overwrite" name="overwrite" 
											  th:value="${brouchure.getId()}"  checked/>Do you want to replace ?
										
											</div>
											
											<div id="pVersion"></div>
											
											<h6 id="pVersionbeforeJS">Primary Version: <span th:text="${brouchure.getPrimaryVersion()}"></span></h6>
											
											
											<!-- <div class="form-group">

										<label for="primaryVersion">Primary Version </label> <input type="number"
											class="form-control" id="primaryVersion" name="primaryVersion"
											 th:value="${brouchure.getPrimaryVersion()}" readonly />
										
									</div> -->
											

											<button type="submit" class="btn a-btn">Submit</button>
										</form>
<br>
<br>
<table class="table table-striped" id="myTable" data-order='[[ 0, "desc" ]]'>								
<thead>
    <tr>
      <th scope="col">Date Added</th>
      <th scope="col">Files</th>
      <th scope="col">Brouchure_Version</th>
      
    </tr>
  </thead>
  <tbody>
     <tr th:each="ver : ${listofVersions}">
      <td scope="row">
       <span th:text="${ver.getDateAdded()}"></span>
      </td>
     
      <td>
        <iframe style="width: 150px; height: 100px" th:if="${ver.getVersionPosterPath().toLowerCase().endsWith('.pdf')}" th:src="@{/files/}+@{${ver.getVersionPosterPath()}}"></iframe>
      <img th:unless="${ver.getVersionPosterPath().toLowerCase().endsWith('.pdf')}" id="imagesource" th:src="@{/files/}+@{${ver.getVersionPosterPath()}}"
			style="width: 150px; height: 100px" />
			<br>
			<a th:href="@{/files/}+@{${ver.getVersionPosterPath()}}" target="_blank"> View</a> &nbsp;&nbsp;
			<a th:if="${ver.getVersionPrintPosterPath()!=null}" th:href="@{/files/}+@{${ver.getVersionPrintPosterPath()}}"
													download >Download</a>
			<a th:unless="${ver.getVersionPrintPosterPath()!=null}" th:href="@{/files/}+@{${ver.getVersionPosterPath()}}" download >Download</a>
	  </td>
	 
	   <td><span th:text="${ver.getBroVersion()}"></span></td>
    </tr>
   
  </tbody>
</table>
									</div>

								</div>
								
							</div>
						</div>


					</div>
			
				</div>
			</div>
		</div>
	</div>

	<div th:replace="common/trail :: body-bottom-scripts"></div>
<script>
var projectPath='[(@{/})]';
$(document).ready( function () {
    $('#myTable').DataTable();
    
    
} );

</script>
</body>
</html>

 

 