<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail"></head>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div>
					<div class="alert alert-success" role="alert"
						th:if="${success_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${success_msg}"></span>
							</div>
						</div>
					</div>
					<div class="alert alert-danger" role="alert" th:if="${error_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${error_msg}"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h4>Upload Tutorial</h4>
					</div>
					<div class="card-body">
						<div class="row" th:if="${category}">
							<div class="col">
								<form th:action="@{/submitTutorial}" method="post">

									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Category</th>
												<td><input class="form-control" id="categoryId"
													name="categoryName" th:value="${category.getCatName()}"
													readonly="readonly"></input></td>
											</tr>
										</thead>

										<thead>
											<tr>
												<div th:if="${tutorial}">
													<input type="hidden" id="tutorialId"
														th:value="${tutorial.getTutorialId()}" />
												</div>

												<div th:unless="${tutorial}">
													<input type="hidden" id="tutorialId" value="0" />
												</div>

												<th>Topic Name</th>
												<td><input class="form-control" id="topicId"
													name="categoryName" th:value="${topic.getTopicName()}"
													readonly="readonly"></input> <input type="hidden"
													id="topicID" th:value="${topic.getTopicId()}" /></td>
											</tr>

										</thead>

										<thead>
											<tr>
												<th>Language Name</th>
												<td><input class="form-control" id="lanId"
													name="languageName" th:value="${language.getLangName()}"
													readonly="readonly"></input></td>
											</tr>
										</thead>
									</table>

									<table class="table table-bordered"
										style="background: lightblue">
										<thead>
											<tr>

												<th>Sr.No</th>
												<th>Component</th>
												<th>Status</th>
												<th>User</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Outline</td>
												<td><span class="status-contri"
													th:text="${statusOutline}"></span></td>
												<td>
												<div th:if="${tutorial}">
												<span style="color: green;" th:if="${tutorial.getOutlineUser()}" th:text="${tutorial.getOutlineUser().getUsername()}"></span>
												</span></div></td>
												
												<th><span>
														<button type="button" class="btn btn-info"
															data-toggle="modal" data-target="#outlineModalContri"
															data-whatever="@mdo">
															<i style="color: blue;" class="fas fa-upload"></i>

														</button>
												</span></th>
											</tr>
											<tr>
												<td>2</td>
												<td>Script</td>
												<td><span class="status-contri"
													th:text="${statusScript}">Pending</span></td>
												<td>
												<div th:if="${tutorial}">
												<span style="color: green;" th:if="${tutorial.getScriptUser()}" th:text="${tutorial.getScriptUser().getUsername()}"></span>
												</span></div></td>
												
												<th><span>
														<button type="button" class="btn btn-info"
															data-toggle="modal" data-target="#scriptModale"
															data-whatever="@mdo">
															<i style="color: blue;" class="fas fa-upload"></i>
														</button>
												</span></th>

											</tr>


											<tr th:if = "${otherLan}">

												<td>3</td>
												<td>Slide</td>
												<td><span class="status-contri"
													th:text="${statusSlide}">Pending</span></td>
												<td>
												<div th:if="${tutorial}">
												<span style="color: green;" th:if="${tutorial.getSlideUser()}" th:text="${tutorial.getSlideUser().getUsername()}"></span>
												</span></div></td>
												
												<th><span>
														<button type="button" class="btn btn-info"
															data-toggle="modal" data-target="#slideModale"
															data-whatever="@mdo">
															<i style="color: blue;" class="fas fa-upload"></i>
														</button>
												</span></th>

											</tr>

											<tr>

												<td>4</td>
												<td>Video</td>
												<td><span class="status-contri"
													th:text="${statusVideo}">Pending</span></td>
												<td>
												<div th:if="${tutorial}">
												<span style="color: green;" th:if="${tutorial.getVideoUser()}" th:text="${tutorial.getVideoUser().getUsername()}"></span>
												</span></div></td>
												
												<th><span>
														<button type="button" class="btn btn-info"
															data-toggle="modal" data-target="#videoModel"
															data-whatever="@mdo">
															<i style="color: blue;" class="fas fa-upload"></i>
														</button>
												</span></th>

											</tr>
											<tr th:if = "${otherLan}">
												<td>5</td>
												<td>Keywords</td>
												<td><span class="status-contri"
													th:text="${statusKeyword}">Pending</span></td>
												<td>
												<div th:if="${tutorial}">
												<span style="color: green;" th:if="${tutorial.getKeywordUser()}" th:text="${tutorial.getKeywordUser().getUsername()}"></span>
												</span></div></td>
												
												<th><span>
														<button type="button" class="btn btn-info"
															data-toggle="modal" data-target="#keywordModale"
															data-whatever="@mdo">
															<i style="color: blue;" class="fas fa-upload"></i>
														</button>
												</span></th>

											</tr>
											<tr th:if = "${otherLan}">
												<td>6</td>
												<td>Prerequisite</td>
												<td><span class="status-contri"
													th:text="${statusPreReq}"></span></td>
												<td><div th:if="${tutorial}">
												<span style="color: green;" th:if="${tutorial.getPreRequiticUser()}" th:text="${tutorial.getPreRequiticUser().getUsername()}"></span>
												</span></div></td>
												<th>
													<button type="button" class="btn btn-info"
														data-toggle="modal" data-target="#prerequisiteModale"
														data-whatever="@mdo">
														<i style="color: blue;" class="fas fa-upload"></i>
													</button>
												</th>

											</tr>

								

										</tbody>
									</table>

								</form>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!-- outline modal starts -->
	<!-- Button trigger modal -->

	<div style="display: flex;">
		<script th:src="@{js/jquery-3.3.1.js}"></script>
		<div class="row" style='width: 100%;'>
			<div class="col-md-12 mx-auto">
				<div class="card card-signin flex-row a-card">

					<div class="card-body">
						<!--  Outline   Start-->
						<div class="modal fade" id="outlineModalContri"
							data-backdrop="static" data-keyboard="false" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div
								class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
								role="document">
								<div class="modal-content">
									<div class="modal-header">

										<h5 class="modal-title" id="exampleModalLabel">Add
											Outline</h5>

										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>

									<div class="modal-body">
										<div class="alert alert-success d-none w-100" role="alert"
											id="statusOutlineC"></div>
											<div class="alert alert-success d-none w-100 commentS" role="alert"></div>
										<div class="container">
											<div class="row">
												<div class="col" style="display: flex; flex-wrap: wrap;">
													<form th:action="@{/addOutline}" method="post"
														style="width: 100%;">
														<div class="form-group">
															<label for="message-text" class="col-form-label"></label>
															<textarea class="form-control editor" name="editor"
																id="editor" rows="10">
										        		  
																	<span th:if="${tutorial}"
																		th:text="${tutorial.getOutline()}"></span>
																 
										          			 </textarea>
														</div>
													</form>
												</div>
												<div class="col">
													<div th:if="${not #lists.isEmpty(comOutline)}">
														<h6 class="border-bottom">Comments:</h6>

														<div th:each="outlineComment : ${comOutline}"
															th:if="${not #lists.isEmpty(comOutline)}"
															class="border-bottom">
															<p class="my-0">
																<strong><i class="far fa-comment-alt"></i> <span
																	th:text="${outlineComment.getUser().getFullName()}"></span></strong>
															</p>
															<p class="my-0">
																<small><span
																	th:text="${outlineComment.getDateAdded()}"></span></small>
															</p>
															<p class="my-0 text-muted">
																<span th:text="${outlineComment.getComment()}"></span>
															</p>

														</div>
													</div>
													<div class="textarea-comment">

														<label for="msgCommentOutline" class="comments">Comments</label>
														<textarea class="form-control msgComment"
															name="msgCommentOutline" rows="3" required="required"
															id="Outline_comment"
															placeholder="Please enter your suggestions.">	</textarea>

													</div>
													<button id="Outline" type="button"
														class="btn comment-contri">comment</button>


												</div>

											</div>
										</div>
									</div>
									<div class="modal-footer">
										<div th:if="${tutorial}">
											<div
												th:if="${tutorial.getOutlineStatus() == 0 or tutorial.getOutlineStatus() == 4}">
												<button id="outlineId" type="button" class="btn btn-success">Upload
													Outline</button>
											</div>
											<div
												th:unless="${tutorial.getOutlineStatus() == 0 or tutorial.getOutlineStatus() == 4}">
												<button id="outlineId" type="button" class="btn btn-success"
													disabled="disabled">Upload Outline</button>
											</div>
										</div>
										<div th:unless="${tutorial}">
											<button id="outlineId" type="button" class="btn btn-success">Upload
												Outline</button>

										</div>
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>



									</div>
								</div>
							</div>
						</div>
						<!--  Outline   End-->



						<!-- Video Div	 -->
						<div class="modal fade" id="videoModel" tabindex="-1"
							role="dialog" aria-labelledby="exampleVideoModalLabel"
							aria-hidden="true" data-backdrop="static" data-keyboard="false">

							<div
								class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
								role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleVideoModalLabel">Upload
											Video</h5>
										<span style="color: green; padding-left: 50px"
											id="statusofVideo"> </span>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-12">
												<div class="alert alert-success d-none w-100" role="alert" id="status_video"></div>
												<div class="alert alert-success d-none w-100 commentS" role="alert"></div>
												<form class="form-horizontal" th:action="@{/addkeyword}"
													onsubmit="return submitForm(this);" method="post">
													<div class="form-group">
														<div id="VideoView"></div>
														<span id="VideoView1"> </span>
														<div th:if="${tutorial}">
															<div th:if="${tutorial.getVideo()}" id="videoDiv"
																class="container" height="240" width="320"
																scrolling="auto" autoplay="autoplay">

																<video id='storedVideoId' height="240" width="320"
																	controls="controls">
																	<!-- <source src="movie.mp4" type="video/mp4"> -->
																	<!-- <source th:src="${tutorial.getVideo()}"
																		type="video/mp4"></source> -->
																	<source th:if="${tutorial.getVideoStatus() != 0}"
																		th:src="@{/files/}+@{${tutorial.getVideo()}}"
																		type="video/mp4"></source>
																</video>
																
															</div>

														</div>
														<div> Video Duration : <span th:text="${FileDurationInSecond}"/> Seconds </div> 
														<div> Video File Size : <span th:text="${fileSizeInMB}"/> MB </div> 
														<div> Video Width : <span th:text="${FileWidth}"/> </div> 
														<div> Video Height : <span th:text="${FileHeight}"/>  </div> 
													</div>
												</form>
												<form id="upload-file-form-video"
													onsubmit="return submitForm(this);">
													<div class="custom-file mb-3">
														
															<div>
																<input type="file" class="custom-file-input"
																	id="videoFileIdA" name="videoFileName"
																	placeholder="uploadVideo" accept=".mp4"
																	required="required"></input>
															</div>
															


														<label class="custom-file-label" for="videoFileIdA">Choose
															File</label>
														<div class="invalid-feedback">Example invalid custom
															file feedback</div>
													</div>

												</form>
											</div>
											<div class="col-12">
												<div th:if="${not #lists.isEmpty(comVideo)}">
													<h6 class="border-bottom">Comments:</h6>
													<div th:each="comment : ${comVideo}"
														class="border-bottom">
														<p class="my-0">
															<strong><i class="far fa-comment-alt"></i> <span
																th:text="${comment.getUser().getFullName()}"></span></strong>
														</p>
														<p class="my-0">
															<small><span
																th:text="${comment.getDateAdded()}"></span></small>
														</p>
														<p class="my-0 text-muted">
															<span th:text="${comment.getComment()}"></span>
														</p>

													</div>

												</div>
												<div class="textarea-comment">
													<textarea class="form-control msgComment"
														name="msgCommentOutline" rows="3" required="required"
														id="Video_comment"
														placeholder="Please enter your suggestions.">	</textarea>

												</div>
												<button id="Video" type="button" class="btn comment-contri">comment</button>
											</div>
										</div>

									</div>

									<div class="modal-footer">
										<div th:if="${tutorial}">
											<div
												th:if="${tutorial.getVideoStatus() == 0 or tutorial.getVideoStatus() == 4}">
												<button id="videoId" type="button" class="btn btn-success">Upload</button>
											</div>
											<div
												th:unless="${tutorial.getVideoStatus() == 0 or tutorial.getVideoStatus() == 4}">
												<button id="videoId" type="button" class="btn btn-success"
													disabled="disabled">Upload</button>
											</div>
										</div>
										<div th:unless="${tutorial}">
											<button id="videoId" type="button" class="btn btn-success">Upload</button>
										</div>
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>

									</div>
								</div>
							</div>

						</div>
						<!-- 	End	Video Div	 -->

						<!-- star KeyWord-->



						<div class="modal fade modal-status" id="keywordModale"
							tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabelKeyWord" aria-hidden="true"
							data-backdrop="static" data-keyboard="false">

							<div
								class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
								role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabelKeyWord">Upload
											Keyword</h5>
										<div class="modal-title"></div>
										<span style="color: green; padding-left: 50px"
											id="statuskeyword"> </span>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">

										<div class="row">
											<div class="col-12">
												<div class="alert d-none w-100" role="alert" id="status_kw"></div>
												<div class="alert alert-success d-none w-100 commentS" role="alert"></div>
												<form class="form-horizontal" th:action="@{/addkeyword}"
													onsubmit="return submitForm(this);" method="post">
													<div class="form-group">
														<label for="message-text" class="col-form-label">Add
															Keyword</label>
														<textarea class="form-control" name="keywordArea"
															id="keywordArea" rows="10" required="required">
															<span th:if="${tutorial}" th:text="${tutorial.getKeyword()}"/>
							            				</textarea>
													</div>
												</form>
											</div>

											<div class="col-12">
												<div th:if="${not #lists.isEmpty(comKeyword)}">
													<h6 class="border-bottom">Comments:</h6>
													<div th:each="comment : ${comKeyword}"
														class="border-bottom">
														<p class="my-0">
															<strong><span
																th:text="${comment.getUser().getFullName()}"></span></strong>
														</p>
														<p class="my-0">
															<small><span
																th:text="${comment.getDateAdded()}"></span></small>
														</p>
														<p class="my-0 text-muted">
															<span th:text="${comment.getComment()}"></span>
														</p>

													</div>
												</div>
												<div class="textarea-comment">
													<textarea class="form-control msgComment"
														name="msgCommentOutline" rows="3" required="required"
														id="Keyword_comment"
														placeholder="Please enter your suggestions.">	</textarea>

												</div>
												<button id="Keyword" type="button"
													class="btn comment-contri">comment</button>

											</div>

										</div>
									</div>
									<div class="modal-footer">
										<div th:if="${tutorial}">
											<div
												th:if="${tutorial.getKeywordStatus() == 0 or tutorial.getKeywordStatus() == 4}">
												<button id="keywordId" type="button" class="btn btn-success">Upload</button>
											</div>
											<div
												th:unless="${tutorial.getKeywordStatus() == 0 or tutorial.getKeywordStatus() == 4}">
												<button id="keywordId" type="button" class="btn btn-success"
													disabled="disabled">Upload</button>
											</div>
										</div>
										<div th:unless="${tutorial}">
											<button id="keywordId" type="button" class="btn btn-success">Upload</button>
										</div>

										<!-- <button type="button" class="btn btn-outline-warning"
											id="editKeyword">
											<span style="color: green;"> <i class="fas fa-edit"></i>
												Edit
											</span>
										</button> -->

										<!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
						<!-- view script -->

						<!-- View keyword into textbox -->


						<div class="modal fade" id="keywordModaleView" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabelKeyWordView"
							aria-hidden="true">

							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabelKeyWordView">View
											Keyword</h5>
										<div class="modal-title"></div>

										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">

										<form class="form-horizontal" th:action="@{/addkeyword}"
											onsubmit="return submitForm(this);" method="post">

											<div class="form-group">

												<label for="message-text" class="col-form-label">View
													Keyword</label>
												<textarea class="form-control" name="keywordArea"
													id="keywordView" rows="10" required="required"
													readonly="readonly">
							       
							        </textarea>
											</div>
										</form>

										<div class="modal-footer"></div>

									</div>

								</div>
							</div>
						</div>

						<!-- Video View  -->

						<!-- Start  prerequistic -->
						<!-- Start  prerequistic -->


						<div class="modal fade" id="prerequisiteModale" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabelKeyword"
							aria-hidden="true">

							<div
								class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
								role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabelKeyword">Upload
											Prerequisite</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
									<div class="alert d-none w-100" role="alert" id="status_pr"></div>
										<!-- <div class="alert alert-success d-none w-100" role="alert"
											id="statusPreReq"></div> -->
										<div class="row">
											<div class="col-12" th:unless="${tutorial}">
												Please Add Some Component First
											</div>
											
											<div class="col-12" th:if="${tutorial}">
												<form method="post">

													<div class="form-group">
														<label for="inputUserame">Add Prerequisite</label> <select
															id="preRequsiteId" class="form-control"
															name="preRequsite" required="required">
															<option selected="selected">Select Category</option>
															<span id="categorySelect"
															th:each="category : ${categories}">

																<option class="form-control" id="categoryId"
																	name="categoryName" th:text="${category.getCatName()}"
																	readonly="readonly"></option>
														</span>
														</select>
													</div>
													<div class="form-group ">
														<label for="inputTopic">Topic Name</label> <select
															id="inputLanguageAll" class="form-control"
															name="inputLanguageAll" required="required">
														</select>
													</div>
													
													
													<div th:if="${tutorial}">
														<div
															th:if="${tutorial.getPreRequisticStatus() == 0 or tutorial.getPreRequisticStatus() == 4}">
															<div class="form-group ">
													<div class="form-check">
														<input type="checkbox" class="form-check-input"
															id="prRequired"> <label
															class="form-check-label" for="prRequired">No Prerequisite</label>
													</div>
														
													</div>
															<button id="uploadpreRequsiteId"
																name="uploadpreRequsiteId" type="button"
																class="btn btn-success">Upload</button>
														</div>
														<div
															th:unless="${tutorial.getPreRequisticStatus() == 0 or tutorial.getPreRequisticStatus() == 4}">
															<button id="uploadpreRequsiteId"
																name="uploadpreRequsiteId" type="button"
																class="btn btn-success" disabled="disabled">Upload</button>
														</div>

													</div>
													<button type="button" class="btn btn-success" id="addNullPrerequisite" style="display:none;">Submit</button>
												</form>
											</div>
											<div class="col-12"></div>
										</div>



									</div>

								</div>
							</div>

						</div>


						<div class="modal fade" id="keywordModale" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabelprerequisite"
							aria-hidden="true">

							<div
								class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
								role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabelprerequisite">Upload
											Prerequisite</h5>
										<div class="modal-title"></div>
										<span style="color: green; padding-left: 50px"
											id="statusofprerequisite"> </span>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>

									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-6">
												<form th:action="@{/}" method="post">

													<div class="form-group">
														<label for="inputUserame">Add Prerequisite</label> <select
															id="preRequsite" class="form-control" name="preRequsite"
															required="required">

															<option selected="selected">Select Category</option>
															<!-- <span th:each="category: ${categorys}">
								  								<option th:value="${category.getId()}"><span th:text="${category.categoryname}"></span></option>		
								  						</span> -->

															<span id="catId" th:each="catgoryName : ${categoryName}">

																<option class="form-control" id="categoryId"
																	name="categoryName"
																	th:text="${catgoryName.getCategoryname()}"
																	readonly="readonly"></option>
														</span>

														</select>
													</div>

													<div class="form-group ">

														<label for="inputTopic">Topic Name</label> <select
															id="inputTopic" class="form-control" name="inputTopic"
															required="required">

														</select>

													</div>

													<button id="preRequisite" type="button"
														class="btn btn-success">Upload</button>

												</form>
											</div>
											<div class="col-md-6">
												<div th:if="${not #lists.isEmpty(comPreReq)}">
													<h6 class="border-bottom">Comments:</h6>
													<div th:each="comment : ${comPreReq}"
														class="border-bottom">
														<p class="my-0">
															<i class="far fa-user"></i> <strong><span
																th:text="${comment.getUser().getFullName()}"></span></strong>
														</p>
														<p class="my-0">
															<i class="far fa-clock"></i> <small><span
																th:text="${comment.getDateAdded()}"></span></small>
														</p>
														<p class="my-0 text-muted">
															<span th:text="${comment.getComment()}"></span>
														</p>

													</div>

												</div>
												<div class="textarea-comment">
													<textarea class="form-control msgComment"
														name="msgCommentOutline" rows="3" required="required"
														id="Prerequisite_comment"
														placeholder="Please enter your suggestions.">	</textarea>

												</div>
												<button id="Prerequisite" type="button"
													class="btn comment-contri">comment</button>
											</div>
										</div>


									</div>

								</div>
							</div>

						</div>

						<!-- End prerequisiteModale-->

						<!-- star script  needed by om prakash-->

						<div class="modal fade" id="scriptModale" data-backdrop="static"
							data-keyboard="false" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabelScript" aria-hidden="true">
							<div
								class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
								role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabelScript">Upload
											Script</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-12">
												<div class="alert alert-success d-none w-100" role="alert" id="status_script"></div>
												<div class="alert alert-success d-none w-100 commentS" role="alert"></div>
												<form class="form-horizontal mb-3"
													th:action="@{/addkeyword}"
													onsubmit="return submitForm(this);" method="post">
													<div th:if="${tutorial}" class="card">
														<div class="card-body">
															<div class="form-group">
																<a th:if="${tutorial.getScriptStatus() != 0}"
																	th:href="@{/files/}+@{${tutorial.getScript()}}"
																	name="ScriptPdf" target="_blank" id="ScriptPdf">Click
																	To View</a>
																<!-- <a name="ScriptPdf" target="_blank"
																	id="viewScript" href="#"></a> -->
															</div>
														</div>
													</div>
												</form>
												<form id="upload-file-form-script"
													submit="return submitForm(this);">
													<div class="form-group">
														<div class="custom-file">
															<input type="file" class="custom-file-input"
																id="uploadScriptFile" name="uploadsScriptFile"
																placeholder="uploadFile" accept=".pdf"
																required="required"></input> <label
																class="custom-file-label" for="uploadsScriptId">Choose
																file...</label>
															<div class="invalid-feedback">Example invalid
																custom file feedback</div>
														</div>
														<!-- here -->

													</div>


												</form>

											</div>
											<div class="col-12">
												<div th:if="${not #lists.isEmpty(comScript)}">
													<h6 class="border-bottom">Comments:</h6>
													<div th:each="comment : ${comScript}"
														class="border-bottom">
														<p class="my-0">
															<i class="far fa-user"></i> <strong><span
																th:text="${comment.getUser().getFullName()}"></span></strong>
														</p>
														<p class="my-0">
															<i class="far fa-clock"></i> <small><span
																th:text="${comment.getDateAdded()}"></span></small>
														</p>
														<p class="my-0 text-muted">
															<span th:text="${comment.getComment()}"></span>
														</p>

													</div>

												</div>
												<div class="textarea-comment">
													<label for="Script_comment" class="comments">Comments</label>
													<textarea class="form-control msgComment"
														name="msgCommentOutline" rows="3" required="required"
														id="Script_comment"
														placeholder="Please enter your suggestions.">	</textarea>

												</div>
												<button id="Script" type="button" class="btn comment-contri">comment</button>

											</div>
										</div>


									</div>

									<div class="modal-footer">
										<div th:if="${tutorial}">
											<div
												th:if="${tutorial.getScriptStatus() == 0 or tutorial.getScriptStatus() == 4}">
												<button id="scriptId" type="button" class="btn btn-success">Upload</button>
											</div>
											<div
												th:unless="${tutorial.getScriptStatus() == 0 or tutorial.getScriptStatus() == 4}">
												<button id="scriptId" type="button" class="btn btn-success"
													disabled="disabled">Upload</button>
											</div>
										</div>
										<div th:unless="${tutorial}">
											<button id="scriptId" type="button" class="btn btn-success">Upload</button>
										</div>

										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>

									</div>

								</div>
							</div>

						</div>


						<!-- end script -->

						<!-- 	star Slide -->

						<div class="modal fade" id="slideModale" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabelSlide"
							aria-hidden="true" data-backdrop="static" data-keyboard="false">


							<div
								class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
								role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabelSlide">Upload
											Slide</h5>
										<span style="color: green; padding-left: 50px"
											id="statusofSlide"> </span>


										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-12">
												<div class="alert d-none w-100" role="alert" id="status_slide"></div>
												<div class="alert alert-success d-none w-100 commentS" role="alert"></div>

												<form class="form-horizontal mb-3"
													th:action="@{/addkeyword}"
													onsubmit="return submitForm(this);" method="post">
													<div th:if="${tutorial}" class="card">
														<div class="card-body">
															<div class="form-group">

																<a name="sliedPdf"
																	th:if="${tutorial.getSlideStatus() != 0}"
																	target="_blank"
																	th:href="@{/files/}+@{${tutorial.getSlide()}}"
																	id="sliedPdf"><i class="far fa-file-alt"></i> View
																	Slide</a>
															</div>
														</div>
													</div>
												</form>

												<form id="upload-file-form"
													submit="return submitForm(this);">
													<div class="form-group">
														<div class="custom-file">
															
																<div>
																	<input type="file" class="custom-file-input"
																		id="uploadsSlideFileId" name="uploadsSlideFile"
																		placeholder="uploadFile" accept=".zip"
																		required="required"></input>
																</div>
																
															

															<label class="custom-file-label" for="uploadsSlideFileId">Choose
																file...</label>
															<div class="invalid-feedback">Example invalid
																custom file feedback</div>
														</div>
														<!-- here -->

													</div>
												</form>
											</div>
											<div class="col-12">
												<div th:if="${not #lists.isEmpty(comSlide)}">
													<h6 class="border-bottom">Comments:</h6>
													<div th:each="comment : ${comSlide}"
														th:if="${not #lists.isEmpty(comSlide)}"
														class="border-bottom">
														<p class="my-0">
															<strong><span
																th:text="${comment.getUser().getFullName()}"></span></strong>
														</p>
														<p class="my-0">
															<small><span
																th:text="${comment.getDateAdded()}"></span></small>
														</p>
														<p class="my-0 text-muted">
															<span th:text="${comment.getComment()}"></span>
														</p>

													</div>

												</div>
												<div class="textarea-comment">
													<textarea class="form-control msgComment"
														name="msgCommentOutline" rows="3" required="required"
														id="Slide_comment"
														placeholder="Please enter your suggestions.">	</textarea>

												</div>
												<button id="Slide" type="button" class="btn comment-contri">comment</button>
											</div>
										</div>

									</div>
									<div class="modal-footer">
										<div th:if="${tutorial}">
											<div
												th:if="${tutorial.getSlideStatus() == 0 or tutorial.getSlideStatus() == 4}">
												<button id="slideId" type="button" class="btn btn-success">Upload</button>
											</div>
											<div
												th:unless="${tutorial.getSlideStatus() == 0 or tutorial.getSlideStatus() == 4}">
												<button id="slideId" type="button" class="btn btn-success"
													disabled="disabled">Upload</button>
											</div>
										</div>
										<div th:unless="${tutorial}">
											<button id="slideId" type="button" class="btn btn-success">Upload</button>
										</div>

										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
									</div>

								</div>
							</div>

						</div>
						<!-- 	End Slide -->



					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="js/ckeditor.js"></script>

	<script>
	$( document ).ready(function() {
		var msg = localStorage.getItem("upload_outline_msg");
		var content = '<div class="alert alert-info" role="alert">'+msg+'</div>';
	    if(msg!=""){
	    	/* alert('not null'); */
	    	$(".a-update-msg").html(content);
		    localStorage.setItem("upload_outline_msg", "");
	    	$('.a-card').css("margin-top", "20px"); 	
	    }
	    
	   /*  CKEDITOR.replace( 'editor' ); */
	    
	  /*   $( ".editor" ).load(function() {
	    	  alert('loaded');
	    	}); */
	    
	    
	    
	});
	
	let editor;

	ClassicEditor
	    .create( document.querySelector( '#editor' ) )
	    .then( newEditor => {
	       editor = newEditor;
	       /* editor.setReadOnly(true); */
	    } )
	    .catch( error => {
	        console.error( error );"@{/}"
	    } );

	// Assuming there is a <button id="submit">Submit</button> in your application.
		document.querySelector( '#outlineId' ).addEventListener( 'click', () => {
	    const editorData = editor.getData();
	    return editor.getData();

	    // ...
	} );
	

	</script>
	<script type="application/javascript">
		
		
		
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });

	
	
	</script>

	<div th:replace="common/trail :: body-bottom-scripts"></div>

	<script th:inline="javascript">
		var projectPath='[(@{/})]';
		var filep='[(@{/files/})]';
		
		$('#prRequired').change(function() {
			var upload = document.getElementById("uploadpreRequsiteId");
			var submit = document.getElementById("addNullPrerequisite");
			if (upload.style.display === "none") {
				upload.style.display = "block";
				submit.style.display = "none";
			} else {
				upload.style.display = "none";
				submit.style.display = "block";
			}
			
		});
		
		
	</script>
</body>
</html>