<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail"></head>
<style>
.fa-user-circle, .fa-clock, .fa-comment-alt {
	color: #014F7A;
}

#sm_url:hover, #sliedPdf:hover {
	background: none !important;
}
</style>

<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div th:replace="common/header :: alert_msg"></div>
				<div class="card">
					<div class="card-header">
						<h1 class="title-1">Upload Tutorial</h1>
					</div>
					<div class="card-body">
						<div class="row" th:if="${category}">
							<div class="col">
								<table class="table table-bordered">
									<tr>
										<th>Category</th>
										<td><input class="form-control" id="categoryId"
											name="categoryName" th:value="${category.getCatName()}"
											readonly="readonly"></input></td>
									</tr>
									<tr class="d-none">
										<td><span th:if="${tutorial}"> <input
												type="hidden" id="tutorialId"
												th:value="${tutorial.getTutorialId()}" />
										</span></td>

										<td><span th:unless="${tutorial}"> <input
												type="hidden" id="tutorialId" value="0" />
										</span></td>
									</tr>
									<tr>
										<th>Topic</th>
										<td><input class="form-control" id="topicId"
											name="categoryName" th:value="${topic.getTopicName()}"
											readonly="readonly"></input> <input type="hidden"
											id="topicID" th:value="${topic.getTopicId()}" /></td>
									</tr>
									<tr>
										<th>Language</th>
										<td><input class="form-control" id="lanId"
											name="languageName" th:value="${language.getLangName()}"
											readonly="readonly"></input></td>
									</tr>
								</table>

								<table class="table table-bordered table-cont table-hover">
									<thead>
										<tr>
											<th>Sr.No.</th>
											<th>Component</th>
											<th>Status</th>
											<th>User</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Outline</td>
											<td><span class="status-contri"
												th:text="${statusOutline}" id="status-outline"></span></td>
											<td>
												<div th:if="${tutorial}">
													<span id="user-outline" th:if="${tutorial.getOutlineUser()}"
														th:text="${#strings.capitalizeWords(tutorial.getOutlineUser().getFullName())}"></span>
													<span id="user-outline" th:unless="${tutorial.getOutlineUser()}"></span>
												</div>
												<div th:unless="${tutorial}">
													<span id="user-outline"></span>
												</div>
											</td>
											<th><span th:if="${disable}">
													<button type="button" class="btn btn-info"
														data-toggle="modal" data-target="#outlineModalContri"
														data-whatever="@mdo" disabled>
														<i class="fas fa-upload" ></i>
													</button>
											</span>
											<span th:unless="${disable}">
													<button type="button" class="btn btn-info"
														data-toggle="modal" data-target="#outlineModalContri"
														data-whatever="@mdo">
														<i class="fas fa-upload"></i>
													</button>
											</span>
											</th>
										</tr>
										<tr>
											<td>2</td>
											<td>Script</td>
											<td><span class="status-contri"
												th:text="${statusScript}" id="status-script">Pending</span></td>
											<td>
												<div th:if="${tutorial}">
													<span id="user-script" th:if="${tutorial.getScriptUser()}"
														th:text="${#strings.capitalizeWords(tutorial.getScriptUser().getFullName())}"></span>
														<span id="user-script" th:uless="${tutorial.getScriptUser()}"></span>
												</div>
												<div th:unless="${tutorial}">
													<span id="user-script"></span>
												</div>
											</td>

											<th><span th:if="${disable}">
													<button type="button" class="btn btn-info"
														data-toggle="modal" data-target="#scriptModale"
														data-whatever="@mdo" disabled>
														<i class="fas fa-upload"></i>
													</button>
											</span>
											<span th:unless="${disable}">
													<button type="button" class="btn btn-info"
														data-toggle="modal" data-target="#scriptModale"
														data-whatever="@mdo">
														<i class="fas fa-upload"></i>
													</button>
											</span>
											</th>

										</tr>


										<tr th:if="${isEnglish}">

											<td>3</td>
											<td>Slide</td>
											<td><span class="status-contri" th:text="${statusSlide}"
												id="status-slide">Pending</span></td>
											<td>
												<div th:if="${tutorial}">
													<span id="user-slide" th:if="${tutorial.getSlideUser()}"
														th:text="${#strings.capitalizeWords(tutorial.getSlideUser().getFullName())}"></span>
													<span id="user-slide" th:unless="${tutorial.getSlideUser()}"></span>
												</div>
												<div th:unless="${tutorial}">
													<span id="user-slide"></span>
												</div>
											</td>

											<th><span>
													<button type="button" class="btn btn-info"
														data-toggle="modal" data-target="#slideModale"
														data-whatever="@mdo">
														<i class="fas fa-upload"></i>
													</button>
											</span></th>

										</tr>

										<tr>

											<td>4</td>
											<td>Video</td>
											<td><span class="status-contri" th:text="${statusVideo}"
												id="status-video">Pending</span></td>
											<td>
												<div th:if="${tutorial}">
													<span id="user-video" th:if="${tutorial.getVideoUser()}"
														th:text="${#strings.capitalizeWords(tutorial.getVideoUser().getFullName())}"></span>
													<span id="user-video" th:unless="${tutorial.getVideoUser()}"></span>
												</div>
												<div th:unless="${tutorial}">
													<span id="user-video"></span>
												</div>
											</td>

											<th><span th:if="${disable}">
													<button type="button" class="btn btn-info"
														data-toggle="modal" data-target="#videoModel"
														data-whatever="@mdo" disabled>
														<i class="fas fa-upload"></i>
													</button>
											</span>
											<span th:unless="${disable}">
													<button type="button" class="btn btn-info"
														data-toggle="modal" data-target="#videoModel"
														data-whatever="@mdo">
														<i class="fas fa-upload"></i>
													</button>
											</span>
											</th>

										</tr>
										<tr th:if="${isEnglish}">
											<td>5</td>
											<td>Keywords</td>
											<td><span class="status-contri"
												th:text="${statusKeyword}" id="status-kw">Pending</span></td>
											<td>
												<div th:if="${tutorial}">
													<span id="user-kw" th:if="${tutorial.getKeywordUser()}"
														th:text="${#strings.capitalizeWords(tutorial.getKeywordUser().getFullName())}"></span>
													<span id="user-kw" th:unless="${tutorial.getKeywordUser()}"></span>
												</div>
												<div th:unless="${tutorial}">
													<span id="user-kw"></span>
												</div>
											</td>

											<th><span>
													<button type="button" class="btn btn-info"
														data-toggle="modal" data-target="#keywordModale"
														data-whatever="@mdo">
														<i class="fas fa-upload"></i>
													</button>
											</span></th>

										</tr>
										<tr th:if="${isEnglish}">
											<td>6</td>
											<td>Prerequisite</td>
											<td><span class="status-contri"
												th:text="${statusPreReq}" id="status-pre"></span></td>
											<td>
											<div th:if="${tutorial}">
													<span id="user-pre" th:if="${tutorial.getPreRequiticUser()}"
														th:text="${#strings.capitalizeWords(tutorial.getPreRequiticUser().getFullName())}"></span>
													<span id="user-pre" th:unless="${tutorial.getPreRequiticUser()}"></span>
											</div>
											<div th:unless="${tutorial}">
													<span id="user-pre"></span>
											</div>
												
												</td>
											<th>
												<button type="button" class="btn btn-info"
													data-toggle="modal" data-target="#prerequisiteModale"
													data-whatever="@mdo">
													<i class="fas fa-upload"></i>
												</button>
											</th>

										</tr>



									</tbody>
								</table>



							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>



	<!-- Outline Modal -->
	<div class="modal fade" id="outlineModalContri" data-backdrop="static"
		data-keyboard="false" tabindex="-1" role="dialog"
		aria-labelledby="modalLabelOutline" aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<span class="modal-title" id="modalLabelOutline">Add Outline</span>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="alert d-none w-100" role="alert" id="alert-outline"></div>
					<div class="row">
						<div class="col-12">
							<div class="card mb-2">
								<div class="card-header" th:if="${category} and ${topic}">
									<span class="font-weight-bold"><span
										th:text="${category.getCatName()}"></span> | <span
										th:text="${topic.getTopicName()}"></span></span>
								</div>
								<div class="card-body">
									<form th:action="@{/addOutline}" method="post" class="w-100">
										<div class="form-group">
											<label for="message-text" class="col-form-label"><span>Add
													outline : </span><span class="text-muted">(Characters limit : 1500)</span></label>
											<textarea class="form-control editor" name="editor"
												id="editor" rows="10" maxlength="1500">
										        		  
																	<span th:if="${tutorial}"
													th:text="${tutorial.getOutline()}"></span>
																 
										          			 </textarea>
										</div>
									</form>
								</div>
							</div>

						</div>
						<div class="col-12">
							<div th:replace="common/commonElements :: comments_fragment(${comOutline},'Outline_comment','Outline')"></div>
						</div>

					</div>

				</div>
				<div class="modal-footer">
					<div th:if="${tutorial}">
						<div
							th:if="${tutorial.getOutlineStatus() == 0 or tutorial.getOutlineStatus() == 4}">
							<button id="outlineId" type="button" class="btn btn-success">Upload
								Outline</button>
						</div>
						<div
							th:unless="${tutorial.getOutlineStatus() == 0 or tutorial.getOutlineStatus() == 4}">
							<button id="outlineId" type="button" class="btn btn-success"
								disabled="disabled">Upload Outline</button>
						</div>
					</div>
					<div th:unless="${tutorial}">
						<button id="outlineId" type="button" class="btn btn-success">Upload
							Outline</button>

					</div>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>



				</div>
			</div>
		</div>
	</div>


	<!-- Script Modal -->
	<div class="modal fade" id="scriptModale" data-backdrop="static"
		data-keyboard="false" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabelScript" aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabelScript">Upload
						Script</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<div class="alert d-none w-100" role="alert" id="alert-script"></div>

							<div class="alert alert-info" role="alert">
								<i th:if="${sm_url}" class="fas fa-external-link-alt"></i> <a th:if="${sm_url}" th:href="${sm_url}"
									class="alert-link" style="text-decoration: underline;"
									target="_blank" id="sm_url">Click here to proceed to Script
									Manager</a>
									<a th:unless="${sm_url}" class="alert-link" style="text-decoration: underline;"
									target="_blank" id="sm_url">Please upload component or video first.</a>
							</div>
						</div>
						<div class="col-12">
							<div th:replace="common/commonElements :: comments_fragment(${comScript},'Script_comment','Script')"></div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<div th:if="${tutorial}">
						<div
							th:if="${tutorial.getScriptStatus() == 0 or tutorial.getScriptStatus() == 4}">
							<button id="scriptId" type="button" class="btn btn-success">Submit
								For Domain Review</button>
						</div>
						<div
							th:unless="${tutorial.getScriptStatus() == 0 or tutorial.getScriptStatus() == 4}">
							<button id="scriptId" type="button" class="btn btn-success"
								disabled="disabled">Under Review Process</button>
						</div>
					</div>
					<div th:unless="${tutorial}">
						<button id="scriptId" type="button" class="btn btn-success">Submit
							For Domain Review</button>
					</div>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>

	</div>
	<!-- Slide Modal -->
	<div class="modal fade" id="slideModale" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabelSlide" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabelSlide">Upload
						Slide</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<div class="alert d-none w-100" role="alert" id="status_slide"></div>
							<div class="alert d-none w-100 commentS" role="alert"
								id="alert-slide"></div>
							<div class="card mb-2">
								<div class="card-header">
									<span class="font-weight-bold"><span
										th:text="${category.getCatName()}"></span> | <span
										th:text="${topic.getTopicName()}"></span></span>
								</div>
								<div class="card-body">
									<form class="form-horizontal mb-3" th:action="@{/addkeyword}"
										method="post">
										<div th:if="${tutorial}">
											<div th:if="${tutorial.getSlideStatus() != 0}">
												<div>
													<div class="alert alert-info" role="alert">
														<a class="alert-link sm_url" target="_blank" id="sliedPdf"
															name="categoryName"
															th:href="@{/files/}+@{${tutorial.getSlide()}}"
															style="text-decoration: underline; color: #014F7A;">
															<i class="fas fa-external-link-alt"></i> Click to
															download slides for <span class="font-weight-bold"><span
																th:text="${category.getCatName()}"></span> | <span
																th:text="${topic.getTopicName()}"></span></span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</form>
									<form id="upload-file-form">
										<div class="form-group">
											<div class="custom-file">
												<div>
													<input type="file" class="custom-file-input"
														id="uploadsSlideFileId" name="uploadsSlideFile"
														placeholder="uploadFile" accept=".zip" required="required"></input>
												</div>
												<label class="custom-file-label" for="uploadsSlideFileId">Choose
													file...</label>
												<div class="invalid-feedback">Example invalid custom
													file feedback</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div
								th:replace="common/commonElements :: comments_fragment(${comSlide},'Slide_comment','Slide')"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div th:if="${tutorial}">
						<div
							th:if="${tutorial.getSlideStatus() == 0 or tutorial.getSlideStatus() == 4}">
							<button id="slideId" type="button" class="btn btn-success">Upload</button>
						</div>
						<div
							th:unless="${tutorial.getSlideStatus() == 0 or tutorial.getSlideStatus() == 4}">
							<button id="slideId" type="button" class="btn btn-success"
								disabled="disabled">Upload</button>
						</div>
					</div>
					<div th:unless="${tutorial}">
						<button id="slideId" type="button" class="btn btn-success">Upload</button>
					</div>
					<div class="loader-wrapper d-none">
					<div class=" loader"></div> <div> Uploading data ... Please wait.</div>
					</div>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Video Modal -->
	<div class="modal fade" id="videoModel" tabindex="-1" role="dialog"
		aria-labelledby="exampleVideoModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">

		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleVideoModalLabel">Upload
						Video</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<div class="alert d-none w-100" role="alert" id="alert-video"></div>

							<div class="card mb-2">
								<div class="card-header">
									<span class="font-weight-bold" th:if="${category} and ${topic}"><span
										th:text="${category.getCatName()}"></span> | <span
										th:text="${topic.getTopicName()}"></span></span>
								</div>
								<div class="card-body">
									<form class="form-horizontal" th:action="@{/addkeyword}"
										method="post">
										<div class="form-group">
											<div id="VideoView"></div>
											<span id="VideoView1"> </span>
											<div th:if="${tutorial}">
												<div th:if="${tutorial.getVideo()}" id="videoDiv"
													class="container" height="240" width="320" scrolling="auto"
													autoplay="autoplay">

													<video id='storedVideoId' height="240" width="320"
														controls="controls">

														<source th:if="${tutorial.getVideoStatus() != 0}"
															th:src="@{/files/}+@{${tutorial.getVideo()}}"
															type="video/mp4"></source>
													</video>

												</div>


											</div>

										</div>
									</form>
									<form id="upload-video">
										<div class="custom-file mb-3">

											<div>
												<input type="file" class="custom-file-input"
													id="videoFileIdA" name="videoFileName"
													placeholder="uploadVideo" accept=".mp4" required="required"></input>
											</div>



											<label class="custom-file-label" for="videoFileIdA">Choose
												File</label>
											<div class="invalid-feedback">Example invalid custom
												file feedback</div>
										</div>

									</form>
									<table class="table table-bordered">

										<tbody>
											<tr>
												<th scope="row">Video Duration</th>
												<td><span th:text="${FileDurationInSecond}"></span>
													Seconds</td>
											</tr>
											<tr>
												<th scope="row">Video File Size</th>
												<td><span th:text="${fileSizeInMB}"></span> MB</td>
											</tr>
											<tr>
												<th scope="row">Video Width</th>
												<td><span th:text="${FileWidth}"></span></td>
											</tr>
											<tr>
												<th scope="row">Video Height</th>
												<td><span th:text="${FileHeight}"></span></td>
											</tr>
										</tbody>
									</table>


								</div>
							</div>


						</div>
						<div class="col-12">
							<div
								th:replace="common/commonElements :: comments_fragment(${comVideo},'Video_comment','Video')"></div>
						</div>
					</div>

				</div>

				<div class="modal-footer">
					<div th:if="${tutorial}">
						<div
							th:if="${tutorial.getVideoStatus() == 0 or tutorial.getVideoStatus() == 4}">
							<button id="videoId" type="button" class="btn btn-success">Upload</button>
						</div>
						<div
							th:unless="${tutorial.getVideoStatus() == 0 or tutorial.getVideoStatus() == 4}">
							<button id="videoId" type="button" class="btn btn-success"
								disabled="disabled">Upload</button>
						</div>
					</div>
					<div th:unless="${tutorial}">
						<button id="videoId" type="button" class="btn btn-success">Upload</button>
					</div>
					<div class="loader-wrapper d-none">
					<div class=" loader"></div> <div> Uploading data ... Please wait.</div>
					</div>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>

	</div>

	<!-- Keywords Modal -->
	<div class="modal fade modal-status" id="keywordModale" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabelKeyWord"
		aria-hidden="true" data-backdrop="static" data-keyboard="false">

		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabelKeyWord">Add
						Keyword</h5>
					<div class="modal-title"></div>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<div class="row">
						<div class="col-12">
							<div class="alert d-none w-100" role="alert" id="alert-kw"></div>
							<div class="alert alert-success d-none w-100 commentS"
								role="alert"></div>
							<div class="card mb-2">
								<div class="card-header">
									<span class="font-weight-bold"><span
										th:text="${category.getCatName()}"></span> | <span
										th:text="${topic.getTopicName()}"></span></span>
								</div>
								<div class="card-body">
									<form class="form-horizontal" th:action="@{/addkeyword}"
										method="post">
										<div class="form-group">
											<div th:if="${tutorial}">
												<textarea class="form-control" name="keywordArea"
													id="keywordArea" rows="3"
													th:text="${tutorial.getKeyword()}"></textarea>
											</div>
											<div th:unless="${tutorial}">
												<textarea class="form-control" name="keywordArea"
													id="keywordArea" rows="3">
							            				</textarea>
											</div>


										</div>
									</form>
								</div>
							</div>

						</div>

						<div class="col-12">
							<div
								th:replace="common/commonElements :: comments_fragment(${comKeyword},'Keyword_comment','Keyword')"></div>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<div th:if="${tutorial}">
						<div
							th:if="${tutorial.getKeywordStatus() == 0 or tutorial.getKeywordStatus() == 4}">
							<button id="keywordId" type="button" class="btn btn-success">Submit</button>
						</div>
						<div
							th:unless="${tutorial.getKeywordStatus() == 0 or tutorial.getKeywordStatus() == 4}">
							<button id="keywordId" type="button" class="btn btn-success"
								disabled="disabled">Submit</button>
						</div>
					</div>
					<div th:unless="${tutorial}">
						<button id="keywordId" type="button" class="btn btn-success">Submit</button>
					</div>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Prerequisite -->
	<div class="modal fade" id="prerequisiteModale" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabelKeyword"
		aria-hidden="true">

		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabelKeyword">Add
						Prerequisite</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="alert w-100 d-none" role="alert" id="alert-pre"></div>
					<div class="row">
						<div class="col-12">
							<div class="card mb-2">
								<div class="card-header">
									<span class="font-weight-bold"><span
										th:text="${category.getCatName()}"></span> | <span
										th:text="${topic.getTopicName()}"></span></span>
								</div>
								<div class="card-body">
								<div th:if="${pre_req}" class="alert alert-info" role="alert" th:text="${pre_req}" id="prev_pr"> </div>
								<div class="alert alert-info d-none" role="alert" id="current_pr"></div>
									<form method="post" >
									<div id="pr-data">
									<div class="form-group">
											<label for="preRequsiteId"> <span
												class="font-weight-bold">Select Prerequisite</span></label> <select
												id="preRequsiteId" class="form-control" name="preRequsite"
												required="required">
												<option selected="selected">Select Category</option>
												<span id="categorySelect" th:each="category : ${categories}">
													<option class="form-control" 
														name="categoryName" th:text="${category.getCatName()}"
														readonly="readonly"></option>
											</span>
											</select>
										</div>
										<div class="form-group ">
											<label for="preReqTopic"><span
												class="font-weight-bold">Topic Name</span></label> <select
												id="preReqTopic" class="form-control"
												name="inputLanguageAll" required="required">
											</select>
										</div>
									
									</div>
										
										<div th:if="${tutorial}">
											<div
												th:if="${tutorial.getPreRequisticStatus() == 0 or tutorial.getPreRequisticStatus() == 4}">
												<div class="form-group ">
													<div class="form-check">
														<input type="checkbox" class="form-check-input"
															id="prRequired"> <label class="form-check-label"
															for="prRequired">No Prerequisite</label>
													</div>

												</div>
												
												<button id="uploadpreRequsiteId" name="uploadpreRequsiteId"
													type="button" class="btn btn-success">Upload</button>
											</div>
											<div
												th:unless="${tutorial.getPreRequisticStatus() == 0 or tutorial.getPreRequisticStatus() == 4}">
												<button id="uploadpreRequsiteId" name="uploadpreRequsiteId"
													type="button" class="btn btn-success" disabled="disabled">Upload</button>
											</div>

										</div>
										<div th:unless="${tutorial}">
										<div class="form-group ">
													<div class="form-check">
														<input type="checkbox" class="form-check-input"
															id="prRequired"> <label class="form-check-label"
															for="prRequired">No Prerequisite</label>
													</div>

												</div>
										<button id="uploadpreRequsiteId" name="uploadpreRequsiteId"
													type="button" class="btn btn-success">Upload</button>
										</div>
										<button type="button" class="btn btn-success"
											id="addNullPrerequisite" style="display: none;">Submit</button>
									</form>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div
								th:replace="common/commonElements :: comments_fragment(${comPreReq},'pre_comment','pre-btn')"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- IMPORTANT This version of jquery is needed for ckeditor -->
	<script th:src="@{js/jquery-3.3.1.js}"></script>
	<script th:src="@{/js/ckeditor.js}"></script>
	<div th:replace="common/trail :: body-bottom-scripts"></div>
	<script>
	
	$( document ).ready(function() {
		
	});
	
	var projectPath='[(@{/})]';
	var filep='[(@{/files/})]';
		
	var editor;
	ClassicEditor
	    .create( document.querySelector( '#editor' ) )
	    .then( newEditor => {
	       editor = newEditor;
	    } )
	    .catch( error => {
	        console.error( error );
	    } );
	
		document.querySelector( '#outlineId' ).addEventListener( 'click', () => {
	    const editorData = editor.getData();
	    return editor.getData();

	} );
	
	//pre-requisite
	$('#prRequired').change(function() {
			var upload = document.getElementById("uploadpreRequsiteId");
			var submit = document.getElementById("addNullPrerequisite");
			
			if (upload.style.display === "none") {
				upload.style.display = "block";
				submit.style.display = "none";
				//document.getElementById("pr-data").style.display = "block";
			} else {
				upload.style.display = "none";
				submit.style.display = "block";
				//document.getElementById("pr-data").style.display = "none";
			}
			
		});
		
	//slides & video upload
	$('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
	
	</script>
</body>
</html>