
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail"></head>
<style>
.nav-con-timescript {
	border-right: 5px solid orange;
	font-size: 0.9rem;
	/* text-decoration: underline; */
}

.nav-con-timescript a {
	color: #044F7A !important;
	font-weight: bold !important;
}
</style>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div>
					<div class="alert alert-success" role="alert"
						th:if="${success_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${success_msg}"></span>
							</div>
						</div>
					</div>
					<div class="alert alert-danger" role="alert" th:if="${error_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${error_msg}"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h1 class="title-1">Upload Timescript</h1>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col">
								<table id="tableId" class="table table-striped">

									<thead class="">

										<tr>
											<th>Id</th>
											<th>Category</th>
											<th>Tutorial</th>
											<th>Language</th>
											<th>Upload TimeScript</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="componenettutorial : ${tutorial}">

											<td th:text="${componenettutorial.getTutorialId()}"><i
												style="color: green;" class="fas fa-check-circle"></i></td>
											<td
												th:text="${componenettutorial.getConAssignedTutorial().getTopicCatId().getCat().getCatName()}"><i
												style="color: green;" class="fas fa-check-circle"></i></td>
											<td
												th:text="${componenettutorial.getConAssignedTutorial().getTopicCatId().getTopic().getTopicName()}"><i
												style="color: green;" class="fas fa-check-circle"></i></td>
											<td
												th:text="${componenettutorial.getConAssignedTutorial().getLan().getLangName()}"><i
												style="color: maroon;" class="fas fa-check-circle"></i></td>
											<td>
												<button type="button"
													class="btn btn-info timeScriptFetchData"
													th:value="${componenettutorial.getTutorialId()}"
													data-whatever="@mdo">
													<i style="color: blue;" class="fas fa-upload"></i>
												</button>
											</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="uploadTimescript" data-backdrop="static"
		data-keyboard="false" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabelScript" aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabelScript">Upload
						TimeScript</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<div class="alert alert-msg" style="display: none;"></div>

							<form id="upload-file-form-script">
								<div class="form-group">
									<div class="custom-file">
										<input type="file" class="custom-file-input"
											id="uploadScriptFile" name="uploadsScriptFile"
											placeholder="uploadFile" accept=".pdf" required="required"></input>
										<label class="custom-file-label" for="uploadsScriptId">Choose
											file...</label>
										<div class="invalid-feedback">Example invalid custom
											file feedback</div>
										<input type="hidden" id="tutorialId" />
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="timeScript" type="button" class="btn btn-success">Upload</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<script th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" charset="utf8"
		th:src="@{/datatables.js}"></script>

	<script>
			
			
			$(document).ready( function () {
			    $('#tableId').DataTable();
			} );
			
			</script>


	
<div th:replace="common/trail :: body-bottom-scripts"></div>
	<script th:inline="javascript">
    
		var projectPath='[(@{/})]';
		
	</script>
</body>
</html>

