<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail"></head>
<style>
.nav-con-upload{
border-right: 5px solid orange;
font-size:0.9rem;
/* text-decoration: underline; */
}
.nav-con-upload a{
color: #044F7A!important;
font-weight:bold!important;
}
</style>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div>
					<div class="alert alert-success" role="alert"
						th:if="${success_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${success_msg}"></span>
							</div>
						</div>
					</div>
					<div class="alert alert-danger" role="alert" th:if="${error_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${error_msg}"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h4>Upload Tutorial</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-6">
								<form th:action="@{/uploadTutorial}" method="post"
									onsubmit="return submitForm(this);">
									<div class="form-group">
										<label for="inputUserame"></label> <select
											id="categoryContributor" class="form-control "
											name="categoryName" required="required">

											<option id="categoryContributor">Select Category</option>
											<option th:each="catName: ${contributorTutorial}"
												th:value="${catName}" th:text="${catName}"></option>
										</select>
									</div>
									<div class="form-group ">
										<label for="inputTopicContributor"></label> <select
											id="inputTopicContributor" class="form-control"
											name="inputTopic" required="required">
											<option value="0">Select Topic</option>
										</select>
									</div>
									<div class="form-group ">
										<label for="inputLanguageContributor"></label> <select
											id="inputLanguageContributor" class="form-control"
											name="inputLanguage" required="required">
											<option value="0">Select Language</option>
										</select>
									</div>
									<button type="submit" class="btn btn-success">Submit</button>
									&nbsp;&nbsp;&nbsp;
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="common/trail :: body-bottom-scripts"></div>
	<script th:inline="javascript">
		var projectPath = '[(@{/})]';
	</script>
</body>
</html>

