body{
	background: #F2F2F2!important;
	
}
.a-card{
	margin-top: 50px;
	border: 1px solid rgb(28,120,113,1);
    border-radius: 10px;
    padding: 2% 5%;
}
.a-btn{
	background:#1C7871;
	color : #fff;
	font-size: 0.8rem;
    padding: 1px 10px;
}
.a-card-title{
	color : #BF360D!important;
	font-size : 1.5rem;
}
.a-links a{
	color : #1C7871;
}

	
.nav-tabs .active{
	border-bottom : 1px solid #1C7871!important;
} 

.approve-success-msg{
	/* border: 1px solid #00e676;
    padding: 5px 25px;
    border-radius: 5px;
    background: #F9FBE7;
    text-align : center;
    margin-top:10px;
    color : green; */
    /* margin-left : 15px; */
    color : green;
    margin-bottom: 25px;
}
.a-table-font {
	font-size : 0.9rem;
	color : rgba(0,0,0,0.6);
}
.user-img i{
	color : #1C7871;
}
.a-tab-pane{
	margin-top:40px;
}
.a-update-msg{
	text-align:center;
	margin-top: 90px;
	color: green;
}
.a-wrapper{
	margin-top:120px;
	width:100%;
}
.a-checkbox{
	width: 20px;
    height: 20px;
    margin-right: 20px;
}